/* --------------------------------------------------------------- */
/* > handling-nav-private.css
/*
/* : styles handling nav private
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Handlings Styles
/* ---------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-nav-private"] {

  display: none;

}

/* set background red  */
#radio-nav-private-sport:checked ~ .row-container:nth-of-type(1) label[for="radio-nav-private-sport"],
#radio-nav-private-meals:checked ~ .row-container:nth-of-type(1) label[for="radio-nav-private-meals"],
#radio-nav-private-brain:checked ~ .row-container:nth-of-type(1) label[for="radio-nav-private-brain"],
#radio-nav-private-language:checked ~ .row-container:nth-of-type(1) label[for="radio-nav-private-language"],
#radio-nav-private-books:checked ~ .row-container:nth-of-type(1) label[for="radio-nav-private-books"] {

  background-image: linear-gradient(to right, #db7272, #da9292);

}

/* change img custom radio */
#radio-nav-private-sport:checked ~ .row-container:nth-of-type(1) label[for="radio-nav-private-sport"] > .counter-custom-radio-nav-label-radio .custom-radio-small > img,
#radio-nav-private-meals:checked ~ .row-container:nth-of-type(1) label[for="radio-nav-private-meals"] > .counter-custom-radio-nav-label-radio .custom-radio-small > img,
#radio-nav-private-brain:checked ~ .row-container:nth-of-type(1) label[for="radio-nav-private-brain"] > .counter-custom-radio-nav-label-radio .custom-radio-small > img,
#radio-nav-private-language:checked ~ .row-container:nth-of-type(1) label[for="radio-nav-private-language"] > .counter-custom-radio-nav-label-radio .custom-radio-small > img,
#radio-nav-private-books:checked ~ .row-container:nth-of-type(1) label[for="radio-nav-private-books"] > .counter-custom-radio-nav-label-radio .custom-radio-small > img {

  display: flex;

}

/* ---------------------------------------------------------------- */
/* 🟥 Handling Action ( Sub Nav )
/* ---------------------------------------------------------------- */

#radio-nav-private-sport:checked ~ .row-container:nth-of-type(3) #nav-sport-private,
#radio-nav-private-meals:checked ~ .row-container:nth-of-type(3) #nav-meals-private,
#radio-nav-private-brain:checked ~ .row-container:nth-of-type(3) #nav-brain-trainer-private,
#radio-nav-private-language:checked ~ .row-container:nth-of-type(3) #nav-language-trainer-private,
#radio-nav-private-books:checked ~ .row-container:nth-of-type(3) #nav-books-private {

  display: grid;

}
