/* --------------------------------------------------------------- */
/* > nav-private.css
/*
/* : styles nav more it
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Nav Private Container
/* ---------------------------------------------------------------- */

#nav-private-container {

  width: 100%;
  padding: .5em 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  row-gap: .4em;
  column-gap: .4em;

  /* background-color: green; */

}

/* ---------------------------------------------------------------- */
/* Labels | Nav Private Container
/* ---------------------------------------------------------------- */

#nav-private-container > label {

  width: 100%;

}
