/* --------------------------------------------------------------- */
/* > sub-nav-private.css
/*
/* : styles sub nav private
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Sub Nav Private Container
/* ---------------------------------------------------------------- */

#sub-nav-private-container {

  padding: .5em 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;

  row-gap: .4em;
  column-gap: .4em;

  background-color: rgb(169, 169, 169);

}
