/* --------------------------------------------------------------- */
/* > links-light-grey.css
/*
/* : style default links which light grey style
/*   optimal for .zip, github, ... links
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* All | Link Light Grey
/* ------------------------------------------------------- */

.link-light-grey-small,
.link-light-grey-medium,
.link-light-grey-big {


}

/* ------------------------------------------------------- */
/* Small
/* ------------------------------------------------------- */

.link-light-grey-small {


}

/* ------------------------------------------------------- */
/* Medium
/* ------------------------------------------------------- */

.link-light-grey-medium {


}

/* ------------------------------------------------------- */
/* Big
/* ------------------------------------------------------- */

.link-light-grey-big {


}
