/* --------------------------------------------------------------- */
/* > links-light-grey.css
/*
/* : style default links which light grey style
/*   optimal for .zip, github, ... links
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* All | Link Light Grey
/* ------------------------------------------------------- */

.link-light-grey-small,
.link-light-grey-medium,
.link-light-grey-big {

  display: flex;
  align-items: center;
  column-gap: .4em;

  font-weight: bold;

  border-radius: .4em;

  border: 1px solid rgb(67, 67, 67);
  color:rgb(91, 91, 91);

  text-decoration: none;
  transition: all .4s;

}

/* only to container */
.link-not-allowed {

  cursor: not-allowed;

}

/* only by link, if we use both than not-allowed will be overwrite */
.link-no-pointer-events {

  pointer-events: none;

}

/* ------------------------------------------------------- */
/* Div | Link Light Grey
/* ------------------------------------------------------- */

.link-light-grey-small > div,
.link-light-grey-medium > div,
.link-light-grey-big > div {

  font-size: 14.5px;

}

/* ------------------------------------------------------- */
/* Img (opacity) | Link Light Grey
/* ------------------------------------------------------- */

/* default unshown black img */
.link-light-grey-small > img:nth-of-type(2),
.link-light-grey-medium > img:nth-of-type(2),
.link-light-grey-big  > img:nth-of-type(2){

  display: none;

}

/* hover */
.link-light-grey-small:hover,
.link-light-grey-medium:hover,
.link-light-grey-big:hover {

  border: 1px solid rgb(155, 155, 155);
  background-color: rgb(251, 133, 133);

  /* because we dont like to use link visited color */
  color:rgb(19, 19, 19);

}

/* hover > unshown grey img */
.link-light-grey-small:hover > img:nth-of-type(1),
.link-light-grey-medium:hover > img:nth-of-type(1),
.link-light-grey-big:hover  > img:nth-of-type(1){

  display: none;

}

/* hover > unshown black img */
.link-light-grey-small:hover > img:nth-of-type(2),
.link-light-grey-medium:hover > img:nth-of-type(2),
.link-light-grey-big:hover  > img:nth-of-type(2){

  display: flex;

}


/* ------------------------------------------------------- */
/* Small
/* ------------------------------------------------------- */

.link-light-grey-small {

  height: 1.6em;
  padding: 0 .6em;

}

/* ------------------------------------------------------- */
/* Medium
/* ------------------------------------------------------- */

.link-light-grey-medium {

  height: 1.8em;
  padding: 0 .6em;

}

/* ------------------------------------------------------- */
/* Big
/* ------------------------------------------------------- */

.link-light-grey-big {

  height: 2.5em;
  padding: 0 .6em;

}
