/* --------------------------------------------------------------- */
/* > more-it.css
/*
/* : style default more it container for
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* More IT Container
/* ------------------------------------------------------- */

#more-it-container {

  z-index: 2;

  /* important to allow child elements to use max content area */
  height: 100%;
  width: 100%;

  display: grid;
  justify-items: center;
  /* row-gap: 1em; */
  grid: auto auto 1fr / 1fr;

  background-color: rgb(128, 0, 109);

}

#img-background-my-it {

  z-index: 1;

  /* reminder: it orient by parent element which is pos=relative */
  position: absolute;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */

  /* background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%); */

  /* background-color: #DCD9D4;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
  background-blend-mode: soft-light,screen; */

  /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply; */

  /* background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
  background-blend-mode: normal, lighten, soft-light; */

  /* background: #C9CCD3;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
  background-blend-mode: lighten; */

  /* background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
  background-blend-mode: screen; */

  /* background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%); */

  /* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */

  /* background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%); */

  /*
  background-color: #E4E4E1;
  background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
 	background-blend-mode: normal, multiply; */

  background-image: url("../../../media/imgs/content/building_windows_light_718903_3840x2400.jpg");

}
