/* --------------------------------------------------------------- */
/* > more-it.css
/*
/* : style default more it container for
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* More IT Container
/* ------------------------------------------------------- */

#more-it-container {

  z-index: 2;

  /* important to allow child elements to use max content area */
  height: 100%;
  width: 100%;

  display: grid;
  justify-items: center;
  /* row-gap: 1em; */
  grid: auto auto 1fr / 1fr;

  background-color: rgb(128, 0, 109);

}

/* ------------------------------------------------------- */
/* Row Container x 2 (nav) | More IT Container
/* ------------------------------------------------------- */

/* overwrite bgc white */
#more-it-container > .row-container:nth-of-type(2) {




  background-color: rgb(28, 28, 28);

}

/* ------------------------------------------------------- */
/* Background Img | More IT Container
/* ------------------------------------------------------- */

#img-background-my-it {

  z-index: 1;

  /* reminder: it orient by parent element which is pos=relative */
  position: absolute;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: url("../../../media/imgs/content/building_windows_light_718903_3840x2400.jpg");

}

/* ------------------------------------------------------- */
/* Welcome Info Content Container (universal)
/* ------------------------------------------------------- */

.welcome-info-content-container {

  padding: 1em 0;

  line-height: 1.4em;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .8em;

  font-weight: bold;

  background-color: white;

}

/* ------------------------------------------------------- */
/* Div 1 | Welcome Info Content Container (universal)
/* ------------------------------------------------------- */

.welcome-info-content-container div:nth-of-type(1) {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: .3em;

}

/* ------------------------------------------------------- */
/* Div 1 | welcome highlighted content
/* ------------------------------------------------------- */

.welcome-highlighted-content {

  height: 1.6em;
  padding: 0 .5em;

  display: flex;
  align-items: center;

  border-radius: .6em;

  background-color: #eeeeee;

}
