/* --------------------------------------------------------------- */
/* > resp-more-it.css
/*
/* styles resp more it
/*
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Min Width >= 480px
/* ------------------------------------------------------- */

@media (min-width: 480px) {

  /* ---------------------------------------------------------------- */
  /* More IT | IT Docs | Nav & Sub Nav
  /* ---------------------------------------------------------------- */

  #nav-it-docs-more-it > label,
  #frontend-sub-nav-it-docs > label,
  #backend-sub-nav-it-docs > label {

    width: auto;

  }

  /* -------------------------------------------------- */
  /* More IT | Header Content More IT | Img
  /* -------------------------------------------------- */

  .header-content-more-it > img:nth-of-type(1) {

    display: flex;
  }

  /* ---------------------------------------------------------------- */
  /* More IT | IT Docs | Main
  /* ---------------------------------------------------------------- */

  .it-docs-content-box-more-it > main {

    /* padding: 1.5em 2em; */
    grid: auto / 12em 12em;

  }

  /* -------------------------------------------------- */
  /* Mini IT Project Card | Link Container
  /* -------------------------------------------------- */

  .link-container-mini-project-card {

    padding: 0em .3em 0 .3em;
    border-top: 0px;

  }

  /* -------------------------------------------------- */
  /* More IT | Mini Project & Mini Games
  /* -------------------------------------------------- */

  #mini-projects-container-more-it .list-rows-content-container .mini-row-it-project-card,
  #mini-games-container-more-it .list-rows-content-container .mini-col-it-project-card {

      grid-template-areas:

      '. img-mpc'
      'link-container-mpc link-container-mpc'
      'text-skills-mpc text-skills-mpc'

      ;

  }



}

/* ------------------------------------------------------- */
/* Min Width >= 600px
/* ------------------------------------------------------- */

@media (min-width: 600px) {


  /* -------------------------------------------------- */
  /* More IT | Header Content Container | Img
  /* -------------------------------------------------- */

  #mini-projects-container-more-it > .row-container:nth-of-type(1) .header-content-container > img,
  #mini-games-container-more-it > .row-container:nth-of-type(1) .header-content-container > img,
  #coding-task-container-more-it > .row-container:nth-of-type(1) .header-content-container > img,
  #it-docs-container-more-it > .row-container:nth-of-type(1) .header-content-container > img  {

    display: flex;

  }


  /* -------------------------------------------------- */
  /* Mini IT Project Card | Img Container
  /* -------------------------------------------------- */

    #mini-projects-container-more-it .list-rows-content-container .img-container-mini-project-card > img,
    #mini-games-container-more-it .list-rows-content-container .img-container-mini-project-card > img {

      width: auto;
      height: 14em;
      /* border: 3px solid red; */

    }

    /* ---------------------------------------------------------------- */
    /* IT Docs | Main
    /* ---------------------------------------------------------------- */

    .it-docs-content-box-more-it > main {

      /* padding: 1.5em 2em; */
      grid: auto / 1fr 1fr 1fr;

    }

}

/* ------------------------------------------------------- */
/* Min Width >= 700px
/* ------------------------------------------------------- */

@media (min-width: 700px) {

  /* -------------------------------------------------- */
  /* More IT | Mini Row IT Project Card
  /* -------------------------------------------------- */

    #mini-projects-container-more-it .list-rows-content-container .mini-row-it-project-card,
    #mini-games-container-more-it .list-rows-content-container .mini-col-it-project-card {

      /* Desktop */
      grid-template-areas:

        'text-skills-mpc img-mpc'
        'text-skills-mpc link-container-mpc'
        'text-skills-mpc .'

      ;

    }

}

/* ------------------------------------------------------- */
/* Min Width >= 800px
/* ------------------------------------------------------- */

@media (min-width: 800px) {


  /* ---------------------------------------------------------------- */
  /* Two Col Layout Mini Games
  /* ---------------------------------------------------------------- */

  .two-col-layout-mini-games {


    grid: auto / 1fr 1fr;

    column-gap: 2em;
    /* row-gap: 2em; */

    /* background-color: orange; */

  }

  #mini-games-container-more-it .list-rows-content-container .mini-col-it-project-card {

    width: 14em;

    justify-items: center;
    justify-content: center;

    /* background-color: red; */

    /* Desktop */
    grid-template-areas:

      'img-mpc'
      'text-skills-mpc'
      'link-container-mpc'

    ;

  }



  #mini-games-container-more-it .list-rows-content-container .mini-col-it-project-card .link-container-mini-project-card {

    padding: 1em .3em 0 .3em;
    border-top: 1px solid rgb(205, 205, 205);

  }




}

/* ------------------------------------------------------- */
/* Min Width >= 850px
/* ------------------------------------------------------- */

@media (min-width: 850px) {


  /* ---------------------------------------------------------------- */
  /* More IT | IT Docs | Main
  /* ---------------------------------------------------------------- */

    .it-docs-content-box-more-it > main {

      /* padding: 1.5em 2em; */
       grid: auto / 12em 12em 12em;

    }

}

/* ------------------------------------------------------- */
/* Min Width >= 100px
/* ------------------------------------------------------- */

@media (min-width: 1000px) {


  /* ---------------------------------------------------------------- */
  /* More IT | IT Docs | Main
  /* ---------------------------------------------------------------- */

    .it-docs-content-box-more-it > main {

      /* padding: 1.5em 2em; */
       grid: auto / 12em 12em 12em 12em;

    }

}
