/* --------------------------------------------------------------- */
/* > resp-more-it.css
/*
/* styles resp more it
/*
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Min Width >= 355px
/* ------------------------------------------------------- */

@media (min-width: 355px) {



}

/* ------------------------------------------------------- */
/* Min Width >= 400px
/* ------------------------------------------------------- */

@media (min-width: 400px) {


  /* -------------------------------------------------- */
  /* Mini Games |Two Col Layout
  /* -------------------------------------------------- */

  .two-col-layout-mini-games {

    grid: 1fr / 20em;

  }

}

/* ------------------------------------------------------- */
/* Min Width >= 420px
/* ------------------------------------------------------- */

@media (min-width: 420px) {


  /* -------------------------------------------------- */
  /* Mini IT Project Card | Link Container
  /* -------------------------------------------------- */

  .link-container-mini-it-project-card {

    padding: 0em .3em 0 .3em;
    border-top: 0px;

  }

  /* -------------------------------------------------- */
  /* Mini IT Project Card | Img Container
  /* -------------------------------------------------- */

  .img-container-mini-it-project-card > img:nth-of-type(1) {

    width: auto;
    height: 14em;

  }

  /* -------------------------------------------------- */
  /* Mini IT Projects | Mini IT Project Card
  /* -------------------------------------------------- */

  #mini-it-projects-content-container .list-rows-content-container .mini-it-project-card {

      grid-template-areas:

      '. img-mipc'
      'link-mipc link-mipc'
      'content-mipc content-mipc'

      ;

  }


}


/* ------------------------------------------------------- */
/* Min Width >= 480px
/* ------------------------------------------------------- */

@media (min-width: 480px) {

  /* ---------------------------------------------------------------- */
  /* IT Docs | Nav & Sub Nav
  /* ---------------------------------------------------------------- */

  #nav-it-docs-more-it > label,
  #frontend-sub-nav-it-docs > label,
  #backend-sub-nav-it-docs > label {

    width: auto;

  }

  /* -------------------------------------------------- */
  /* Header Content More IT | Img
  /* -------------------------------------------------- */

  .header-content-more-it > img:nth-of-type(1) {

    display: flex;

  }

  /* ---------------------------------------------------------------- */
  /* IT Docs | Main
  /* ---------------------------------------------------------------- */

  .main-it-docs-content-box {

    /* padding: 1.5em 2em; */
    grid: auto / 12em 12em;

  }

}

/* ------------------------------------------------------- */
/* Min Width >= 600px
/* ------------------------------------------------------- */

@media (min-width: 600px) {


  /* -------------------------------------------------- */
  /* Header Content Container | Img
  /* -------------------------------------------------- */

  #mini-it-projects-content-container > .row-container:nth-of-type(1) .header-content-container > img,
  #mini-games-content-container > .row-container:nth-of-type(1) .header-content-container > img,
  #coding-task-container-more-it > .row-container:nth-of-type(1) .header-content-container > img,
  #it-docs-container-more-it > .row-container:nth-of-type(1) .header-content-container > img  {

    display: flex;

  }


  /* -------------------------------------------------- */
  /* Mini IT Project Card | Img Container
  /* -------------------------------------------------- */

    #mini-it-projects-content-container .list-rows-content-container .img-container-mini-project-card > img,
    #mini-games-container-more-it .list-rows-content-container .img-container-mini-project-card > img {

      width: auto;
      height: 14em;
      /* border: 3px solid red; */

    }

    /* ---------------------------------------------------------------- */
    /* IT Docs | Main
    /* ---------------------------------------------------------------- */

    .main-it-docs-content-box {

      /* padding: 1.5em 2em; */
      grid: auto / 1fr 1fr 1fr;

    }

}

/* ------------------------------------------------------- */
/* Min Width >= 750px
/* ------------------------------------------------------- */

@media (min-width: 750px) {


  /* -------------------------------------------------- */
  /* Mini Games |Two Col Layout
  /* -------------------------------------------------- */

  .two-col-layout-mini-games {

    grid: 1fr / 1fr 1fr;
    column-gap: 1em;

  }

  /* -------------------------------------------------- */
  /* More IT | Mini Row IT Project Card
  /* -------------------------------------------------- */

  #mini-it-projects-content-container .list-rows-content-container .mini-it-project-card,
  #mini-games-container-more-it .list-rows-content-container .mini-col-it-project-card {

    /* Desktop */
    grid-template-areas:

      'content-mipc img-mipc'
      'content-mipc link-mipc'
      'content-mipc .'

    ;

  }

}

/* ------------------------------------------------------- */
/* Min Width >= 800px
/* ------------------------------------------------------- */

@media (min-width: 800px) {

  /* -------------------------------------------------- */
  /* Mini Games |Two Col Layout
  /* -------------------------------------------------- */

  .two-col-layout-mini-games {

    grid: 1fr / 18em 18em;
    column-gap: 1.5em;

  }


}

/* ------------------------------------------------------- */
/* Min Width >= 850px
/* ------------------------------------------------------- */

@media (min-width: 850px) {


  /* ---------------------------------------------------------------- */
  /* More IT | IT Docs | Main
  /* ---------------------------------------------------------------- */

    .main-it-docs-content-box {

      /* padding: 1.5em 2em; */
       grid: auto / 12em 12em 12em;

    }

}

/* ------------------------------------------------------- */
/* Min Width >= 100px
/* ------------------------------------------------------- */

@media (min-width: 1000px) {



}
