/* --------------------------------------------------------------- */
/* > brain-trainer-private.css
/*
/* : styles book private
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Brain Trainer Container Private
/* ---------------------------------------------------------------- */

#brain-trainer-container-private {

  padding: 1.5em 0;
  height: 100%;

  display: none;

  background-color: rgb(108, 120, 108);

}
