/* --------------------------------------------------------------- */
/* > nav-brain-trainer-private.css
/*
/* : styles sub nav private
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Nav Brain Trainer | Private
/* ---------------------------------------------------------------- */

#nav-brain-trainer-private {

  display: none;

  color:rgb(86, 1, 1);

}
