
/* --------------------------------------------------------------- */
/* > more-details-fullsize.css
/*
/* : styles more details fullsize
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* More Details | Detail Fullsize
/* ---------------------------------------------------------------------- */

#more-details-detail-fullsize {

  box-sizing: border-box;

  width: 100%;
  padding: 1.5em 0em;

  display: grid;
  justify-items: center;
  /* justify-content: center; */
  /* justify-content: center; */

  row-gap: 1.5em;

}
