/* --------------------------------------------------------------- */
/* > img-gallery-fullsize-slider.css
/*
/* : styles img gallery fullsize slider
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Img Gallery Fullsize Slider
/* ---------------------------------------------------------------- */

.img-gallery-fullsize-slider {

  box-sizing: border-box;

  width: 100%;
  padding: 1em 0;

  display: grid;
  align-items: center;

  /* background-color: red; */
  background-color: white;

}

/* ---------------------------------------------------------------- */
/* Content Img Gallery Fullsize Slider
/* ---------------------------------------------------------------- */

.content-img-gallery-fullsize-slider {

  box-sizing: border-box;

  width: 100%;

  display: grid;
  grid: auto 1fr / 1fr;

  align-items: flex-start;
  justify-items: flex-start;

  row-gap: .6em;

  border: 1px solid black;

  /* background-color: red; */
  background-color: white;

  /* background-color: red; */


}

/* ---------------------------------------------------------------- */
/* Main | Content Img Gallery Fullsize Slider
/* ---------------------------------------------------------------- */

.content-img-gallery-fullsize-slider > main {

  position: relative;

  width: 100%;
  display: grid;
  /* justify-items: center; */

  background-color: blue;

}

/* ---------------------------------------------------------------- */
/* Img Big Placeholder | Main
/* ⚠️ Acutally dont use - only if we get problems by
/* loading big img on slow internet connection and than
/* we see layout jumping effects
/* ---------------------------------------------------------------- */

.img-big-placeholder {

  background-color: white;
  width: 100%;
  /* trick, with padding-top we can calc correct img pixel sizes without js
    with height it doesnt work */
  /* this pixel sizes are my fixed big img sizes */
  padding-top: calc( 100% * ( 1731px / 3730px)  );

  display:none

}

/* ---------------------------------------------------------------- */
/* Big Img | Content Img Gallery Fullsize Slider
/* ---------------------------------------------------------------- */

.content-img-gallery-fullsize-slider > main > img {

  /* lay over img big placeholder */
  /* position: absolute; */

  width: 100%;

  border-radius: 0em;

}

/* ---------------------------------------------------------------- */
/* Mini Img Miniatur Link Container
/* ---------------------------------------------------------------- */

.mini-img-miniature-link-container {

  /* desktop */
  display: grid;
  grid: auto / 1fr 1fr 1fr;

  gap: .3em;

  background-color: green;

}

/* img */
.mini-img-miniature-link-container > img {

  /* mobile */
  width: 100%;

  /* desktop */
  /* min-width: 8em;
  height: 7em; */

  border-radius: .4em;

  opacity: .6;

  cursor: pointer;
  transition: all .4s;

}

/* hover */
.mini-img-miniature-link-container > img:hover {

  opacity: 1;

}
