/* --------------------------------------------------------------- */
/* > coding-task-item-more-it.css
/*
/* : styles ...
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Coding Task Item | More IT
/* ---------------------------------------------------------------- */

.coding-task-item-more-it {

  width: 100%;
  padding: 1.5em 0;

  display: grid;
  row-gap: .4em;

}
