/* --------------------------------------------------------------- */
/* > footer-coding-task-item.css
/*
/* : styles ...
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Footer | Coding Task Item | More IT
/* ---------------------------------------------------------------- */

.coding-task-item-more-it > footer {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: .4em;
  row-gap: .4em;

}

/* ---------------------------------------------------------------- */
/* Link Task | Footer
/* ---------------------------------------------------------------- */

.link-task-coding-task {

  text-decoration: none;

  height: 1.8em;
  padding: 0 .5em 0 .4em;

  display: flex;
  align-items: center;
  /* justify-content: center; */
  column-gap: .4em;

  border-radius: .4em;

  font-weight: bold;

  background-color: rgb(243, 243, 243);
  color:rgb(115, 115, 115);

  user-select: none;
  transition: all .4s;

}

.link-task-coding-task:visited {

  color:rgb(115, 115, 115);

}

.link-task-coding-task > div {

  font-size: 14.5px;

}

/* hover */
.link-task-coding-task:hover {

  background-color: rgb(251, 133, 133);

}

/* img layout pos fix */
.link-task-coding-task > img {

  padding-top: .1px;

}

/* ---------------------------------------------------------------- */
/* External Link Container | Footer
/* ---------------------------------------------------------------- */

.external-link-container-coding-task {

  display: flex;
  align-items: center;
  column-gap: .3em;

}

/* ---------------------------------------------------------------- */
/* Link External | Footer
/* ---------------------------------------------------------------- */

.link-external-coding-task {

  text-decoration: none;

  height: 1.8em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .4em;

  border-radius: .4em;

  font-weight: bold;

  background-color: rgb(243, 243, 243);
  color:rgb(115, 115, 115);

  user-select: none;
  transition: all .4s;

}

.link-external-coding-task:visited {

  color:rgb(115, 115, 115);

}

.link-external-coding-task > div {

  font-size: 14.5px;

}

/* hover */
.link-external-coding-task:hover {

  background-color: rgb(251, 133, 133);

}
