/* ----------------------------------------------------------------------- */
/* background-colors.css
/*
/* > styles many background color mixes
/* ----------------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Background Colors |
/* ------------------------------------------------------- */

.row-bgc-creamy-white {

  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

}

.row-bgc-light-paper-brown {

  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);

}

.row-bgc-dark-metallic-grey {

  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply;

}

.row-bgc-medium-metallic-grey {

  background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
  background-blend-mode: normal, lighten, soft-light;

}

.row-bgc-light-metallic-grey {

  background: #C9CCD3;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
  background-blend-mode: lighten;

}

.row-bgc-medium-metallic-dark {

  background-image: linear-gradient(to right, #434343 0%, black 100%);

}


.row-bgc-pacific-blue {

  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);

}
.row-bgc-sunny-green {

  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);

}

.row-bgc-sunset {

  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);

}
