/* ----------------------------------------------------------------------------- */
/* > img-sizes.css
/*
/* : set img sizes for small imgs / icons
/* ----------------------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Height
/* ---------------------------------------------------------------- */

.img-h-0-3 { height: .3em; }
.img-h-0-4 { height: .4em; }
.img-h-0-5 { height: .5em; }
.img-h-0-6 { height: .6em; }
.img-h-0-7 { height: .7em; }
.img-h-0-8 { height: .8em; }
.img-h-0-9 { height: .9em; }
.img-h-1 { height: 1em; }

.img-h-1-1 { height: 1.1em; }
.img-h-1-2 { height: 1.2em; }
.img-h-1-3 { height: 1.3em; }
.img-h-1-4 { height: 1.4em; }
.img-h-1-5 { height: 1.5em; }
.img-h-1-6 { height: 1.6em; }
.img-h-1-8 { height: 1.8em; }

.img-h-2 { height: 2em; }
.img-h-2-3 { height: 2.3em; }
.img-h-2-5 { height: 2.5em; }
.img-h-2-8 { height: 2.8em; }

.img-h-3 { height: 3em; }
.img-h-3-3 { height: 3.3em; }
.img-h-3-5 { height: 3.5em; }
.img-h-3-8 { height: 3.8em; }

.img-h-4 { height: 4em; }
