/* --------------------------------------------------------------- */
/* > overflow-sets.css
/*
/* : styles overflow sets e.g smooth open close effects
/* --------------------------------------------------------------- */



/* ---------------------------------------------------------------- */
/* Overflows
/* ---------------------------------------------------------------- */

.overflow-hidden {

  overflow: hidden;

}
