/* --------------------------------------------------------------- */
/* > set-rotations.css
/*
/* : styles rotations
/* --------------------------------------------------------------- */



/* ---------------------------------------------------------------- */
/* Rotations ( plus )
/* ---------------------------------------------------------------- */

.rot-45deg {

  transform: rotate(45deg);

}

.rot-90deg {

  transform: rotate(90deg);

}

/* ---------------------------------------------------------------- */
/* Rotations ( minus )
/* ---------------------------------------------------------------- */

.rot-minus-45deg {

  transform: rotate(-45deg);

}

.rot-minus-90deg {

  transform: rotate(-90deg);

}
