/* --------------------------------------------------------------- */
/* > text-styles.css
/*
/* : style text
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Bold, Italic | Text Styles
/* ------------------------------------------------------- */

.txt-b {

  font-weight: bold;

}

.txt-bi {

  font-weight: bold;
  font-style: italic;

}

/* ------------------------------------------------------- */
/* Color | Text Styles
/* ------------------------------------------------------- */

.txt-dark-grey {

 color:#2b2b2b;

}

.txt-b-dark-grey {

 color:#2b2b2b;

 color:rgb(101, 101, 101);
 font-weight: bold;
 /* font-style: italic; */

}
