/* --------------------------------------------------------------- */
/* > value-sets.css
/*
/* : styles value sets e.g width, ...
/* --------------------------------------------------------------- */



/* ---------------------------------------------------------------- */
/* Width, Height
/* ---------------------------------------------------------------- */

.width-100 {

  width: 100%;

}

.height-100 {

  height: 100%;

}

/* ---------------------------------------------------------------- */
/* Paddings
/* ---------------------------------------------------------------- */
