/* --------------------------------------------------------------- */
/* > unshown-overview-container.css
/*
/* : styles unshown overview container
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Unshown Overview Container
/* ---------------------------------------------------------------- */

.unshown-overview-container {

  box-sizing: border-box;

  padding: 1.5em .8em;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: red; */

}

/* ---------------------------------------------------------------- */
/* Img | Unshown Overview Container
/* ---------------------------------------------------------------- */

.unshown-overview-container > img:nth-of-type(1) {

  /* mobile */
  height: 6em;

  opacity: .1;

}
