/* --------------------------------------------------------------- */
/* > header-content-container.css
/*
/* : style ...
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Header Content Container
/* ------------------------------------------------------- */

.header-content-container {

  width: 100%;
  padding: 1em 0em 1.5em 0;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* background-color: red; */

}

/* ------------------------------------------------------- */
/* Title Container | Header Content Container
/* ------------------------------------------------------- */

.title-container-header-content {

  /* line-height: 1.4em; */
  display: grid;
  /* row-gap: .6em; */


}

/* ------------------------------------------------------- */
/* Title | Title Container
/* ------------------------------------------------------- */

.title-header-content {

  font-size: 18px;
  font-weight: bold;

  color:white;

}

/* ------------------------------------------------------- */
/* Sub Title Container | Header Content Container
/* ------------------------------------------------------- */

.sub-title-container-header-content {

  /* padding-top: .8em; */
  /* line-height: 1.8em; */

  color:grey;

}

/* ------------------------------------------------------- */
/* Sub Info Timer | Header Content
/* ------------------------------------------------------- */

.sub-info-timer-header-content {

  padding-top: .6em;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: .3em;
  row-gap: .3em;

}

/* ------------------------------------------------------- */
/* Info STicker | Title
/* ------------------------------------------------------- */

.info-sticker-title-header-content {

  height: 1.5em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .3em;

  font-weight: bold;

  background-color: #6d6d6d;
  color:rgb(27, 27, 27);

}

.info-sticker-title-header-content > div {


}

/* ------------------------------------------------------- */
/* Img | Header Content Container
/* ------------------------------------------------------- */

.img-timer-pos-fix {

  /* layout pos fix */
  padding-top: 1px;

}
