/* --------------------------------------------------------------- */
/* > header-content-container.css
/*
/* : style ...
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Header Content Container
/* ------------------------------------------------------- */

.header-content-container {

  width: 100%;
  padding: 1em .4em 1.5em .4em;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* background-color: red; */

}

/* ------------------------------------------------------- */
/* Title Container | Header Content Container
/* ------------------------------------------------------- */

.title-container-header-content {

  /* line-height: 1.4em; */
  display: grid;
  row-gap: .6em;


}

/* ------------------------------------------------------- */
/* Title | Title Container
/* ------------------------------------------------------- */

.title-header-content {

  font-size: 18px;
  font-weight: bold;

  color:white;

}

/* ------------------------------------------------------- */
/* Sub Title Container | Header Content Container
/* ------------------------------------------------------- */

.sub-title-container-header-content {

  /* padding-top: .8em; */
  line-height: 1.4em;

  display: grid;
  row-gap: .3em;

  color:grey;

}

/* ------------------------------------------------------- */
/* Sub Info Timer | Header Content
/* ------------------------------------------------------- */

.sub-info-timer-header-content {

  /* padding-top: .6em; */

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: .3em;
  row-gap: .3em;

}

/* ------------------------------------------------------- */
/* Sub Info | Header Content
/* ------------------------------------------------------- */
.sub-info-header-content {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: .3em;
  row-gap: .3em;

}

/* ------------------------------------------------------- */
/* Info Sticker | Title
/* ------------------------------------------------------- */

.info-sticker-title-header-content {

  height: 1.4em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .4em;

  /* font-weight: bold; */

  /* background-color: #6d6d6d; */
  /* background-color: #a1a1a1; */
  border: 1px solid grey;

  color:rgb(37, 37, 37);
  color:grey;

}

.info-sticker-title-header-content > div {

  /* layout pos fix */
  padding-top: 1px;
  font-size: 14.5px;

}

/* ------------------------------------------------------- */
/* Img | Header Content Container
/* ------------------------------------------------------- */

.img-timer-pos-fix {

  /* layout pos fix */
  padding-top: 1px;

}
