/* --------------------------------------------------------------- */
/* > welcome-info-content-container.css
/*
/* : style ...
/* --------------------------------------------------------------- */


/* 🟣 auslagern weil in private auch */
/* ------------------------------------------------------- */
/* Welcome Info Content Container (universal)
/* ------------------------------------------------------- */

.welcome-info-content-container {

  padding: 1em 0;

  line-height: 1.4em;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .8em;

  font-weight: bold;

  background-color: white;

}

/* ------------------------------------------------------- */
/* Div 1 | Welcome Info Content Container (universal)
/* ------------------------------------------------------- */

.welcome-info-content-container div:nth-of-type(1) {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: .3em;

}

/* ------------------------------------------------------- */
/* Div 1 | welcome highlighted content
/* ------------------------------------------------------- */

.welcome-highlighted-content {

  height: 1.6em;
  padding: 0 .5em;

  display: flex;
  align-items: center;

  border-radius: .6em;

  background-color: #eeeeee;

}
