/* --------------------------------------------------------------- */
/* > nav-more-it.css
/*
/* : styles nav more it
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Nav Container
/* ---------------------------------------------------------------- */

#nav-container-more-it {

  width: 100%;
  padding: .6em 0;

  display: grid;
  align-items: center;

  gap:.6em;

}
