/* --------------------------------------------------------------- */
/* > nav-more-it.css
/*
/* : styles nav more it
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Nav Container
/* ---------------------------------------------------------------- */

#nav-container-more-it {

  width: 100%;
  padding: .6em 0;

  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  gap:.6em;

}

/* ---------------------------------------------------------------- */
/* Labels (explizit) | Nav Container
/* ---------------------------------------------------------------- */

#nav-container-more-it > label {

  /* mobile */
  min-width: 11.5em;
  max-width: 11.5em;

}
