/* --------------------------------------------------------------- */
/* > resp-nav-more-it.css
/*
/* : styles resp nav more it
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Min Width >= 1000px
/* ------------------------------------------------------- */

@media (min-width: 1000px) {

  #nav-container-more-it > label {

      min-width: auto;
      max-width: auto;

  }

}
