/* --------------------------------------------------------------- */
/* > resp-nav-more-it.css
/*
/* : styles resp nav more it
/* --------------------------------------------------------------- */

/* ------------------------------------------------------- */
/* Min Width >= 480px
/* ------------------------------------------------------- */

@media (min-width: 480px) {

  #nav-container-more-it {

    grid: 1fr / 1fr 1fr;

  }

}

/* ------------------------------------------------------- */
/* Min Width >= 650px
/* ------------------------------------------------------- */

@media (min-width: 650px) {

  #nav-container-more-it {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }

   #nav-container-more-it > label {

    width: 12em;

  }

}

/* ------------------------------------------------------- */
/* Min Width >= 1000px
/* ------------------------------------------------------- */

@media (min-width: 1000px) {


   #nav-container-more-it > label {

    width: auto;

  }

}
