/* --------------------------------------------------------------- */
/* > about.css
/*
/* : style about container for
/* - about me, top it projects, contact me
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* About Page Container
/* ------------------------------------------------------- */

#about-page-container {

  z-index: 2;

  /* important to allow child elements to use max content area */
  height: 100%;
  width: 100%;

  display: grid;
  justify-items: center;
  grid: auto auto 1fr / 1fr;

}

/* -------------------------------------------------------------- */
/* Img Background | About Page Container
/* -------------------------------------------------------------- */

#img-background-about {

  z-index: 1;

  /* reminder: it orient by parent element which is pos=relative */
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url("../../../media/imgs/content/grass_dew_drops_158971_3840x2400.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
