/* --------------------------------------------------------------- */
/* > content-private.css
/*
/* : styles content private
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Content Container
/* ---------------------------------------------------------------- */

#content-container-private {

  width: 100%;
  padding: 2em 0;

  background-color: rgb(184, 184, 184);

}
