
/* --------------------------------------------------------------- */
/* > detail-view-top-it-project.css
/*
/* : styles detail view of top it project
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* ...
/* ---------------------------------------------------------------- */
