
/* --------------------------------------------------------------- */
/* > top-it-project-card.css
/*
/* : styles top it project card
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Top IT Project Card
/* ---------------------------------------------------------------- */

.top-it-project-card {

  border: 3px solid black;
  border-radius: .6em;

}
