/* --------------------------------------------------------------- */
/* > about-story-behind-sd.css
/*
/* : styles about story behind sd
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* About Story Behind SD Container
/* ---------------------------------------------------------------- */

#about-story-behind-sd-container {

  padding: 3em .8em;

  display: grid;
  justify-items: center;
  row-gap: 1.5em;

  background-color: white;
  color: black;

  /* default unshown */
  display: none;

}

/* ---------------------------------------------------------------- */
/* Info Container | About Story behind SD
/* ---------------------------------------------------------------- */

#info-container-about-story-behind-sd {

  display: grid;
  justify-items: center;
  row-gap: 1.5em;

  /* background-color: grey; */

}

/* ---------------------------------------------------------------- */
/* Question Container | About Story behind SD
/* ---------------------------------------------------------------- */

#question-container-about-story-behind-sd {

  text-align: center;

  font-weight: bold;
  font-style: italic;

  color: rgb(145, 145, 145);

}

/* ---------------------------------------------------------------- */
/* Audio | About Story behind SD
/* ---------------------------------------------------------------- */

#info-container-about-story-behind-sd > audio {

  /* small mobile */
  display: none;

}

/* ---------------------------------------------------------------- */
/* Content List | About Story behind SD
/* ---------------------------------------------------------------- */

#content-list-about-story-behind-sd {

  display: grid;
  /* row-gap: .5em; */
  /* background-color: red; */

}
