/* --------------------------------------------------------------- */
/* > about-story-behind-sd.css
/*
/* : styles about story behind sd
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* About Story Behind SD Container
/* ---------------------------------------------------------------- */

#about-story-behind-sd-container {

  width: 100%;
  padding: 2em 0;
  background-color: rgb(227, 46, 227);

  /* default unshown */
  display: none;

}

/* ---------------------------------------------------------------- */
/* About Story behind SD Content
/* ---------------------------------------------------------------- */

#about-story-behind-sd-content {


}
