/* --------------------------------------------------------------- */
/* > content-item-about-story-behind-sd.css
/*
/* : styles content item of about story behind sd
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Content Item | About Story Behind SD
/* ---------------------------------------------------------------- */

.content-item-about-story-behind-sd {

  display: grid;
  justify-items: center;

  border-radius: .8em;
  /* border: 1px solid black; */

  /* background-color: rgb(218, 218, 218); */
  color: rgb(75, 75, 75);

}

/* ---------------------------------------------------------------- */
/* Imgs | About Story Behind SD
/* ---------------------------------------------------------------- */

#img-about-cold-shower {

  height: 4em;

  float: right;
  padding: 0 0 .4em .4em;
  height: 7.5em;

}

#img-about-viking {

  float: left;
  margin: .6em 1em .4em 0em;
  height: 6em;
  border-radius: .4em;

}

#img-about-freaky {

  float: right;
  padding: .4em 0 .4em .4em;
  height: 8em;

}

#img-about-wave-rocket {

  float: left;
  padding: .4em .8em .4em 0;
  height: 4em;

}

/* ---------------------------------------------------------------- */
/* Header | About Story Behind SD
/* ---------------------------------------------------------------- */

.content-item-about-story-behind-sd > header {

  height: 4.5em;

  display: flex;
  align-items: center;
  /* justify-content: center; */

}

.content-item-about-story-behind-sd > header > div {

  height: 2em;
  padding: 0 .8em;

  display: flex;
  align-items: center;

  font-size: 14.5px;
  letter-spacing: .5px;

  font-style: italic;
  font-weight: bold;

  border-radius: .6em;

  border: 1px solid rgb(211, 211, 211);

  background-color: #f3f3f3;
  color: rgb(158, 158, 158);

}

/* ---------------------------------------------------------------- */
/* Main (Story) | About Story Behind SD
/* ---------------------------------------------------------------- */

.content-item-about-story-behind-sd > main {

  padding: .8em;

  border-radius: .8em;
  border: 1px solid rgb(211, 211, 211);

  background-color: #f3f3f3;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
