/* ----------------------------------------------------------------------- */
/* h1-content-body.css
/*
/* > styles custom h1 bodys
/* ----------------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* h1 content body
/* ------------------------------------------------------- */

.h1-content-body {


}



/* 🟣 Header Content Body  */
/* ---------------------------------------------------------------- */
/* Header Content Body
/* ---------------------------------------------------------------- */

.header-content-body {

  display: flex;
  align-items: center;
  column-gap: .8em;

  font-weight: bold;

}

/* ---------------------------------------------------------------- */
/* Header Content Body Title Container
/* ---------------------------------------------------------------- */

.header-content-body-title-container {

  line-height: 1.6em;

}

/* ---------------------------------------------------------------- */
/* Div 1 | Header Content Body Title Container
/* ---------------------------------------------------------------- */

.header-content-body-title-container > div:nth-of-type(1) {

  font-size: 20px;

}

/* ---------------------------------------------------------------- */
/* Div 2 | Header Content Body Title Container
/* ---------------------------------------------------------------- */

.header-content-body-title-container > div:nth-of-type(2) {

  font-size: 14.5px;

}
