/* ----------------------------------------------------------------------- */
/* h1-content-body.css
/*
/* > styles custom h1 bodys
/* ----------------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* All | Header Content Body
/* ---------------------------------------------------------------- */

.header-content-body,
.header-light-content-body {

  display: flex;
  align-items: center;
  column-gap: .8em;

  font-weight: bold;

}

/* ---------------------------------------------------------------- */
/* Header Content Body Title Container
/* ---------------------------------------------------------------- */

.header-content-body-title-container {

  line-height: 1.6em;

}

/* ---------------------------------------------------------------- */
/* Div 1 | Header Content Body Title Container
/* ---------------------------------------------------------------- */

.header-content-body-title-container > div:nth-of-type(1) {

  font-size: 20px;

}

/* ---------------------------------------------------------------- */
/* Light | Header Content Body Title Container
/* ---------------------------------------------------------------- */

.header-light-content-body .header-content-body-title-container > div:nth-of-type(1) {

  color:rgb(240, 240, 240);

}

/* ---------------------------------------------------------------- */
/* Div 2 | All | Header Content Body Title Container
/* ---------------------------------------------------------------- */

.header-content-body .header-content-body-title-container > div:nth-of-type(2),
.header-light-content-body .header-content-body-title-container > div:nth-of-type(2) {

  font-size: 14.5px;

}


/* ---------------------------------------------------------------- */
/* Default | Header Content Body Title Container
/* ---------------------------------------------------------------- */

.header-content-body .header-content-body-title-container > div:nth-of-type(2) {

  color:rgb(110, 110, 110);

}


/* ---------------------------------------------------------------- */
/* Light | Header Content Body Title Container
/* ---------------------------------------------------------------- */

.header-light-content-body .header-content-body-title-container > div:nth-of-type(2) {

  color:rgb(129, 129, 129)

}
