/* ----------------------------------------------------------------------- */
/* header-sticker-body.css
/*
/* > styles custom header stickers body, small, medium, big
/* ----------------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* All | header stickers
/* ------------------------------------------------------- */

.header-sticker-body-small,
.header-sticker-body-medium,
.header-sticker-body-big {

  display: inline-flex;
  align-items: center;

  font-weight: bold;

  background-color: #eeeeee;
  color: #5d5d5d;

}

.header-sticker-body-small > div,
.header-sticker-body-medium > div,
.header-sticker-body-big > div {

  font-size: 14.5px;
}

/* ------------------------------------------------------- */
/* Small
/* ------------------------------------------------------- */

.header-sticker-body-small {

  height: 1.6em;
  padding: 0 .6em;
  border-radius: .6em;

}

/* ------------------------------------------------------- */
/* Medium
/* ------------------------------------------------------- */

.header-sticker-body-medium {

  height: 2em;
  padding: 0 .6em;
  border-radius: .6em;

  column-gap: .4em;

}

/* ------------------------------------------------------- */
/* Big
/* ------------------------------------------------------- */

.header-sticker-body-big {

  height: 2.5em;
  padding: 0 .6em;
  border-radius: .6em;

}
