
/* --------------------------------------------------------------- */
/* > video-tutorials-detail-fullsize.css
/*
/* : styles motivation detail fullsize
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Video Tutorials | Detail Fullsize
/* ---------------------------------------------------------------------- */

#video-tutorials-container-detail-fullsize {

  /* default unshown */
  display: none;

}

/* ---------------------------------------------------------------------- */
/* Main | Tech Stacks Container | Detail Fullsize
/* ---------------------------------------------------------------------- */

#video-tutorials-container-detail-fullsize > main {

  box-sizing: border-box;
  width: 100%;

  display: grid;
  justify-items: center;

  /* border: 1px dashed black; */
  /* background-color: red; */

}

/* ---------------------------------------------------------------------- */
/* Link Video Detail Fullsize
/* ---------------------------------------------------------------------- */

.link-video-detail-fullsize {

  /* delete default link style */
  text-decoration: none;

  box-sizing: border-box;
  width: 100%;
  padding: .8em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .6em;

  font-weight: bold;

  background-color: rgb(244, 244, 244);
  background-color: #fbfbfb;

  transition: all .4s;

}

/* hover */
.link-video-detail-fullsize:hover {

  background-color: rgba(245, 222, 179, .8);

}

/* ---------------------------------------------------------------------- */
/* Nr & Title Container | Link Video Detail Fullsize
/* ---------------------------------------------------------------------- */

.link-video-detail-fullsize > div:nth-of-type(1) {

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  column-gap: .6em;
  /* row-gap: .4em; */

}

/* nr text */
.link-video-detail-fullsize > div:nth-of-type(1) > div:nth-of-type(1) {

  font-size: 12.5px;
  color:rgb(167, 167, 167);

}

/* link text */
.link-video-detail-fullsize > div:nth-of-type(1) > div:nth-of-type(2) {

  line-height: 1.6em;

  font-size: 14.5px;
  color:rgb(113, 113, 113);

}

/* ---------------------------------------------------------------------- */
/* img icon external | Link Video Detail Fullsize
/* ---------------------------------------------------------------------- */


.link-video-detail-fullsize > img:nth-of-type(1) {

  opacity: .8;

}



/* ------------------------------------------------------- */
/* Footer | Tech Stacks Container | Detail Fullsize
/* ------------------------------------------------------- */

#video-tutorials-container-detail-fullsize > footer {

  padding: 3em 0 0em 0;

  box-sizing: border-box;
  width: 100%;

  display: flex;
  justify-content: center;

  /* background-color: red; */

}

/* img */
#video-tutorials-container-detail-fullsize > footer > img {

  height: 9.5em;
  /* transform: scaleX(-1); */

}
