
/* --------------------------------------------------------------- */
/* > video-tutorials-detail-fullsize.css
/*
/* : styles motivation detail fullsize
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Video Tutorials | Detail Fullsize
/* ---------------------------------------------------------------------- */

#video-tutorials-container-detail-fullsize {

  /* default unshown */
  display: none;

}

/* ---------------------------------------------------------------------- */
/* Main | Tech Stacks Container | Detail Fullsize
/* ---------------------------------------------------------------------- */

#video-tutorials-container-detail-fullsize > main {

  box-sizing: border-box;
  width: 100%;

  display: grid;
  justify-items: center;

  row-gap: 1.5em;

  border: 1px dashed black;

}


/* ------------------------------------------------------- */
/* Footer | Tech Stacks Container | Detail Fullsize
/* ------------------------------------------------------- */

#video-tutorials-container-detail-fullsize > footer {

  padding: 3em 0 0em 0;

  box-sizing: border-box;
  width: 100%;

  display: flex;
  justify-content: center;

  /* background-color: red; */

}

/* img */
#video-tutorials-container-detail-fullsize > footer > img {

  height: 9.5em;
  /* transform: scaleX(-1); */

}
