/* --------------------------------------------------------------- */
/* > install-detail-fullsize.css
/*
/* : style install detail fullsize
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Install Info Container
/* ------------------------------------------------------- */

#install-steps-info-container {

  /* position: relative; */

  /* box-sizing: border-box; */

  width: 100%;
  /* padding: 1.5em .4em; */

  display: grid;
  justify-items: center;
  /* justify-content: center; */

  /* row-gap: 1.5em; */

  /* display: none; */

  /* background-color: red; */

}

/* ------------------------------------------------------- */
/* Install Info Content Container
/* ------------------------------------------------------- */

.install-info-content-container {

  width: 100%;
  box-sizing: border-box;

  display: grid;
  row-gap: 1.5em;

  padding: .5em 0em 2.5em 0em;

  border-top: 1px solid rgb(225, 225, 225);
  border-bottom: 1px solid rgb(225, 225, 225);

}

/* ------------------------------------------------------- */
/* Header | Install Info Content Container
/* ------------------------------------------------------- */

.install-info-content-container > header {

  justify-self: flex-end;

}

/* header > div 1 */
.install-info-content-container > header > div:nth-of-type(1) {

  font-size: 24px;
  font-weight: bold;

  color:rgb(219, 219, 219);

}

/* ------------------------------------------------------- */
/* Main | Install Info Content Container
/* ------------------------------------------------------- */

.install-info-content-container > main {

  box-sizing: border-box;

  width: 100%;
  padding-top: 1em;

  display: grid;
  /* justify-content: center;
  justify-items: center; */

  border-radius: .4em;

  /* background-color: rgb(247, 247, 247); */

}






/* ------------------------------------------------------- */
/* ❌❌❌ Trash
/* ------------------------------------------------------- */

/* 🟣 auslagern */
/* ------------------------------------------------------- */
/* Nav Install Container Detail Fullsize
/* ------------------------------------------------------- */

#nav-install-container-detail-fullsize {

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;

}

#nav-install-container-detail-fullsize > img:nth-of-type(1) {

  height: 2.5em;
  opacity: .1;

  /* default mobile unshown */
  display: none;

}







/* 🟣 auslagern | stylings */
.courier-box {

  padding: .4em .6em;
  line-height: 1.5em;

  border-radius: .6em;

  border: 1px dashed rgb(190, 190, 190);
  background-color: rgb(232, 232, 232);

  color:rgb(41, 41, 41);

}

.courier-box > div,
.courier-box > span {

  font-size: 14.5px;

}


.font-courier {

  font-family: 'Courier New', Courier, monospace;
  font-size: 14.5px;
  font-weight: bold;

}
