/* ----------------------------------------------------------------------- */
/* text-important-body.css
/*
/* > styles custom text important body styles
/* ----------------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Bold, Bold & Crusiv
/* ------------------------------------------------------- */

.txt-b {

  font-weight: bold;

}

.txt-bi {

  font-weight: bold;
  font-style: italic;

}

/* ------------------------------------------------------- */
/* Underline
/* ------------------------------------------------------- */

.txt-u {

  text-decoration: underline;

}

/* ------------------------------------------------------- */
/* SFD Styles ( with color )
/* ------------------------------------------------------- */

.txt-b-sfd {

  font-weight: bold;
  color: rgba(0, 242, 254, .6);

}


/* ------------------------------------------------------- */
/* SFD Styles Gradient Style ( with color )
/* ------------------------------------------------------- */

.gradient-text-sfd-blue {

  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
