/* --------------------------------------------------------------- */
/* > benefits-detail-fullsize.css
/*
/* : style benefits detail fullsize
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Benefits Info Container
/* ------------------------------------------------------- */

#benefits-info-container {

  padding: .8em;

}

/* ------------------------------------------------------- */
/* Benefits List |
/* ------------------------------------------------------- */

.benefits-list-detail-fullsize {

  display: grid;
  row-gap: .4em;

}
