/* --------------------------------------------------------------- */
/* > benefits-detail-fullsize.css
/*
/* : style benefits detail fullsize
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Benefits Info Container
/* ------------------------------------------------------- */

#benefits-info-container {

  box-sizing: border-box;

  margin-top: 1em;

  width: 100%;
  padding: 1.5em .8em;

  display: grid;
  justify-items: center;
  justify-content: center;

  /* background-color: red; */

  row-gap: 1em;

  /* border-radius: .8em; */
  /* border: 1px dashed black; */

  /* background-color: brown; */

  /* background-color: rgb(228, 228, 228); */

}

/* ------------------------------------------------------- */
/* [1/2] | Benefits Info Item
/* ------------------------------------------------------- */

.benefit-info-item {

  box-sizing: border-box;
  padding: .8em .6em;

  width: 100%;

  display: flex;
  align-items: center;
  column-gap: 1.5em;

  border-radius: .6em;

  border: 1px solid rgb(222, 222, 222);
  background-color: rgb(251, 251, 251);

  transition: all .4s;

}

/* hover */
.benefit-info-item:hover {

  background-color: red;
  background-color: wheat;

  background-color: rgba(245, 222, 179, .5);

}

/* ------------------------------------------------------- */
/* Benefit Info Content
/* ------------------------------------------------------- */

.benefit-info-content {

  /* width: 100%; */

  display: grid;
  /* align-items: flex-start; */
  row-gap: .4em;

}

/* ------------------------------------------------------- */
/* Nr & Img Info | Benefit Info Content
/* ------------------------------------------------------- */

.nr-img-info-benefit-info {

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .4em;

}

/* ------------------------------ */
/* Nr | Div 1
/* ------------------------------ */

.nr-img-info-benefit-info > div:nth-of-type(1) {

  height: 1.5em;
  padding: 0 .5em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .8em;


  border: 1px solid rgb(211, 211, 211);

  background-color: white;

  background-color: rgb(244, 244, 244);
  color:rgb(145, 145, 145);

}

.nr-img-info-benefit-info > div:nth-of-type(1) > div:nth-of-type(1) {

  /* layout pos fix */
  padding-top: 1px;

  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;

}

/* ------------------------------ */
/* Img Info | Div 2
/* ------------------------------ */

.nr-img-info-benefit-info > div:nth-of-type(2) {

  min-width: 2.5em;
  min-height: 2.5em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .8em;

  /* border: 1px solid rgb(212, 212, 212); */
  background-color: #ececec;

  background-color: white;
  border: 1px solid rgb(234, 234, 234);

}

.nr-img-info-benefit-info > div:nth-of-type(2) > img {

  opacity: .8;

}


/* ------------------------------------------------------- */
/* Title Content | Benefit Info Content
/* ------------------------------------------------------- */

.title-content-benefit-info {

  padding-left: .4em;

  display: grid;
  row-gap: .1em;

}

/* ------------------------------------------------------- */
/* Header | Title Content
/* ------------------------------------------------------- */

.title-content-benefit-info > header {


}

/* header div */

.title-content-benefit-info > header > div {

  font-size: 14.5px;
  font-weight: bold;

}

/* ------------------------------------------------------- */
/* Main | Title Content
/* ------------------------------------------------------- */

.title-content-benefit-info > main {


}

/* main > div */
.title-content-benefit-info > main > div {

  font-size: 14.5px;
  line-height: 1.6em;

  color:rgb(100, 100, 100);

}

/* ------------------------------------------------------- */
/* [2/2] | Img Large Benefit Info
/* ------------------------------------------------------- */

/* because some img icons need another height
for correct layout proportion */

.img-lage-benefit-info-small,
.img-lage-benefit-info-medium,
.img-large-benefit-info-big {

  padding-top: .8em;
  padding-right: .4em;

  opacity: .3;

  /* default mobile unshown */
  display: none;

}

/* small */
.img-lage-benefit-info-small {

  height: 4.5em;

}

/* medium */
.img-lage-benefit-info-medium {

  height: 5.3em;

}

/* big */
.img-large-benefit-info-big {

  height: 6em;
}
