/* --------------------------------------------------------------- */
/* > nav-about-details.css
/*
/* : styles nav about details
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Nav About Details
/* ---------------------------------------------------------------- */

#nav-about-details {

  padding: .5em 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: .6em;
  row-gap: .6em;

  background-color: rgb(79, 120, 82);

}

/* ---------------------------------------------------------------- */
/* Labels | Nav About Details
/* ---------------------------------------------------------------- */

/* mobile */

#nav-about-details > label {

  width: 100%;

}
