/* --------------------------------------------------------------- */
/* > handling-sub-nav-it-docs-more-it.css
/*
/* : styles ...
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Handlings Styles
/* ---------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-sub-nav-coding-tasks"] {

  display: none;

}

/* default unshow algos info container */
input[name="chk-algo-info-basic"] {

  display: none;

}

/* ------------------------------------------- */
/* LeetCode
/* ------------------------------------------- */

/* set background red | ⚠️ dont understand why 2 because it should be 1 */
#radio-sub-nav-coding-tasks-leetcode-all:checked ~ .row-container:nth-of-type(3) label[for="radio-sub-nav-coding-tasks-leetcode-all"],
#radio-sub-nav-coding-tasks-leetcode-easy:checked ~ .row-container:nth-of-type(3) label[for="radio-sub-nav-coding-tasks-leetcode-easy"],
#radio-sub-nav-coding-tasks-leetcode-medium:checked ~ .row-container:nth-of-type(3) label[for="radio-sub-nav-coding-tasks-leetcode-medium"],
#radio-sub-nav-coding-tasks-leetcode-hard:checked ~ .row-container:nth-of-type(3) label[for="radio-sub-nav-coding-tasks-leetcode-hard"] {

  color: rgb(101, 101, 101);
  background-color: rgb(224, 224, 224);

}

/* change img custom radio */
#radio-sub-nav-coding-tasks-leetcode-all:checked ~ .row-container:nth-of-type(3) label[for="radio-sub-nav-coding-tasks-leetcode-all"] .counter-custom-radio-nav-label-radio .custom-radio-small > img,
#radio-sub-nav-coding-tasks-leetcode-easy:checked ~ .row-container:nth-of-type(3) label[for="radio-sub-nav-coding-tasks-leetcode-easy"] .counter-custom-radio-nav-label-radio .custom-radio-small > img,
#radio-sub-nav-coding-tasks-leetcode-medium:checked ~ .row-container:nth-of-type(3) label[for="radio-sub-nav-coding-tasks-leetcode-medium"] .counter-custom-radio-nav-label-radio .custom-radio-small > img,
#radio-sub-nav-coding-tasks-leetcode-hard:checked ~ .row-container:nth-of-type(3) label[for="radio-sub-nav-coding-tasks-leetcode-hard"] .counter-custom-radio-nav-label-radio .custom-radio-small > img {

  display: flex;

}

/* ------------------------------------------- */
/* Algos
/* ------------------------------------------- */

/* set background red | ⚠️ dont understand why 2 because it should be 1 */
#radio-sub-nav-coding-tasks-algos-basic:checked ~ .row-container:nth-of-type(3) label[for="radio-sub-nav-coding-tasks-algos-basic"],
#radio-sub-nav-coding-tasks-algos-math:checked ~ .row-container:nth-of-type(3) label[for="radio-sub-nav-coding-tasks-algos-math"],
#radio-sub-nav-coding-tasks-algos-advanced:checked ~ .row-container:nth-of-type(3) label[for="radio-sub-nav-coding-tasks-algos-advanced"] {

  color: rgb(101, 101, 101);
  background-color: rgb(224, 224, 224);

}


/* style > algos info conatiner */
#chk-algo-info-basic:checked ~ .row-container:nth-of-type(4) label[for="chk-algo-info-basic"],
#chk-algo-info-math:checked ~ .row-container:nth-of-type(4) label[for="chk-algo-info-basic"],
#chk-algo-info-advanced:checked ~ .row-container:nth-of-type(4) label[for="chk-algo-info-basic"] {

  background-image: linear-gradient(to right, #db7272, #da9292);

}

/* rotate img arrow > algos info conatiner */
#chk-algo-info-basic:checked ~ .row-container:nth-of-type(4) label[for="chk-algo-info-basic"] > img,
#chk-algo-info-math:checked ~ .row-container:nth-of-type(4) label[for="chk-algo-info-math"] > img,
#chk-algo-info-advanced:checked ~ .row-container:nth-of-type(4) label[for="chk-algo-info-advanced"] > img  {

  transform: rotate(180deg);

}

/* open/close > algos info conatiner */
#chk-algo-info-basic:checked ~ .row-container:nth-of-type(4) #basic-algo-info-container > main,
#chk-algo-info-math:checked ~ .row-container:nth-of-type(4) #math-algo-info-container  > main,
#chk-algo-info-advanced:checked ~ .row-container:nth-of-type(4) #advanced-algo-info-container  > main {

  display: grid;

}


/* ------------------------------------------- */
/* Others
/* ------------------------------------------- */

/* set background red | ⚠️ dont understand why 2 because it should be 1 */
#radio-sub-nav-coding-tasks-others-java:checked ~ .row-container:nth-of-type(3) label[for="radio-sub-nav-coding-tasks-others-java"],
#radio-sub-nav-coding-tasks-others-js:checked ~ .row-container:nth-of-type(3) label[for="radio-sub-nav-coding-tasks-others-js"],
#radio-sub-nav-coding-tasks-others-ts:checked ~ .row-container:nth-of-type(3) label[for="radio-sub-nav-coding-tasks-others-ts"],
#radio-sub-nav-coding-tasks-others-ai:checked ~ .row-container:nth-of-type(3) label[for="radio-sub-nav-coding-tasks-others-ai"],
#radio-sub-nav-coding-tasks-others-python:checked ~ .row-container:nth-of-type(3) label[for="radio-sub-nav-coding-tasks-others-python"],
#radio-sub-nav-coding-tasks-others-mixery:checked ~ .row-container:nth-of-type(3) label[for="radio-sub-nav-coding-tasks-others-mixery"] {

  color: rgb(101, 101, 101);
  background-color: rgb(224, 224, 224);

}


/* ---------------------------------------------------------------- */
/* Handling Action
/* ---------------------------------------------------------------- */

/* show sub navs ( for leetcode, algos, others ) */
#radio-nav-coding-tasks-leetcode:checked ~ .row-container:nth-of-type(2) #sub-nav-leetcode-coding-task,
#radio-nav-coding-tasks-algos:checked ~ .row-container:nth-of-type(2) #sub-nav-algos-coding-task,
#radio-nav-coding-tasks-others:checked ~ .row-container:nth-of-type(2) #sub-nav-others-coding-task {

  display: flex;

}


/* show algo info container (basic, math, advanced) */
#radio-sub-nav-coding-tasks-algos-basic:checked ~ .row-container:nth-of-type(4) #basic-algo-info-container,
#radio-sub-nav-coding-tasks-algos-math:checked ~ .row-container:nth-of-type(4) #math-algo-info-container,
#radio-sub-nav-coding-tasks-algos-advanced:checked ~ .row-container:nth-of-type(4) #advanced-algo-info-container {

  display: grid;

}



/* special case 1: by leetcode unshown sub navs algo  */
#radio-nav-coding-tasks-leetcode:checked ~ .row-container:nth-of-type(4) #algos-info-container-coding-task {

  display: none;

}

/* special case 2: by others unshown sub navs algo  */
#radio-nav-coding-tasks-others:checked ~ .row-container:nth-of-type(4) #algos-info-container-coding-task {

  display: none;

}
