/* --------------------------------------------------------------- */
/* > sub-navs-coding-task-more-it.css
/*
/* : styles sub navs coding tasks
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Sub Navs | LeetCode, Algos, Others
/* ---------------------------------------------------------------- */

#sub-nav-leetcode-coding-task,
#sub-nav-algos-coding-task,
#sub-nav-others-coding-task {

  /* padding-bottom: .6em; */

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap:.3em;

  /* default unshown */
  display: none;

}
