
/* ---------------------------------------------------------------------- */
/* > motivation-detail-fullsize.css
/*
/* : styles motivation detail fullsize
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* Motivation Container | Detail Fullsize
/* ---------------------------------------------------------------------- */

#motivation-container-detail-fullsize {

  background-color: rgb(243, 243, 243);

  border-radius: .6em;

  /* default unshown */
  display: none;

}

/* ---------------------------------------------------------------------- */
/* Main | Motivation Container | Detail Fullsize
/* ---------------------------------------------------------------------- */

#motivation-container-detail-fullsize > main {

  display: grid;
  row-gap: 1.5em;


}
