/* --------------------------------------------------------------- */
/* > footer-project-card-coding-task.css
/*
/* : styles footer project card coding task
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Footer | Coding Task Item | More IT
/* ---------------------------------------------------------------- */

.project-card-coding-task > footer {

  /* padding-top: .6em; */
  /* border-top: 1px solid rgb(218, 218, 218); */

  /* mobile */
  display: grid;
  /* justify-items: flex-start; */

  column-gap: .4em;
  row-gap: .4em;

}

/* ---------------------------------------------------------------- */
/* Link Task | Footer
/* ---------------------------------------------------------------- */

.link-task-coding-task {

  text-decoration: none;

  height: 1.8em;
  padding: 0 .5em 0 .4em;

  display: flex;
  align-items: center;
  /* justify-content: center; */
  column-gap: .4em;

  border-radius: .4em;

  font-weight: bold;

  background-color: rgb(243, 243, 243);
  color:rgb(115, 115, 115);

  user-select: none;
  transition: all .4s;

}

/* ---------------------------------------------------------------- */
/* External Link Container | Footer
/* ---------------------------------------------------------------- */

.external-link-container-coding-task {

  width: 100%;

  /* mobile */
  display: grid;
  grid: auto / 1fr 1fr 1fr;

  column-gap: .3em;

}

/* ---------------------------------------------------------------- */
/* Link External | Footer
/* ---------------------------------------------------------------- */

.link-external-coding-task {

  text-decoration: none;

  height: 1.8em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .4em;

  border-radius: .4em;

  font-weight: bold;

  background-color: rgb(243, 243, 243);
  color:rgb(115, 115, 115);

  user-select: none;
  transition: all .4s;

}
