/* --------------------------------------------------------------- */
/* > footer-project-card-coding-task.css
/*
/* : styles footer project card coding task
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Footer | Coding Task Item | More IT
/* ---------------------------------------------------------------- */

.project-card-coding-task > footer {

  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: .4em;

}
