/* --------------------------------------------------------------- */
/* > header project card coding task
/*
/* : styles header project card coding task
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Header | Project Card | Coding Task
/* ---------------------------------------------------------------- */

.project-card-coding-task > header {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: .8em;
  row-gap: .4em;

}


/* ---------------------------------------------------------------- */
/* Nr (Div1) | Main
/* ---------------------------------------------------------------- */

.project-card-coding-task > header > div:nth-of-type(1) {

  height: 1.5em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .4em;
  /* font-weight: bold; */
  letter-spacing: 1px;

  /* font-weight: bold; */

  /* 🟩 new */
  border: 1px solid rgb(193, 193, 193);

  background-color: white;
  color:rgb(180, 180, 180);
  color: #4d4d44;

  color:rgb(174, 174, 174);




}

/* div */
.project-card-coding-task > header > div:nth-of-type(1) > div {

  font-size: 14.5px;

  /* pos layout fix */
  padding-top: 1px;

}

/* ---------------------------------------------------------------- */
/* Addon Info Header Coding Task | Header
/* ---------------------------------------------------------------- */

.addon-info-header-coding-task  {

  display: flex;
  align-items: center;
  column-gap: .2em;

}

/* ---------------------------------------------------------------- */
/* Time Info |
/* ---------------------------------------------------------------- */

.time-info-coding-task {

  height: 1.5em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .4em;

  /* font-weight: bold; */

  border: 1px solid rgb(193, 193, 193);

  background-color: white;
  color:rgb(180, 180, 180);
  color: #4d4d44;

  color:rgb(174, 174, 174);


}

/* div */
.time-info-coding-task > div {

  font-size: 14.5px;

  /* pos layout fix */
  padding-top: 1px;

}

/* ---------------------------------------------------------------- */
/* Level Info Coding Task | Easy, Medium, Hard
/* ---------------------------------------------------------------- */

.level-info-coding-task-easy,
.level-info-coding-task-medium,
.level-info-coding-task-hard {

  height: 1.5em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .4em;

  font-weight: bold;

}

.level-info-coding-task-easy > div,
.level-info-coding-task-medium > div,
.level-info-coding-task-hard > div {

  font-size: 14.5px;

}

/* easy */
.level-info-coding-task-easy {

  border: 1px solid rgb(12, 167, 12);

  background-color: rgb(153, 251, 153);
  color:rgb(12, 167, 12);


}

/* medium */
.level-info-coding-task-medium {

  border: 1px solid rgb(209, 174, 0);

  background-color: rgb(255, 227, 86);
  color:rgb(142, 119, 5);

}

/* hard */
.level-info-coding-task-hard {

  border: 1px solid rgb(229, 49, 49);

  background-color: rgb(251, 133, 133);
  color:rgb(206, 59, 59);

}
