/* --------------------------------------------------------------- */
/* > header project card coding task
/*
/* : styles header project card coding task
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Header | Project Card | Coding Task
/* ---------------------------------------------------------------- */

.project-card-coding-task > header {

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .4em;

}

/* ---------------------------------------------------------------- */
/* Info Sticker Coding Task
/* ---------------------------------------------------------------- */

.info-sticker-coding-task {

  height: 1.4em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .15em;

  border-radius: .4em;

  border: 1px solid rgb(73, 73, 73);
  background-color: rgb(73, 73, 73);

  color:rgb(222, 222, 222);

}

.info-sticker-coding-task > div {

  font-size: 12.5px;
  /* pos layout fix */
  padding-top: 1px;

  font-weight: bold;

}



/* ---------------------------------------------------------------- */
/* Addon Info Header Coding Task | Header
/* ---------------------------------------------------------------- */

.addon-info-header-coding-task  {

  display: flex;
  align-items: center;
  column-gap: .2em;

}

/* ---------------------------------------------------------------- */
/* Level Info Coding Task | Easy, Medium, Hard
/* ---------------------------------------------------------------- */

.level-info-coding-task-easy,
.level-info-coding-task-medium,
.level-info-coding-task-hard {

  height: 1.4em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .4em;

  font-weight: bold;

}

.level-info-coding-task-easy > div,
.level-info-coding-task-medium > div,
.level-info-coding-task-hard > div {

  font-size: 12.5px;

}

/* easy */
.level-info-coding-task-easy {

  border: 1px solid rgb(12, 167, 12);

  background-color: rgb(153, 251, 153);
  color:rgb(12, 167, 12);


}

/* medium */
.level-info-coding-task-medium {

  border: 1px solid rgb(209, 174, 0);

  background-color: rgb(255, 227, 86);
  color:rgb(142, 119, 5);

}

/* hard */
.level-info-coding-task-hard {

  border: 1px solid rgb(229, 49, 49);

  background-color: rgb(251, 133, 133);
  color:rgb(169, 31, 31);

}
