/* --------------------------------------------------------------- */
/* > main-project-card-coding-task.css
/*
/* : styles main project card from coding task
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Main | Project Card
/* ---------------------------------------------------------------- */

.project-card-coding-task > main {

  padding: 1.3em .3em;

  display: grid;

}

/* ---------------------------------------------------------------- */
/* [1/3] | Header Category Coding Task
/* ---------------------------------------------------------------- */

.header-category-coding-task {

  display: flex;
  align-items: center;
  column-gap: .4em;

}

/* ------------------------------------------------------------ */
/* Title Category | Header Category  */
/* ------------------------------------------------------ */

.header-category-coding-task > div:nth-of-type(2) > div {

  font-size: 14.5px;
  line-height: 1.4em;

  font-weight: bold;

  color:#4d4d4d;

}

/* ---------------------------------------------------------------- */
/* [2/3] | Info Coding Task
/* ---------------------------------------------------------------- */

.info-coding-task {

  padding: .6em 0em .6em .3em;

  color:rgb(159, 159, 159);

}

/* div 1 */
.info-coding-task > div:nth-of-type(1) {

  font-size: 14.5px;
  line-height: 1.5em;

}

/* ---------------------------------------------------------------- */
/* [3/3] | It Skill Container | Coding Task
/* ---------------------------------------------------------------- */

.it-skill-container-coding-task {

  /* padding: .6em 0; */

  display: flex;
  flex-wrap: wrap;
  gap:.3em;

}

/* ---------------------------------------------------------------- */
/* Divs | It Skill Container
/* ---------------------------------------------------------------- */

.it-skill-container-coding-task > div {

  height: 1.4em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  /* font-weight: bold; */
  border-radius: .4em;

  /* opacity: 1; */

  border: 1px solid rgb(185, 185, 185);
  color:rgb(146, 146, 146);

}

/* div > div */
.it-skill-container-coding-task > div > div {

  font-size: 12.5px;

  /* pos layout fix */
  /* padding-top: 1px; */

}
