/* --------------------------------------------------------------- */
/* > project-card-coding-task.css
/*
/* : styles project card from coding task
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Project Card | Coding Task
/* ---------------------------------------------------------------- */

.project-card-coding-task {

  width: 100%;
  padding: 01.5em 0;

  display: grid;
  /* row-gap: 1em; */

}
