/* --------------------------------------------------------------- */
/* > img-view-detail-fullsize.css
/*
/* : style detail img view detail fullsize
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Img View Gallery Tiles Container
/* ------------------------------------------------------- */

.img-view-detail-fullsize {

  padding: 2.5em 0;

  /* mobile */
  display: grid;
  justify-content: center;

  row-gap: 1.3em;
  column-gap: 1.3em;

}

/* ------------------------------------------------------- */
/* Divs > Imgs
/* ------------------------------------------------------- */

.img-view-detail-fullsize > div {

  position: relative;

  width: 100%;
  display: grid;
  justify-items: center;


}

/* ------------------------------------------------------- */
/* Imgs | Img View Gallery Tiles Container
/* ------------------------------------------------------- */

.img-view-detail-fullsize > div > img {

  width: 100%;

  border-radius: .8em;
  border: 3px solid rgb(237, 237, 237);

  border: 4px solid rgba(28, 28, 28, .1);

  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;



}

/* ------------------------------------------------------- */
/* Nrs > Divs
/* ------------------------------------------------------- */

.nr-img-view-details-fullsize {

  position: absolute;
  right:-2px;

  min-width: 2em;
  height: 2em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  letter-spacing: 1px;

  border-radius: .1em .8em .1em .4em;

  background-color: rgb(144, 144, 144);
  color:rgb(209, 209, 209);

}

.nr-img-view-details-fullsize > div {

  font-size: 12.5px;

}
