/* --------------------------------------------------------------- */
/* > img-view-detail-fullsize.css
/*
/* : style detail img view detail fullsize
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Img View Gallery Tiles Container
/* ------------------------------------------------------- */

.img-view-detail-fullsize {

  box-sizing: border-box;

  width: 100%;
  padding: 3em 0;

  /* mobile */
  display: grid;
  justify-content: center;

  row-gap: 1em;
  column-gap: 1.3em;

  /* background-color: red; */

}

/* ------------------------------------------------------- */
/* Divs > Imgs
/* ------------------------------------------------------- */

.img-view-detail-fullsize > div {

  position: relative;

  width: 100%;
  display: grid;
  justify-items: center;

}

/* ------------------------------------------------------- */
/* Imgs | Img View Gallery Tiles Container
/* ------------------------------------------------------- */

.img-view-detail-fullsize > div > img {

  width: 100%;

  border-radius: .8em;

  border-radius: 1.3em;

  border: 3px solid rgb(216, 216, 216);

  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;

  transition: all .4s;
  cursor: pointer;

}

/* hover > img */
.img-view-detail-fullsize > div > img:hover {

  border: 3px solid rgba(28, 28, 28, 1);

}

/* hover > img > nr */
.img-view-detail-fullsize > div > img:hover ~ .nr-img-view-details-fullsize {

  background-color: rgba(28, 28, 28, 1);
  color:rgb(225, 225, 225);

}

/* ------------------------------------------------------- */
/* Nr > Divs
/* ------------------------------------------------------- */

.nr-img-view-details-fullsize {

  position: absolute;
  right:-2px;

  min-width: 2.3em;
  height: 2em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  letter-spacing: 1px;

  border-radius: .1em 1.2em .1em .4em;

  background-color: rgb(216, 216, 216);
  color:rgb(72, 72, 72);

  transition: all .4s;

}

.nr-img-view-details-fullsize > div {

  font-size: 12.5px;

}
