/* --------------------------------------------------------------- */
/* > private.css
/*
/* : style default private container for
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Private Container
/* ------------------------------------------------------- */

#private-container {

  z-index: 2;

  /* important to allow child elements to use max content area */
  height: 100%;
  width: 100%;

  display: grid;
  align-items: flex-start;

  /* row-gap: 1em; */
  grid: auto auto 1fr / 1fr;

  background-color: rgb(128, 0, 0);

}

/* ------------------------------------------------------------------- */
/* Img Background | My Private Page Container
/* ------------------------------------------------------------------- */

#img-background-my-private {

  z-index: 1;

  /* reminder: it orient by parent element which is pos=relative */
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);

  /* background-image: url("../../../../media/img/content/sky_cloud_clouds_175163_3840x2400.jpg");

  background-image: url("../../../../media/img/content/canyon-1852921.jpg"); */

  /* background-image: url("../../../../media/img/content/green-meadow-grass-field-blue-sky-foggy-landscape-scenery-5k-6000x4000-7807.jpg"); */

  /* background-image: url("../../../../media/img/content/particles_tilt_background_1186408_3840x2160.jpg"); */

  /* background-image: url("../../../../media/img/content/mountain_slope_trees_330922_3840x2400.jpg"); */

  /* background-image: url("../../../../media/img/content/forest_nature_trees_1325912_3840x2160.jpg"); */

  /* background-image: url("../../../../media/img/content/pexels-drift-shutterbug-2085998.jpg"); */

  background-image: url("../../../media/imgs/content/grass_dew_drops_158971_3840x2400.jpg");

  /* background-image: url("../../../../media/img/content/tents_night_starry_sky_114917_3840x2400.jpg"); */

  /* background-image: url("../../../../media/img/content/trail_forest_trees_917434_3840x2400.jpg"); */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
