/* --------------------------------------------------------------- */
/* > resp-private.css
/*
/* styles resp private
/*
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Min Width >= 330px
/* ------------------------------------------------------- */

@media (min-width: 330px) {

  /* ------------------------------------------------------- */
  /* Nav Private | Label
  /* ------------------------------------------------------- */
  #nav-private-container > label {

    width: auto;

  }

  /* ------------------------------------------------------- */
  /* Nav Private
  /* ------------------------------------------------------- */
  #nav-private-container {

    display: grid;
    grid: auto / 1fr 1fr;

  }

}

/* ------------------------------------------------------- */
/* Min Width >= 480px
/* ------------------------------------------------------- */

@media (min-width: 480px) {


  /* ------------------------------------------------------- */
  /* Nav Private
  /* ------------------------------------------------------- */
  #nav-private-container {

    display: grid;
    grid: auto / 1fr 1fr 1fr;

  }

}

/* ------------------------------------------------------- */
/* Min Width >= 700px
/* ------------------------------------------------------- */

@media (min-width: 700px) {


  /* ------------------------------------------------------- */
  /* Nav Private
  /* ------------------------------------------------------- */
  #nav-private-container {

    display: flex;


  }

}
