/* --------------------------------------------------------------- */
/* > about-mindset-video-container.css
/*
/* : styles about mindset viideo container
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* About Mindset Video Container
/* ---------------------------------------------------------------- */

#about-mindset-video-container {

  padding: 1em .8em;

  display: grid;
  justify-items: center;
  grid: 1fr / 1fr;

  row-gap: 2em;
  column-gap: 2em;;

}

/* ---------------------------------------------------------------- */
/* About Mindset Video Container
/* ---------------------------------------------------------------- */

.about-mindset-video-content {

  width: 100%;
  display: grid;
  row-gap: .6em;



}

/* ---------------------------------------------------------------- */
/* Header | About Mindset Video Container
/* ---------------------------------------------------------------- */

.about-mindset-video-content> header {

  display: grid;
  row-gap: .2em;

}

/* ---------------------------------------------------------------- */
/* Nr Header Mindset Video | Header
/* ---------------------------------------------------------------- */

.nr-header-mindset-video-one-element,
.nr-header-mindset-video-two-elements  {

  display: flex;
  align-items: center;

}

.nr-header-mindset-video-one-element div,
.nr-header-mindset-video-two-elements div {

  font-size: 14.5px;

}

/* div 1 */
.nr-header-mindset-video-one-element > div:nth-of-type(1),
.nr-header-mindset-video-two-elements > div:nth-of-type(1) {

    height: 1.6em;
    padding: 0 .3em;

    display: flex;
    align-items: center;

    letter-spacing: 0px;

    border-radius: .4em;
    font-weight: bold;

    background-color: #eeeeee;
    color: rgb(142, 142, 142);

}

/* two elements */
.nr-header-mindset-video-two-elements {

  justify-content: space-between;

}

/* 2nd element | timer */
.nr-header-mindset-video-two-elements > div:nth-of-type(2) {

  font-size: 13.5px;

  height: 1.8em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1px;
  font-weight: bold;

  border-radius: .4em;
  border: 1px solid rgb(223, 223, 223);
  /* background-color: rgb(184, 184, 184); */
  color: #a7a7a7;

}

/* ---------------------------------------------------------------- */
/* Title Header Mindset Video | Header
/* ---------------------------------------------------------------- */

.title-header-mindset-video {

  font-size: .90625em;
  font-style: italic;
  font-weight: bold;
  color: #808080;

}

/* ---------------------------------------------------------------- */
/* Video | Title Header Mindset Video
/* ---------------------------------------------------------------- */

.about-mindset-video-content > video {

  width: 100%;
  height: 15em;
  object-fit: cover;
  /* object-fit: fill; */
  /* object-fit: contain; */
  border-radius: 1em;
  /* border: 4px solid #444444; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;


}
