/* --------------------------------------------------------------- */
/* > about-mindset.css
/*
/* : styles about mindset
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* About Mindset Container
/* ---------------------------------------------------------------- */

#about-mindset-container {

  width: 100%;
  padding: 2em 0;
  background-color: rgb(67, 67, 199);

  /* default unshown */
  display: none;

}

/* ---------------------------------------------------------------- */
/* About Mindset Content
/* ---------------------------------------------------------------- */

#about-mindset-content {


}
