/* --------------------------------------------------------------- */
/* > about-mindset-3-quote-container.css
/*
/* : styles about mindset 3 quote container
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* About Mindset 3 Quote Word Container
/* ---------------------------------------------------------------- */

#about-mindset-3-quote-word-container {

  display: grid;
  justify-items: center;
  row-gap: .4em;

}

/* ---------------------------------------------------------------- */
/* Imgs | Brace left, right
/* ---------------------------------------------------------------- */

/* left */
#img-brace-left-3-quote-word {

  height: 2.3em;
  opacity: .1;

  /* mobile */
  transform: rotate(270deg);

}

/* right */
#img-brace-right-3-quote-word {

  height: 2.3em;
  opacity: .1;

  /* mobile */
  transform: rotate(90deg);

}

/* ---------------------------------------------------------------- */
/* 3 Quote Word Content
/* ---------------------------------------------------------------- */

#about-mindset-3-quote-word-content {

  display: grid;
  row-gap: 1em;

}

/* ---------------------------------------------------------------- */
/* All | x 3 Divs
/* ---------------------------------------------------------------- */

#about-mindset-3-quote-word-content > div {

  font-size: 14.5px;

  height: 2.3em;
  width: 6em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  border-radius: .6em;

  color:black;

}

/* ---------------------------------------------------------------- */
/* Div 1, 3 | Dream it. , Live it.
/* ---------------------------------------------------------------- */

#about-mindset-3-quote-word-content > div:nth-of-type(1),
#about-mindset-3-quote-word-content > div:nth-of-type(3) {

  background-color: #eeeeee;

}

/* ---------------------------------------------------------------- */
/* Div 2 | Build it.
/* ---------------------------------------------------------------- */

#about-mindset-3-quote-word-content > div:nth-of-type(2) {

  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border: 1px solid rgb(157, 200, 216);
  opacity: 1;

}
