/* --------------------------------------------------------------- */
/* > about-mindset.css
/*
/* : styles about mindset
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* About Mindset Container
/* ---------------------------------------------------------------- */

#about-mindset-container {

  width: 100%;
  padding: 3.5em 0;

  display: grid;
  justify-items: center;
  row-gap: 2em;

  background-color: white;

  /* default unshown */
  display: none;

}

/* ---------------------------------------------------------------- */
/* Seperator Img Container (Arrow)
/* ---------------------------------------------------------------- */

#about-mindset-container > .seperator-img-container-center-padd-1-0 {

  background-color: rgb(250, 250, 250);
}

/* img */
#about-mindset-container > .seperator-img-container-center-padd-1-0 > img {

  opacity: .4;

}

/* only first */
#about-mindset-container > .seperator-img-container-center-padd-1-0:nth-of-type(1) > img {

  transform: scaleX(-1);

}
