/* --------------------------------------------------------------- */
/* > about-mindset.css
/*
/* : styles about mindset
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* About Mindset Container
/* ---------------------------------------------------------------- */

#about-mindset-container {

  width: 100%;
  padding: 3.5em 0;

  display: grid;
  justify-items: center;
  row-gap: 2em;

  background-color: white;

  /* default unshown */
  display: none;

}
