/* --------------------------------------------------------------- */
/* > text-containers.css
/*
/* : styles text containers
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Plain Text Container
/* ------------------------------------------------------- */


.text-plain-container {


}

.text-plain-container > div {

  /* font-size: 14.5px; */
  font-size: 16px;

  line-height: 1.8em;

  color: rgb(139, 139, 139);

}

/* ------------------------------------------------------- */
/* Header Text Container
/* ------------------------------------------------------- */

.header-text-container {

  display: grid;
  row-gap: .6em;

}

/* ------------------------------------------------------- */
/* Header | Header Text Container
/* ------------------------------------------------------- */

.header-text-container > header {

  line-height: 1.4em;

}

/* div */
.header-text-container > header > div {

  font-size: 16px;
  font-weight: bold;
  color: rgb(87, 87, 87);

}

/* ------------------------------------------------------- */
/* Divs | Header Text Container
/* ------------------------------------------------------- */

.header-text-container > div {

  color: rgb(139, 139, 139);

  font-size: 16px;
  line-height: 1.8em;

}
