/* --------------------------------------------------------------- */
/* 🟣 css-framework
/* > nav-tab-containers.css
/*
/* : styles hash tag tab container
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Nav Tab Container | Small
/* ---------------------------------------------------------------- */

.nav-tab-container-small {

  display: grid;
  /* justify-items: center; */
  row-gap: .4em;

}

/* ---------------------------------------------------------------- */
/* Header | Nav Tab Container
/* ---------------------------------------------------------------- */

.nav-tab-container-small > header {

  font-weight: bold;

  color:grey;

}

/* div > header */
.nav-tab-container-small > header > div {

  font-size: 14.5px;

}

/* ---------------------------------------------------------------- */
/* Main | Nav Tab Container
/* ---------------------------------------------------------------- */

.nav-tab-container-small > main {

  padding: 0 0em;

  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: .4em;

}
