/* ----------------------------------------------------------------------- */
/* ⚠️ resp-content-page-containers.css
/*
/* > responsive sets of all content page containers
/* > small, medium, big
/* ----------------------------------------------------------------------- */


/* --------------------------------------------------------------------- */
/* All | Resp Content Page Containers (small,medium,big)
/* --------------------------------------------------------------------- */

.resp-content-page-container-small,
.resp-content-page-container-medium,
.resp-content-page-container-big {

    /* layout should be over background img */
    z-index: 2;

    /* important to stretch max height for content */
    height: 100%;
    width: 100%;

    box-sizing: border-box;

    padding: 0 .8em;

    display: grid;

    /* justify-items: center; */
    /* justify-content: flex-end; */

    /* background-color: red; */

}

/* ------------------------------------------------------- */
/* Medium, Big
/* Min Width >= 600px
/* ------------------------------------------------------- */

@media (min-width: 600px) {

   .resp-content-page-container-medium,
   .resp-content-page-container-big  {

        width: 85%;
        padding: 0 0;
        /* background-color: rgb(201, 126, 126); */

    }

}

/* ------------------------------------------------------- */
/* Small
/* Min Width >= 800px
/* ------------------------------------------------------- */


@media (min-width: 800px) {

    .resp-content-page-container-small {

      width: 35em;
      /* background-color: rgb(201, 126, 126); */

    }

}

/* ------------------------------------------------------- */
/* Medium, Big
/* Min Width >= 1000px
/* ------------------------------------------------------- */

@media (min-width: 1000px) {


   .resp-content-page-container-medium,
   .resp-content-page-container-big  {

        width: 55em;
        /* background-color: rgb(39, 65, 39); */

    }

}

/* ------------------------------------------------------- */
/* Big
/* Min Width >= 1000px
/* ------------------------------------------------------- */

@media (min-width: 1200px) {


    .resp-content-page-container-big  {

        width: 65em;
        /* background-color: magenta; */

    }

}
