/* --------------------------------------------------------------- */
/* > mini-projects-more-it.css
/*
/* : styles ...
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* ...
/* ---------------------------------------------------------------- */

#mini-projects-container-more-it {

  width: 100%;
  padding: 2.5em 0;

  display: grid;
  row-gap: 2em;

  display: none;

  background-color: rgb(165, 138, 42);

}
