/* --------------------------------------------------------------- */
/* > mini-projects-more-it.css
/*
/* : styles ...
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Mini Projects Container More IT
/* ---------------------------------------------------------------- */

#mini-projects-container-more-it {

  width: 100%;
  padding: 2.5em 0;

  display: grid;
  row-gap: 2em;

  display: none;

  background-color: rgb(165, 138, 42);

}

/* ---------------------------------------------------------------- */
/* Row Container (overwerite)
/* ---------------------------------------------------------------- */

/* white */
#mini-projects-container-more-it > .list-rows-content-container > .row-container:nth-child(odd) {

  background-color: rgb(220, 220, 220);


}
