/* --------------------------------------------------------------- */
/* > mini-project-card-more-it.css
/*
/* : styles d...
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Mini IT Project Card
/* ------------------------------------------------------- */

/* ⚠️ Kannst du auch für Mini Games verwenden */

.mini-it-project-card {

  position: relative;

}

/* ------------------------------------------------------- */
/* Img Container | Mini IT Project Card
/* ------------------------------------------------------- */

.mini-it-project-card > div:nth-of-type(1) {

 position: relative;

 float: left;

 margin-right: 1em;
 margin-bottom: 1em;

 display: grid;
 /* justify-items: center; */

 /* background-color: blue; */

}

/* ------------------------------------------------------- */
/* Img | Img Container
/* ------------------------------------------------------- */

.mini-it-project-card > div:nth-of-type(1) > img:nth-of-type(1) {

  height: 10em;

  border-radius: .8em;
  border: 3px solid black;

}

/* ------------------------------------------------------- */
/* Nr | Img Container
/* ------------------------------------------------------- */

.mini-it-project-card > div:nth-of-type(1) > div:nth-of-type(1) {

  position: absolute;
  top:0;
  left:0;

  word-spacing: 3px;

  width: 2.3em;
  height: 2.3em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  border-radius: .8em 0em .8em 0em;

  background-color: rgb(43, 43, 43);
  color: rgb(236, 236, 236);


}

/* ------------------------------------------------------- */
/* Div 2 | Title | Mini IT Project Card
/* ------------------------------------------------------- */

.mini-it-project-card > div:nth-of-type(2) {

  position: relative;

  padding: 1em;
  /* margin: 1em; */

  line-height: 1.4em;
  font-weight: bold;

}

/* ------------------------------------------------------- */
/* Div 3 | Skill Container
/* ------------------------------------------------------- */

.mini-it-project-card > div:nth-of-type(3) {



  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: .4em;
  row-gap: .4em; */


}

/* skill items */
.mini-it-project-card > div:nth-of-type(3) > div {

  float: left;

  margin-right: .4em;
  margin-bottom: .4em;

  height: 1.6em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  column-gap: .4em;


  border-radius: .4em;

  background-color: rgb(214, 214, 214);

}

.mini-it-project-card > div:nth-of-type(3) > div > div {

  font-size: 12.5px;

}

/* ------------------------------------------------------- */
/* Mini IT Project Card
/* ------------------------------------------------------- */
