/* --------------------------------------------------------------- */
/* > mini-projects-more-it.css
/*
/* : styles ...
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Mini Projects Container More IT
/* ---------------------------------------------------------------- */

#mini-projects-container-more-it {

  width: 100%;
  display: grid;

  display: none;

  background-color: rgb(165, 138, 42);

}

/* default unshown | img header content container */

#mini-projects-container-more-it > .row-container:nth-of-type(1) .header-content-container > img {

  display: none;

}

/* ---------------------------------------------------------------- */
/* Row Container (overwerite - blue )
/* ---------------------------------------------------------------- */

#mini-projects-container-more-it > .row-container:nth-of-type(1) {

  /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
  background-color: rgb(28, 28, 28);

}

/* ---------------------------------------------------------------- */
/* Row Container (overwerite - white, grey )
/* ---------------------------------------------------------------- */

/* white */
#mini-projects-container-more-it > .list-rows-content-container > .row-container:nth-child(odd) {

  background-color: rgb(238, 238, 238);

}
