/* --------------------------------------------------------------- */
/* > nav-install-top-it-roject.css
/*
/* : styles requirement detail fullsize
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Nav Install Container | Detail Fullsize
/* ------------------------------------------------------- */

#nav-install-container-detail-fullsize {

  /* padding: 1.5em 0; */

  width: 100%;

  display: flex;
  align-items: center;
  column-gap: .8em;

  /* background-color: blue; */

}
