/* --------------------------------------------------------------- */
/* > detail-fullsize-top-it-projec.css
/*
/* : style detail fullsize of top it project
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* Detail Fullsize | Top IT Project
/* -------------------------------------------------------------- */

.detail-fullsize-top-it-project {

  z-index: 3;

  box-sizing: border-box;

  width: 100%;
  padding: 0 .8em 0em .8em;

  display: grid;

  /* let content start on the top */
  align-items: flex-start;

  /* let content be centered */
  justify-items: center;
  justify-content: center;

  grid: auto auto 1fr / 1fr;

  background-color: rgb(133, 133, 133);
  background-color: white;

  /* background-color: red; */

}
