/* --------------------------------------------------------------- */
/* > detail-fullsize-top-it-projec.css
/*
/* : style detail fullsize of top it project
/* --------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* 🟩🟩🟩 New | Detail Fullsize | Top IT Project
/* -------------------------------------------------------------- */

.new-detail-fullsize-top-it-project {

  z-index: 3;

  box-sizing: border-box;

  width: 100%;
  padding: 0 .8em 0em .8em;

  display: grid;

  /* let content start on the top */
  align-items: flex-start;

  /* let content be centered */
  justify-items: center;
  justify-content: center;

  grid: auto auto 1fr / 1fr;

  background-color: rgb(133, 133, 133);
  background-color: white;

  /* background-color: red; */

}



/* -------------------------------------------------------------- */
/* ❌❌❌ Trash
/* -------------------------------------------------------------- */







/* ------------------------------------------------------- */
/* Detail Fullsize | Top IT Project Card
/* ------------------------------------------------------- */

.detail-fullsize-top-it-project {

  width: 100%;

  position: absolute;
  top: 0em;
  left:0;
  right:0;

  z-index: 9;

  font-size: 18px;

  background-color: rgb(208, 208, 208);

  /* ⚠️ in Entwicklung */
  display: none;

}

/* ------------------------------------------------------- */
/* Main | Detail Fullsize
/* ------------------------------------------------------- */

.detail-fullsize-top-it-project > main {

  width: 100%;

}

/* ------------------------------------------------------- */
/* Content Detail Fullsize | Main
/* ------------------------------------------------------- */

.content-detail-fullsize-top-it-project {

  width: 100%;

  padding: 0 .8em;


  /* background-color: magenta; */

}

/* ------------------------------------------------------- */
/* Nav Content | Detail Fullsize | Main
/* ------------------------------------------------------- */

#nav-content-detail-fullsize-top-it-project {

  display: grid;
  row-gap: .3em;

}

/* ------------------------------------------------------- */
/* Nav Content Area | Detail Fullsize
/* ------------------------------------------------------- */

.nav-content-area-detail-fullsize {

  padding: 1em .6em;
  /* background-color: magenta; */

}



/* 🟣 > detail fullsize | label content open close */
