/* --------------------------------------------------------------- */
/* > resp-more-it.css
/*
/* styles resp more it
/*
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Min Width >= 380px
/* ------------------------------------------------------- */
@media (min-width: 380px) {


  /* ------------------------------------------------------ */
  /* Title Header Container | Img 1
  /* ------------------------------------------------------ */

  .title-header-container-detail-fullsize > img:nth-of-type(1) {

    display: flex;

  }

}

/* ------------------------------------------------------- */
/* Min Width >= 450px
/* ------------------------------------------------------- */
@media (min-width: 450px) {


  /* ------------------------------------------------------- */
  /* Img Large | Header Detail Fullsize
  /* ------------------------------------------------------- */

  .img-large-header-detail-fullsize-medium,
  .img-large-header-detail-fullsize-big {

    display: flex;

  }

  /* ------------------------------------------------------ */
  /* Img View Container | Imgs
  /* ------------------------------------------------------ */

  #img-view-detail-fullsize > div  {

    width: 22em;

  }

}

/* ------------------------------------------------------- */
/* Min Width >= 480px
/* ------------------------------------------------------- */
@media (min-width: 480px) {


  /* ------------------------------------------------------- */
  /* Nav Content Area | Detail Fullsize
  /* ------------------------------------------------------- */

  .nav-content-area-detail-fullsize {

    padding: 1em 1em;
    /* background-color: magenta; */

  }

}

/* ------------------------------------------------------- */
/* Min Width >= 600px
/* ------------------------------------------------------- */
@media (min-width: 600px) {

  /* ------------------------------------------------------- */
  /* Fixed Header Content
  /* ------------------------------------------------------- */
  #fixed-header-content-detail-fullsize {

    padding: 0em .4em;

  }

  /* ------------------------------------------------------ */
  /* Img View Container | Divs
  /* ------------------------------------------------------ */
  #img-view-detail-fullsize > div  {

    width: 100%;

  }

  /* ------------------------------------------------------ */
  /* Img View Container
  /* ------------------------------------------------------ */
  #img-view-detail-fullsize {

    /* desktop */
    grid: auto / 1fr 1fr;

  }

  /* ------------------------------------------------------- */
  /* Requirment Item | Requirment List
  /* ------------------------------------------------------- */

  .requirement-item-detail-fullsize {

    width: 80%;

  }

  /* ------------------------------------------------------- */
  /* Motivation Container Detail Fullsize | Main
  /* ------------------------------------------------------- */

  #motivation-container-detail-fullsize > main {

    width: 80%;

  }


  /* ------------------------------------------------------- */
  /* Install Info Container
  /* ------------------------------------------------------- */

  #more-details-info-container,
  #install-detail-fullsiz {

    box-sizing: border-box;

    width: 100%;
    padding: 1.5em 1.5em;

    display: grid;
    justify-items: center;

    row-gap: 1.5em;

  }

  /* ------------------------------------------------------- */
  /* Img Two & Header | Tutorial Styles
  /* ------------------------------------------------------- */
  .img-two-container,
  .img-two-header-container > main {

    grid: auto / 1fr 1fr;

  }


}

/* ------------------------------------------------------- */
/* Min Width >= 750px
/* ------------------------------------------------------- */

@media (min-width: 750px) {

  /* ------------------------------------------------------- */
  /* ❌ Nav Content Area | Detail Fullsize
  /* ------------------------------------------------------- */
  .nav-content-area-detail-fullsize {
    padding: 1em 3em;
    /* background-color: magenta; */
  }


  /* ------------------------------------------------------- */
  /* Img Content Right | Nav Content | Detail Fullsize
  /* ------------------------------------------------------- */

  .img-content-right-detail-fullsize {

    float:right;
    display: block;

  }

  /* ------------------------------------------------------- */
  /* Benefits Item | Detail Fullsize
  /* ------------------------------------------------------- */

  .benefits-item-detail-fullsize {

    flex-wrap: nowrap;

  }

  /* ------------------------------------------------------- */
  /* Nr & Img Category | Benefits Item
  /* ------------------------------------------------------- */

  .nr-img-category-item-detail-fullsize {

    /* mobile */
    display: grid;
    row-gap: .3em;

  }

  /* ------------------------------------------------------ */
  /* Img View Container
  /* ------------------------------------------------------ */

  #img-view-detail-fullsize {

    /* desktop */
    grid: auto / 18em 18em;

  }

  /* ------------------------------------------------------ */
  /* Nav Install Container | Img Large
  /* ------------------------------------------------------ */
  #nav-install-container-detail-fullsize > img:nth-of-type(1) {

    display: flex;

  }

  /* ------------------------------------------------------ */
  /* Nav More Details Container | Img Large
  /* ------------------------------------------------------ */
  #nav-more-details-container-detail-fullsize > img:nth-of-type(1) {

    display: flex;

  }


}

/* ------------------------------------------------------- */
/* Min Width >= 800px
/* ------------------------------------------------------- */

@media (min-width: 800px) {


  /* ------------------------------------------------------- */
  /* Benefit Info Item | Img Info
  /* ------------------------------------------------------- */
  .nr-img-info-benefit-info > div:nth-of-type(2) {

    display: none;

  }

  /* ------------------------------------------------------- */
  /* Benefit Info Item | img large
  /* ------------------------------------------------------- */
  .img-lage-benefit-info-small,
  .img-lage-benefit-info-medium,
  .img-large-benefit-info-big {

    display: flex;

  }

  /* ------------------------------------------------------- */
  /* Install Detail Fullsize
  /* ------------------------------------------------------- */
  #install-detail-fullsize {

    padding: 1.5em 0em;
    width: 90%;
    /* background-color: blue; */

  }

  /* ------------------------------------------------------- */
  /* More Details | Detail Fullsize
  /* ------------------------------------------------------- */
  #more-details-detail-fullsize {

    width: 90%;
    /* background-color: blue; */

  }

}

/* ------------------------------------------------------- */
/* Min Width >= 1000px
/* ------------------------------------------------------- */

@media (min-width: 1000px) {


  /* ------------------------------------------------------- */
  /* Benefit Info Item
  /* ------------------------------------------------------- */
  .benefit-info-item {

    width: 40em;
    /* background-color: red; */

  }

  /* ------------------------------------------------------- */
  /* Chapter Software Tutorial | Main
  /* ------------------------------------------------------- */

  .chapter-software-tutorial > main {

    width: 95%;
    /* background-color: blue; */

  }


}


/* ------------------------------------------------------- */
/* Min Width >= 1200px
/* ------------------------------------------------------- */

@media (min-width: 1200px) {


  /* ------------------------------------------------------ */
  /* Header Detail Fullsize
  /* ------------------------------------------------------ */

  #header-detail-fullsize {

    width: 90%;

  }

  /* ------------------------------------------------------ */
  /* Img View Container
  /* ------------------------------------------------------ */

  #img-view-detail-fullsize {

    /* desktop */
    grid: auto / 22em 22em;

  }



  /* ------------------------------------------------------ */
  /* Clap Content | label, div
  /* ------------------------------------------------------ */

  /* mobile label, div max 100% */
  #clap-content-top-it-project > label,
  #clap-content-top-it-project > div {

    width: 90%;

  }


}


/* ------------------------------------------------------- */
/* Min Width >= 1400px
/* ------------------------------------------------------- */

@media (min-width: 1400px) {

  .benefit-info-item {

    width: 40em;
    /* background-color: red; */

  }

}
