/* --------------------------------------------------------------- */
/* > resp-more-it.css
/*
/* styles resp more it
/*
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Min Width >= 380px
/* ------------------------------------------------------- */

@media (min-width: 380px) {


  /* ------------------------------------------------------ */
  /* Title Detail | Img 1
  /* ------------------------------------------------------ */

  .title-detail-fullsize > img:nth-of-type(1) {

    display: flex;

  }

  /* ------------------------------------------------------ */
  /* Img View Container | Imgs
  /* ------------------------------------------------------ */

  .img-view-detail-fullsize > div  {

    width: 18em;

  }

}

/* ------------------------------------------------------- */
/* Min Width >= 480px
/* ------------------------------------------------------- */

@media (min-width: 480px) {


  /* ------------------------------------------------------- */
  /* Nav Content Area | Detail Fullsize
  /* ------------------------------------------------------- */

  .nav-content-area-detail-fullsize {

    padding: 1em 1em;
    /* background-color: magenta; */

  }

  /* ------------------------------------------------------- */
  /* [Extra] Benefits Info | overwrite "nav-content-area"
  /* ------------------------------------------------------- */

  #benefits-info-container {

    padding: 2em 1em;

  }




}


/* ------------------------------------------------------- */
/* Min Width >= 600px
/* ------------------------------------------------------- */

@media (min-width: 600px) {

  /* ------------------------------------------------------- */
  /* Nav Content Area | Detail Fullsize
  /* ------------------------------------------------------- */

  .nav-content-area-detail-fullsize {

    padding: 1em 2em;
    /* background-color: magenta; */

  }

  /* ------------------------------------------------------- */
  /* [Extra] Benefits Info | overwrite "nav-content-area"
  /* ------------------------------------------------------- */

  #benefits-info-container {

    padding: 2em 2em;

  }



  /* ------------------------------------------------------ */
  /* Img View Container
  /* ------------------------------------------------------ */

  .img-view-detail-fullsize {

    /* desktop */
    grid: auto / 1fr 1fr;

  }

  /* ------------------------------------------------------ */
  /* Img View Container | Divs
  /* ------------------------------------------------------ */

  .img-view-detail-fullsize > div  {

    width: 100%;

  }

}


/* ------------------------------------------------------- */
/* Min Width >= 750px
/* ------------------------------------------------------- */

@media (min-width: 750px) {

  /* ------------------------------------------------------- */
  /* Nav Content Area | Detail Fullsize
  /* ------------------------------------------------------- */

  .nav-content-area-detail-fullsize {

    padding: 1em 3em;
    /* background-color: magenta; */

  }

  /* ------------------------------------------------------- */
  /* [Extra] Benefits Info | overwrite "nav-content-area"
  /* ------------------------------------------------------- */

  #benefits-info-container {

    padding: 2em 3em;

  }


  /* ------------------------------------------------------- */
  /* Img Content Right | Nav Content | Detail Fullsize
  /* ------------------------------------------------------- */

  .img-content-right-detail-fullsize {

    float:right;

    /* height: 7em; */

    /* mobile default unshown */
    display: block;

  }

  /* ------------------------------------------------------- */
  /* Benefits Item | Detail Fullsize
  /* ------------------------------------------------------- */

  .benefits-item-detail-fullsize {

    /* margin: 0 10%; */

    flex-wrap: nowrap;
    /* padding: 1em 2em; */

  }

  /* ------------------------------------------------------- */
  /* Nr & Img Category | Benefits Item
  /* ------------------------------------------------------- */

  .nr-img-category-item-detail-fullsize {

    /* mobile */
    display: grid;
    row-gap: .3em;

  }

  /* ------------------------------------------------------ */
  /* Img View Container
  /* ------------------------------------------------------ */

  .img-view-detail-fullsize {

    /* desktop */
    grid: auto / 18em 18em;

  }


}

/* ------------------------------------------------------- */
/* Min Width >= 1200px
/* ------------------------------------------------------- */

@media (min-width: 1200px) {

  /* ------------------------------------------------------ */
  /* Img View Container
  /* ------------------------------------------------------ */

  .img-view-detail-fullsize {

    /* desktop */
    grid: auto / 22em 22em;

  }


}
