/* --------------------------------------------------------------- */
/* > books-private.css
/*
/* : styles book private
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Books Container Private
/* ---------------------------------------------------------------- */

#books-container-private {

  padding: 1.5em 0;
  height: 100%;

  display: none;


  background-color: rgb(197, 214, 18);

}
