/* --------------------------------------------------------------- */
/* > nav-books-private.css
/*
/* : styles sub nav private
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Sub Nav Books | Private
/* ---------------------------------------------------------------- */

#nav-books-private {

  display: none;

  color:rgb(86, 1, 1);

}
