/* ----------------------------------------------------------------------- */
/* labels-radio.css
/*
/* > styles custom label with img & text + custom radio
/* ----------------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* All | Label Radio
/* ------------------------------------------------------- */

.label-radio-small,
.label-radio-medium,
.label-radio-big {

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .6em;

  font-weight: bold;

  /* border: 1px solid black; */

  background-color: rgb(157, 200, 216);
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);

  color: #1e1e1e;

  transition: all .4s;
  cursor: pointer;
  user-select: none;

}

/* hover */
.label-radio-small:hover,
.label-radio-medium:hover,
.label-radio-big:hover {

  background-image: linear-gradient(to right, #db7272, #da9292);
}

/* ------------------------------------------------------- */
/* Div 1 | Label Radio
/* ------------------------------------------------------- */

.label-radio-small > div:nth-of-type(1),
.label-radio-medium > div:nth-of-type(1),
.label-radio-big > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .6em;

  font-size: 14.5px;

}

/* important: this img is default little bit upper to text direction */
.img-arrow-clap-pos-fix {

  padding-top: 2px;

}

/* ------------------------------------------------------- */
/* Small
/* ------------------------------------------------------- */

.label-radio-small {

  height: 1.6em;
  padding: 0 .6em;
  border-radius: .6em;

}

/* ------------------------------------------------------- */
/* Medium
/* ------------------------------------------------------- */

.label-radio-medium {

  height: 2em;
  padding: 0 .6em;
  border-radius: .6em;

}

/* ------------------------------------------------------- */
/* big
/* ------------------------------------------------------- */

.label-radio-big {

  height: 2.3em;
  padding: 0 .6em;
  border-radius: .6em;

}
