/* ----------------------------------------------------------------------- */
/* labels-up-down.css
/*
/* > styles custom label with img & text + img(up/down)
/* ----------------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* All | Label Up Down
/* ------------------------------------------------------- */

.label-up-down-small-small,
.label-up-down-medium,
.label-up-down-big {

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .6em;

  font-weight: bold;

  /* border: 1px solid black; */

  background-color: rgb(157, 200, 216);
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);

  color: #1e1e1e;

  transition: all .4s;
  cursor: pointer;
  user-select: none;

}

/* ------------------------------------------------------- */
/* Divs | Label Up Down
/* ------------------------------------------------------- */

.label-up-down-small-small > div,
.label-up-down-medium > div,
.label-up-down-big > div{

  font-size: 14.5px;

}

/* hover */
.label-up-down-small-small:hover,
.label-up-down-medium:hover,
.label-up-down-big:hover  {

  /* background-color: #db7272; */
  background-image: linear-gradient(to right, #db7272, #da9292);
}

/* important: this img is default little bit upper to text direction */
.img-arrow-clap-pos-fix {

  padding-top: 2px;

}

/* ------------------------------------------------------- */
/* Small
/* ------------------------------------------------------- */

.label-up-down-small-small {

  height: 1.6em;
  padding: 0 .6em;
  border-radius: .6em;

}

/* ------------------------------------------------------- */
/* Medium
/* ------------------------------------------------------- */

.label-up-down-medium {

  height: 2em;
  padding: 0 .6em;
  border-radius: .6em;

}

/* ------------------------------------------------------- */
/* Big
/* ------------------------------------------------------- */

.label-up-down-big {

  height: 2.3em;
  padding: 0 .6em;
  border-radius: .6em;

}
