/* --------------------------------------------------------------- */
/* > nav-labels-radio.css
/*
/* : styles nav label radio styles
/* : nr + seperator - title & count - custom radio
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* All | Nav Label Radios
/* ---------------------------------------------------------------- */

.nav-label-radio-small,
.nav-label-radio-medium,
.nav-label-radio-big {

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .4em;

  /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
  /* background-image: linear-gradient(to right, #f5deb3 0%, #e5c78e 100%); */

  background-color: rgb(236, 236, 236);
  /* border: 1px solid rgb(195, 195, 195); */

  color: #1e1e1e;

  transition: all .4s;
  cursor: pointer;
  user-select: none;

}

/* hover */
.nav-label-radio-small:hover,
.nav-label-radio-medium:hover,
.nav-label-radio-big:hover {

  /* background-image: linear-gradient(to right, #db7272, #da9292); */
  /* background-color: #db7272;
  background-color: wheat; */

  background-image: linear-gradient(to right, #f5deb3 0%, #e5c78e 100%);

}

/* ---------------------------------------------------------------- */
/* Small |
/* ---------------------------------------------------------------- */

.nav-label-radio-small {

  height: 2.3em;
  padding: 0 .6em;

  border-radius: .6em;

}

/* ---------------------------------------------------------------- */
/* Medium |
/* ---------------------------------------------------------------- */

.nav-label-radio-medium {

  height: 2.5em;
  padding: 0 .6em;

  border-radius: .6em;

}

/* ---------------------------------------------------------------- */
/* Big |
/* ---------------------------------------------------------------- */

.nav-label-radio-big {

  height: 2.8em;
  padding: 0 .6em;

}

/* ---------------------------------------------------------------- */
/* Title | Nav Label Radio
/* ---------------------------------------------------------------- */

.title-nav-label-radio {

  display: flex;
  align-items: center;
  column-gap: .4em;

}

/* ---------------------------------------------------------------- */
/* Img | Title | Nav Label Radio
/* ---------------------------------------------------------------- */

.title-nav-label-radio > img {

  opacity: .6;

}

/* ---------------------------------------------------------------- */
/* Div 1 | Text Title | Nav Label Radio
/* ---------------------------------------------------------------- */

.title-nav-label-radio > div:nth-of-type(1) {

  font-size: 14.5px;
  font-weight: bold;

}


/* ---------------------------------------------------------------- */
/* Counter Custom Radio | Nav Label Radio
/* ---------------------------------------------------------------- */

.counter-custom-radio-nav-label-radio {

  display: flex;
  align-items: center;
  column-gap: .4em;

}

/* ---------------------------------------------------------------- */
/* Counter | Nav Label Radio
/* ---------------------------------------------------------------- */

.counter-nav-label-radio {

  font-size: 12.5px;

  /* width: 2.5em; */
  height: 1.3em;

  /* layout optimal pos fix */
  /* padding-top: .1em; */

  padding-left: .3em;
  padding-right: .3em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  border-radius: .3em;

  /* background-color: #74abc2; */
  background-color: rgb(224, 224, 224);
  color:#969696;

  border: 1px solid rgb(197, 197, 197);

}
