/* --------------------------------------------------------------- */
/* > nav-labels-radio.css
/*
/* : styles nav label radio styles
/* : nr + seperator - title & count - custom radio
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* All | Nav Label Radios
/* ---------------------------------------------------------------- */

.nav-label-radio-medium,
.nav-label-radio-big {

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  column-gap: .4em;

  /* border: 1px solid black; */

  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  color: #1e1e1e;

  transition: all .4s;
  cursor: pointer;
  user-select: none;

}

/* hover */
.nav-label-radio-medium:hover,
.nav-label-radio-big:hover {

  background-image: linear-gradient(to right, #db7272, #da9292);

}

/* ---------------------------------------------------------------- */
/* Medium |
/* ---------------------------------------------------------------- */

.nav-label-radio-medium {

  height: 2.5em;
  padding: 0 .6em;

  border-radius: .6em;

}

/* ---------------------------------------------------------------- */
/* Big |
/* ---------------------------------------------------------------- */

.nav-label-radio-big {

  height: 2.8em;
  padding: 0 .6em;

}

/* ---------------------------------------------------------------- */
/* Title Content | Nav Label Radio
/* ---------------------------------------------------------------- */

.title-content-nav-label-radio {

  display: flex;
  align-items: center;
  column-gap: .3em;

  font-size: 14.5px;

}

/* ---------------------------------------------------------------- */
/* Nr | Nav Label Radio
/* ---------------------------------------------------------------- */

.title-content-nav-label-radio .nr-nav-label-radio {

  font-size: 14.5px;

  font-weight: bold;

}

/* ---------------------------------------------------------------- */
/* Title | Nav Label Radio
/* ---------------------------------------------------------------- */

.title-nav-label-radio {

  font-weight: bold;

}

/* ---------------------------------------------------------------- */
/* Counter Custom Radio | Nav Label Radio
/* ---------------------------------------------------------------- */

.counter-custom-radio-nav-label-radio {

  display: flex;
  align-items: center;
  column-gap: .4em;

}

/* ---------------------------------------------------------------- */
/* Counter | Nav Label Radio
/* ---------------------------------------------------------------- */

.counter-nav-label-radio {

  font-size: 12.5px;

  /* width: 2.5em; */
  height: 1.5em;

  /* layout optimal pos fix */
  padding-top: .1em;

  padding-left: .3em;
  padding-right: .3em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  border-radius: .4em;

  background-color: #74abc2;
  background-color: white;
  color:#424242;

}
