/* --------------------------------------------------------------- */
/* > nav-labels-radio.css
/*
/* : styles nav label radio styles
/* : nr + seperator - title & count - custom radio
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* All | Nav Label Radios
/* ---------------------------------------------------------------- */

.nav-label-radio-medium,
.nav-label-radio-big {

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    column-gap: .4em;


    /* border: 1px solid black; */

    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: #1e1e1e;

    transition: all .4s;
    cursor: pointer;
    user-select: none;

}

/* hover */
.nav-label-radio-medium:hover,
.nav-label-radio-big:hover {

  background-image: linear-gradient(to right, #db7272, #da9292);

}

/* ---------------------------------------------------------------- */
/* Medium |
/* ---------------------------------------------------------------- */

.nav-label-radio-medium {

  height: 2.5em;
  padding: 0 .6em;

  border-radius: .6em;

}

/* ---------------------------------------------------------------- */
/* Big |
/* ---------------------------------------------------------------- */

.nav-label-radio-big {

  height: 2.8em;
  padding: 0 .6em;

}

/* ---------------------------------------------------------------- */
/* Nr | Nav Label Radio
/* ---------------------------------------------------------------- */

.nav-label-radio-medium .nr-nav-label-radio,
.nav-label-radio-big .nr-nav-label-radio {

  font-size: 14.5px;

  font-weight: bold;

}

/* ---------------------------------------------------------------- */
/* Title Container | Nav Label Radio
/* ---------------------------------------------------------------- */

.nav-label-radio-medium .title-container-nav-label-radio,
.nav-label-radio-big .title-container-nav-label-radio {

  display: flex;
  align-items: center;
  column-gap: .3em;

  font-size: 14.5px;

}

/* ---------------------------------------------------------------- */
/* Div 1 (title) | Title Container
/* ---------------------------------------------------------------- */

.nav-label-radio-medium .title-container-nav-label-radio > div:nth-of-type(1),
.nav-label-radio-big .title-container-nav-label-radio > div:nth-of-type(1) {

  font-weight: bold;

}

/* ---------------------------------------------------------------- */
/* Div 2 (counter) | Title Container
/* ---------------------------------------------------------------- */

.nav-label-radio-medium .title-container-nav-label-radio > div:nth-of-type(2),
.nav-label-radio-big .title-container-nav-label-radio > div:nth-of-type(2) {

  font-size: 12.5px;

  /* width: 2.5em; */
  height: 1.5em;
  padding: 0 .3em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  border-radius: .4em;

  background-color: #74abc2;
  background-color: white;
  color:#424242;



}
