/* --------------------------------------------------------------- */
/* 🟣 css-framework
/* > tab-labels.css
/*
/* : styles tab labels for e.g nav tab containers
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Tab Label | Small
/* ---------------------------------------------------------------- */

.tab-label-small {

  height: 1.6em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .4em;

  /* font-weight: bold; */
  /* font-style: italic; */

  border: 1px solid rgb(183, 183, 183);
  color:rgb(128, 128, 128);

  /* color: #545454; */

  cursor: pointer;
  user-select: none;

  transition: all .4s;

}

/* ---------------------------------------------------------------- */
/* Div 1 (Title) | Tab Label
/* ---------------------------------------------------------------- */

.tab-label-small > div:nth-of-type(1) {

  padding: 0 .6em;
  font-size: 14.5px;

}

/* ---------------------------------------------------------------- */
/* Div 2 (Nr) | Tab Label
/* ---------------------------------------------------------------- */

.tab-label-small > div:nth-of-type(2) {

  padding: 0 .4em;
  height: 100%;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  border-radius: 0 .4em .4em 0;

  background-color: rgb(225, 225, 225);
  color:rgb(46, 46, 46);

}

.tab-label-small > div:nth-of-type(2) > div {

  font-size: 12.5px;

  /* layout pos fix */
  padding-top: 2px;

}

.tab-label-small:hover {

  /* color:rgb(83, 83, 83);
  background-color: rgb(224, 224, 224); */

  color: rgb(27, 27, 27);
  background-color: wheat;

}

.tab-label-small:hover > div:nth-of-type(2) {

  background-color: white;
}

/* seperator | div 2 > div 1 */
.tab-label-small > div:nth-of-type(2) > div:nth-of-type(1) {

  /* layout pos fix */
  padding-bottom: 2px;

}

/* nr | div 2 > div 2 */
.tab-label-small > div:nth-of-type(2) > div:nth-of-type(2) {

  /* layout pos fix */
  padding-top: .6px;
}
