/* --------------------------------------------------------------- */
/* > mini-status.css
/*
/* : styles mini status, to do, later, finished
/* --------------------------------------------------------------- */


/* -------------------------------------------------- */
/* Mini Status | to do, later, finished */
/* -------------------------------------------------- */

.mini-status-to-do,
.mini-status-later,
.mini-status-finished {

  height: 1.5em;
  min-width: 3em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .3em;

  font-weight: bold;

  border-radius: .4em;

  /* border-radius: 1em; */

}

/* div 1 */
.mini-status-to-do > div:nth-of-type(1),
.mini-status-later > div:nth-of-type(1),
.mini-status-finished > div:nth-of-type(1) {

  font-size: 12.5px;

}

/* ------------------------------------------ */
/* to do */
/* ------------------------------------------ */

.mini-status-to-do {

  /* border: 1px solid rgb(229, 49, 49); */

  background-color: rgb(251, 133, 133);
  color:rgb(169, 31, 31);
  color:black;

}

/* ------------------------------------------ */
/* later */
/* ------------------------------------------ */

.mini-status-later {

  /* border: 1px solid rgb(123, 123, 123); */

  background-color: rgb(208, 208, 208);
  color:rgb(106, 106, 106);
  color:black;

}

.mini-status-later > div {

  /* layout pos fix */
  padding-top: 1px;
}

/* ------------------------------------------ */
/* finished */
/* ------------------------------------------ */

.mini-status-finished {

  /* border: 1px solid rgb(12, 167, 12); */

  background-color: rgb(153, 251, 153);
  color:rgb(12, 167, 12);
  color:black;

}
