/* --------------------------------------------------------------- */
/* > list-rows-content-container.css
/*
/* : style
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* List Rows Content Container
/* ------------------------------------------------------- */

.list-rows-content-container {

  width: 100%;

  display: grid;

  /* background-color: magenta; */

}
