/* --------------------------------------------------------------- */
/* > contact-me.css
/*
/* : styles about contact me
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Contact Me Container
/* ---------------------------------------------------------------- */

#about-contact-me-container {

  width: 100%;

}

/* ---------------------------------------------------------------- */
/* Header Content Body | Contact Me Container
/* ---------------------------------------------------------------- */

#about-contact-me-container .header-content-body:nth-of-type(1) {

  justify-self: flex-start;
  justify-self: flex-end;

  background-color: red;

}

/* ---------------------------------------------------------------- */
/* Contact Me Content Container
/* ---------------------------------------------------------------- */

#about-contact-me-content-container {

  width: 100%;
  padding: 2em 0;

  /* background-color: rgb(245, 245, 245); */

}

/* ---------------------------------------------------------------- */
/* Img Clipart | Contact Me
/* ---------------------------------------------------------------- */

#img-clipart-contact-me {


}

/* ---------------------------------------------------------------- */
/* Info Email Container | About Contact Me
/* ---------------------------------------------------------------- */

#info-email-container-about-contact-me {

  padding: 2em 0;

  display: flex;
  align-content: center;
  justify-content: center;

  background-color: grey;

}


/* ---------------------------------------------------------------- */
/* Info Email Container | About Contact Me
/* ---------------------------------------------------------------- */

#email-about-contact-me {

  text-decoration: none;

}

/* hover */
#email-about-contact-me:hover {

  text-decoration: none;

}

/* visited */
#email-about-contact-me:visited {

  text-decoration: none;

}
