/* --------------------------------------------------------------- */
/* > contact-me.css
/*
/* : styles about contact me
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Contact Me Container
/* ---------------------------------------------------------------- */

#about-contact-me-container {

  width: 100%;

  box-sizing: border-box;

  display: grid;
  justify-items: center;



}

/* ---------------------------------------------------------------- */
/* About Contact Me Content Container
/* ---------------------------------------------------------------- */

#about-contact-me-content-container {

  width: 100%;
  padding: 2.5em 0;

  display: grid;
  justify-items: center;
  row-gap: 2.5em;
  grid: auto 1fr / 1fr;

  /* background-color: burlywood; */

}

/* ---------------------------------------------------------------- */
/* Header Content Body | About Contact Me Content Container
/* ---------------------------------------------------------------- */

#about-contact-me-content-container .header-content-body:nth-of-type(1) {

  justify-self: flex-start;
  /* background-color: red; */

}

/* ---------------------------------------------------------------- */
/* Contact Me Info Container
/* ---------------------------------------------------------------- */

#about-contact-me-info-container {

  /* width: 100%; */
  height: 100%;

  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  column-gap: 1.5em;
  row-gap: .5em;

  /* background-color: rgb(158, 158, 158); */


}

/* ---------------------------------------------------------------- */
/* Img Clipart | Contact Me
/* ---------------------------------------------------------------- */

#img-clipart-contact-me {

  /* mobile */
  height: 8em;

}


/* ---------------------------------------------------------------- */
/* Info Email Container | About Contact Me
/* ---------------------------------------------------------------- */

#email-about-contact-me {

  font-size: 16px;

  height: 2.5em;
  padding: 0 .8em;

  display: flex;
  align-items: center;

  border-radius: .6em;

  font-weight: bold;

  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  color: #1e1e1e;

  text-decoration: none;
  transition: all .4s;

}

#email-about-contact-me:hover {

  background-image: linear-gradient(to right, #db7272, #da9292);

}

/* hover */
#email-about-contact-me:hover {

  text-decoration: none;

}

/* visited */
#email-about-contact-me:visited {

  text-decoration: none;

}
