/* --------------------------------------------------------------- */
/* > resp-contact-me.css
/*
/* : styles resp contact me
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* >= 400px
/* ---------------------------------------------------------------- */

@media( min-width: 400px ) {


  #about-contact-me-info-container {

    padding-right: 1.5em;
    /* background-color: red; */

  }

}


/* ---------------------------------------------------------------- */
/* >= 600px
/* ---------------------------------------------------------------- */

@media( min-width: 600px ) {


  #img-clipart-contact-me {

    height: 9em;

  }

  #img-arrow-line-footer {

    display: block;

  }

}

/* ---------------------------------------------------------------- */
/* >= 800px
/* ---------------------------------------------------------------- */

@media( min-width: 800px ) {


  #img-arrow-line-footer {

    top:3em;
    bottom: 3em;

    right:0em;

    height: 75%;


  }

}

/* ---------------------------------------------------------------- */
/* >= 880px
/* ---------------------------------------------------------------- */

@media( min-width: 880px ) {


  #img-arrow-line-footer {

    top:2em;
    bottom: 5em;

    height: 80%;


  }

}

/* ---------------------------------------------------------------- */
/* >= 930px
/* ---------------------------------------------------------------- */

@media( min-width: 930px ) {


  #img-arrow-line-footer {

    top:1em;
    bottom: 2em;
    height: 90%;


  }

}


/* ---------------------------------------------------------------- */
/* >= 980px
/* ---------------------------------------------------------------- */

@media( min-width: 980px ) {


  #img-arrow-line-footer {

    right:1em;
    transform: rotate(20deg);


  }

}

/* ---------------------------------------------------------------- */
/* >= 980px
/* ---------------------------------------------------------------- */

@media( min-width: 1200px ) {


  #img-arrow-line-footer {

    right:8em;

    height: 100%;

    transform: rotate(10deg);


  }

}
