/* --------------------------------------------------------------- */
/* > resp-contact-me.css
/*
/* : styles resp contact me
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* >= 600px
/* ---------------------------------------------------------------- */

@media( min-width: 600px ) {


  #img-clipart-contact-me {

    height: 11em;

  }

}
