/* --------------------------------------------------------------- */
/* > nav-header-body.css
/*
/* : styles nav header body
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Nav Header Body
/* --------------------------------------------------------------- */

#nav-header-body {

  display: flex;
  align-items: center;

  font-weight: bold;

}

/* --------------------------------------------------------------- */
/* Img Seperator Nav Header Body
/* --------------------------------------------------------------- */

.img-seperator-nav-header-body {

  height: .4em;
  padding: 0 .4em;
  opacity: .8;

}

/* --------------------------------------------------------------- */
/* Label | Nav Header Body
/* --------------------------------------------------------------- */

.lbl-nav-header-body {

  height: 2.3em;
  padding: 0em .8em;

  display: flex;
  align-items: center;
  column-gap: .6em;

  border-radius: .6em;
  border: 1px solid rgb(130, 130, 130);
  opacity: .3;

  color: rgb(203, 203, 203);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
              rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  user-select: none;
  cursor: pointer;
  transition: all .4s;

}

/* default: small mobile all imgs (white,black) unshown */
.lbl-nav-header-body > img {

  display: none;

}

/* --------------------------------------------------------------- */
/* Hover | Label | Nav Header Body
/* --------------------------------------------------------------- */

.lbl-nav-header-body:hover {

  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);

  /* border: 1px solid rgb(157, 200, 216); */
  opacity: 1;

}

/* show black color */
.lbl-nav-header-body:hover .lbl-title-nav-header-body {

  color:black;

}

/* --------------------------------------------------------------- */
/* Label Title | Nav Header Body
/* --------------------------------------------------------------- */

.lbl-title-nav-header-body {

  /* 14.5px | 14.5px / 16px (1em/1rem) =  = 0,90625 */
  font-size: .90625em;

}
