/* --------------------------------------------------------------- */
/* > mini-project-card.css
/*
/* : styles default mini project card for row layouts
/*   e.g in more-it, it comes with img, title, skills
/*   and github, zip links
/*
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Mini IT Project Card
/* ------------------------------------------------------- */

.mini-project-card {

  position: relative;

  width: 100%;
  padding: 2.5em 0;

  display: grid;
  column-gap: 1em;

  /* small mobile */
   grid-template-areas:

    'img-mpc img-mpc'
    'github-zip-mpc github-zip-mpc'
    'text-skills-mpc text-skills-mpc'
  ;

}

/* ------------------------------------------------------- */
/* [1/3] | Img Container | Mini IT Project Card
/* ------------------------------------------------------- */

.img-container-mini-project-card {

  grid-area: img-mpc;

  position: relative;
  width: 100%;

  display: grid;
  justify-items: center;
}

/* ------------------------------------------------------- */
/* Img | Img Container
/* ------------------------------------------------------- */

.img-container-mini-project-card > img {

  /* mobile */
  width: 100%;

  border-radius: .8em;
  border: 3px solid black;

}

/* ------------------------------------------------------- */
/* Nr | Img Container
/* ------------------------------------------------------- */

.img-container-mini-project-card > div:nth-of-type(1) {

  position: absolute;
  top:0;
  right:0;

  word-spacing: 3px;

  height: 2.3em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  border-radius: 0 .8em 0 .8em;

  background-color: rgb(43, 43, 43);
  color: rgb(236, 236, 236);

}

/* ------------------------------------------------------- */
/* [2/3] | Title Skills Container | Mini IT Project Card
/* ------------------------------------------------------- */

.title-skills-container-mini-project-card {

  grid-area: text-skills-mpc;

  padding: .8em 0;

  display: grid;
  row-gap: .8em;

  align-content: flex-start;

}

/* ------------------------------------------------------- */
/* Title | Mini Project Card
/* ------------------------------------------------------- */

.title-mini-project-card {

  line-height: 1.6em;
  /* font-weight: bold; */

  color:rgb(69, 69, 69);

}

/* ------------------------------------------------------- */
/* Info Project Category Sticker | Title
/* ------------------------------------------------------- */

.info-project-category-sticker {

  float:left;
  margin-right: .4em;

  height: 1.5em;
  padding: 0 .4em;

  display: inline-flex;
  align-items: center;
  column-gap: .3em;

  border-radius: .4em;

  background-color: #e8e8e8;
  border: 1px solid rgb(232, 232, 232);
  color:#5f5f5f;

}

.info-project-category-sticker > div:nth-of-type(1) {

  /* layout pos fix */
  padding-top: 1px;

  font-size: 14.5px;
  font-weight: bold;

}

/* ------------------------------------------------------- */
/* Skills Container | Mini Project Card
/* ------------------------------------------------------- */

.skills-container-mini-project-card {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .3em;

}

/* ------------------------------------------------------- */
/* Divs | Skills Container | Mini Project Card
/* ------------------------------------------------------- */

.skills-container-mini-project-card > div {

  height: 1.6em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  column-gap: .3em;

  border-radius: .4em;

  background-color: rgb(232, 232, 232);
  border: 1px solid rgb(232, 232, 232);
  color: #5f5f5f;

}

.skills-container-mini-project-card > div > div {

  font-size: 12.5px;

}

/* ------------------------------------------------------------------- */
/* [3/3] | Github Zip Link Container | Mini IT Project Card
/* ------------------------------------------------------------------- */

.github-zip-link-container-mini-project-card {

  grid-area: github-zip-mpc;

  padding: 1em .3em;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: .3em;

  font-weight: bold;

  background-color: rgb(239, 239, 239);

}
