/* --------------------------------------------------------------- */
/* > main-body.css
/*
/* : default sets for main body & main body container
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Main Body
/* ---------------------------------------------------------------- */

#main-body {

  position: relative;

  /* important: to go by max height of parent element */
  height: 100%;

  /* reminder:
  /* we need to create an extra main-body-container (child-layout)
  /* of main-body (parent-layout) because our parent defines max height
  /* and child-layout is the real layout. If we do both in one than
  /* it calcs the width & height sizes togehter and we get
  /* an useless scrollbar & that destorys an clean layout
  */

  display: grid;
  /* background-color: rgb(196, 182, 182); */

}

/* ---------------------------------------------------------------- */
/* Main Body Container (child layout)
/* ---------------------------------------------------------------- */

#main-body-container {

  /* because of fixed header height 5em default */
  padding-top: 4.5em;

  /* important to let resp content areas correct work */
  width: 100%;
  height: 100%;
  /* important to dont allow 100% width to add with padding-left */
  box-sizing: border-box;

  /* important to let child-layouts correct style */
  display: grid;
  /* let content start on the top */
  align-items: flex-start;

  /* background-color: red; */

}
