/* --------------------------------------------------------------- */
/* > resp-main-body.css
/*
/* : set responsive styles of main body
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Min Width >= 350px
/* --------------------------------------------------------------- */

@media (min-width: 350px) {



}

/* --------------------------------------------------------------- */
/* Min Width >= 600px
/* --------------------------------------------------------------- */

@media (min-width: 600px) {

  #main-body-container  {

   /* delete padding which only important in mobile */
   padding-left: 0;
   padding-right: 0;

  }

}
