/* --------------------------------------------------------------- */
/* > requirement-detail-fullsize.css
/*
/* : styles requirement detail fullsize
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Install Steps |
/* ------------------------------------------------------- */

#install-steps-info-detail-fullsize {


  width: 100%;
  box-sizing: border-box;

  display: flex;

  padding: 2.5em .4em;

  border-top: 1px solid rgb(209, 209, 209);
  border-bottom: 1px solid rgb(209, 209, 209);

  /* default unshown */
  display: none;

}
