/* --------------------------------------------------------------- */
/* > it-docs-more-it.css
/*
/* : styles ...
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* It Docs Container More IT
/* ---------------------------------------------------------------- */

#it-docs-container-more-it {

  width: 100%;
  padding: 2.5em 0;

  display: none;

  background-color: brown;

}

/* ---------------------------------------------------------------- */
/* It Docs Content Container More IT
/* ---------------------------------------------------------------- */

#it-docs-content-container-more-it {

  width: 100%;
  padding: 2.5em 0;

  display: none;

  background-color: yellow;

}
