/* --------------------------------------------------------------- */
/* > it-docs-more-it.css
/*
/* : styles ...
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* It Docs Container More IT
/* ---------------------------------------------------------------- */

#it-docs-container-more-it {

  width: 100%;
  /* padding: 2.5em 0; */

  display: none;

  /* background-color: brown; */

}


/* default unshown | img header content container */

#it-docs-container-more-it > .row-container:nth-of-type(1) .header-content-container > img {

  display: none;

}

/* ---------------------------------------------------------------- */
/* Row Container (overwerite - blue )
/* ---------------------------------------------------------------- */

#it-docs-container-more-it > .row-container:nth-of-type(1) {

  /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
  background-color: rgb(28, 28, 28);


}

/* ---------------------------------------------------------------- */
/* Row Container (overwerite - dark )
/* ---------------------------------------------------------------- */

#it-docs-container-more-it > .row-container:nth-of-type(2) {

   background-color: rgb(28, 28, 28);
   background-color: white;


}

/* ---------------------------------------------------------------- */
/* It Docs Content Container More IT
/* ---------------------------------------------------------------- */

#it-docs-content-container-more-it {

  width: 100%;
  padding: 3em 0;

  display: none;

  background-color: rgb(238, 238, 238);

}

/* ---------------------------------------------------------------- */
/* Row Container (overwrite - white) |
/* ---------------------------------------------------------------- */

#it-docs-content-container-more-it > .row-container {

  background-color: rgb(238, 238, 238);

}
