/* --------------------------------------------------------------- */
/* > it-docs-more-it.css
/*
/* : styles ...
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* ...
/* ---------------------------------------------------------------- */

#it-docs-container-more-it {

  width: 100%;
  padding: 2.5em 0;

  display: none;

  background-color: brown;

}
