/* --------------------------------------------------------------- */
/* > category-info-sticker.css
/*
/* : style category info sticker
/* --------------------------------------------------------------- */



/* ------------------------------------------------------- */
/* Category Info Sticker
/* > dark grey
/* ------------------------------------------------------- */

.category-info-sticker-dark-grey {

  padding: 0em .1em;

  display: flex;
  align-items: center;
  column-gap: .6em;

  border-radius: .4em;

  /* background-color: red; */

}

/* Div 1 */
.category-info-sticker-dark-grey > div:nth-of-type(1) {

  /* layout pos fix */
  /* padding-top: 1px; */
  /* font-size: 14.5px; */

  font-weight: bold;

  line-height: 1.4em;

  color: #818181;
  color:#4d4d4d;


}
