/* ----------------------------------------------------------------------- */
/* resp-glass-content-areas.css
/*
/* > styles resp glass content areas
/* ----------------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* All | Resp Glass Contents Areas
/* ------------------------------------------------------- */

.resp-glass-content-area-small {

    width: 100%;

}

/* ------------------------------------------------------- */
/* Small
/* Min Width >= 1000px
/* ------------------------------------------------------- */

@media (min-width: 1000px) {


    .resp-glass-content-area-small {

        width: 45em;
        /* background-color: orange; */
    }

}
