/* --------------------------------------------------------------- */
/* > nav-action-labels-radio-body.css
/*
/* : styles nav action labels radio body
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* All | Nav Action Labels Radio Body
/* ---------------------------------------------------------------- */

.nav-action-label-radio-body-medium,
.nav-action-label-radio-body-large {

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    column-gap: .6em;

    font-weight: bold;
    border: 1px solid black;
    background-color: rgb(157, 200, 216);
    color: #5d5d5d;

    transition: all .4s;
    cursor: pointer;
    user-select: none;

}

/* hover */
.nav-action-label-radio-body-medium:hover,
.nav-action-label-radio-body-large:hover {

  background-color: grey;

}

/* ---------------------------------------------------------------- */
/* Div 1 | Img + Title
/* ---------------------------------------------------------------- */

.nav-action-label-radio-body-medium > div:nth-of-type(1),
.nav-action-label-radio-body-large > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .6em;

}

/* ---------------------------------------------------------------- */
/* Medium
/* ---------------------------------------------------------------- */

.nav-action-label-radio-body-medium {

  height: 2.3em;
  padding: 0 .6em;
  border-radius: .6em;

}

/* ---------------------------------------------------------------- */
/* Large
/* ---------------------------------------------------------------- */

.nav-action-label-radio-body-large {

  height: 2.8em;
  padding: 0 .6em;
  border-radius: .6em;

}
