/* --------------------------------------------------------------- */
/* > nav-action-labels-body.css
/*
/* : styles nav action labels body
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* All | Nav Action Labels Body
/* ---------------------------------------------------------------- */

.nav-action-label-body-medium,
.nav-action-label-body-large {

    display: inline-flex;
    align-items: center;
    column-gap: .6em;

    font-weight: bold;
    border: 1px solid black;
    background-color: rgb(157, 200, 216);
    color: #5d5d5d;

    transition: all .4s;
    cursor: pointer;
    user-select: none;

}

/* hover */
.nav-action-label-body-medium:hover,
.nav-action-label-body-large:hover {

  background-color: grey;

}

/* ---------------------------------------------------------------- */
/* Medium
/* ---------------------------------------------------------------- */

.nav-action-label-body-medium {

  height: 2.3em;
  padding: 0 .6em;
  border-radius: .6em;

}

/* ---------------------------------------------------------------- */
/* Large
/* ---------------------------------------------------------------- */

.nav-action-label-body-large {

  height: 2.8em;
  padding: 0 .6em;
  border-radius: .6em;

}
