/* --------------------------------------------------------------- */
/* > handling-nav-detail-fullsize.css
/*
/* : style handling nav
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Handlings Styles
/* ---------------------------------------------------------------- */

/* default unshown */
input[name="name-chk-detail-fullsize-top-it-project"] {

  display: none;

}

/* set background wheat | ⚠️ dont understand why 2 because it should be 1 */
#chk-detail-fullsize-top-it-project-benefits:checked ~ label[for="chk-detail-fullsize-top-it-project-benefits"],
#chk-detail-fullsize-top-it-project-install:checked ~ label[for="chk-detail-fullsize-top-it-project-install"],
#chk-detail-fullsize-top-it-project-more-details:checked ~ label[for="chk-detail-fullsize-top-it-project-more-details"] {

  /* background-image: linear-gradient(to right, #db7272, #da9292); */
  /* background-color: wheat; */
  background-image: linear-gradient(to right, #f5deb3 0%, #e5c78e 100%);
  color:black;

}

/* img arrow rotate */
#chk-detail-fullsize-top-it-project-benefits:checked ~ label[for="chk-detail-fullsize-top-it-project-benefits"] > img:nth-of-type(1),
#chk-detail-fullsize-top-it-project-install:checked ~ label[for="chk-detail-fullsize-top-it-project-install"] > img:nth-of-type(1),
#chk-detail-fullsize-top-it-project-more-details:checked ~ label[for="chk-detail-fullsize-top-it-project-more-details"] > img:nth-of-type(1) {

  transform: rotate(-180deg);

}

/* ---------------------------------------------------------------- */
/* Handling Action
/* ---------------------------------------------------------------- */

/* open smooth container */
#chk-detail-fullsize-top-it-project-benefits:checked ~ #smooth-open-close-benefits-container,
#chk-detail-fullsize-top-it-project-install:checked ~ #smooth-open-close-install-container,
#chk-detail-fullsize-top-it-project-more-details:checked ~ #smooth-open-close-more-details-container {

   grid-template-rows: 1fr;

}
