/* --------------------------------------------------------------- */
/* > resp-top-it-project.css
/*
/* : styles resp top it project
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* >= 600px
/* ---------------------------------------------------------------- */

@media( min-width: 600px ) {


  #about-it-projects-content-list {

    grid: 1fr / 1fr 1fr;

  }

}


/* ---------------------------------------------------------------- */
/* >= 800px
/* ---------------------------------------------------------------- */

@media( min-width: 800px ) {


  #about-it-projects-content-list {

    width: 45em;

    column-gap: 3em;

    /* background-color: red; */

  }

}
