/* --------------------------------------------------------------- */
/* > resp-top-it-project.css
/*
/* : styles resp top it project
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* >= 600px
/* ---------------------------------------------------------------- */

@media( min-width: 660px ) {


  /* ---------------------------------------------------------------- */
  /* Content
  /* ---------------------------------------------------------------- */
  #about-top-it-projects-content {

    grid: 1fr / 1fr 1fr;

  }

  /* ---------------------------------------------------------------- */
  /* Top It Project Card
  /* ---------------------------------------------------------------- */
  .top-it-project-card {

    /* desktop */
    border-radius: 1em;

  }

}

/* ---------------------------------------------------------------- */
/* >= 800px
/* ---------------------------------------------------------------- */

@media( min-width: 800px ) {


  #about-top-it-projects-content {

    width: 45em;

    column-gap: 2.5em;

    /* background-color: red; */

  }

}
