/* --------------------------------------------------------------- */
/* > top-it-projects.css
/*
/* : styles about top it projects
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Top IT Projects Container
/* ---------------------------------------------------------------- */

#about-top-it-projects-container {

  width: 100%;
  /* background-color: rgb(245, 245, 245); */

}

/* ---------------------------------------------------------------- */
/* Row Container 1 (overwrite) | Top IT Projects Container
/* ---------------------------------------------------------------- */

/* overwerite bg-color "row container" */
#about-top-it-projects-container > .row-container:nth-of-type(1) {

  background-color: rgb(245, 245, 245);

}

/* ---------------------------------------------------------------- */
/* Top IT Projects Content Container
/* ---------------------------------------------------------------- */

#about-top-it-projects-content-container {

  width: 100%;
  padding: 2.5em 0;

  /* mobile */
  display: grid;
  justify-items: center;
  row-gap: 2.3em;

  /* background-color: red; */

}

/* ---------------------------------------------------------------- */
/* Header Content Body | Top IT Projects Content Container
/* ---------------------------------------------------------------- */

#about-top-it-projects-content-container .header-content-body:nth-last-of-type(1) {

  /* mobile */
  /* justify-self: flex-start; */

}

/* ---------------------------------------------------------------- */
/* Top IT Projects Content List
/* ---------------------------------------------------------------- */

#about-it-projects-content-list {

  width: 100%;

  display: grid;
  justify-items: center;
  align-items: flex-start;

  row-gap: 3em;
  column-gap: 1.5em;

}
