/* --------------------------------------------------------------- */
/* > top-it-projects.css
/*
/* : styles about top it projects
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Top IT Projects Container
/* ---------------------------------------------------------------- */

#about-top-it-projects-container {

  width: 100%;

  background-color: rgb(245, 245, 245);

}

/* ---------------------------------------------------------------- */
/* Row Container 1 (overwrite) | Top IT Projects Container
/* ---------------------------------------------------------------- */

/* overwerite bg-color "row container" */
#about-top-it-projects-container > .row-container:nth-of-type(1) {

  background-color: rgb(245, 245, 245);

}

/* ---------------------------------------------------------------- */
/* Top IT Projects Content Container
/* ---------------------------------------------------------------- */

#about-top-it-projects-content-container {

  width: 100%;
  padding: 2.5em 0;

  display: grid;
  row-gap: 3.5em;

  /* background-color: red; */

}

/* ---------------------------------------------------------------- */
/* Top IT Projects Content List
/* ---------------------------------------------------------------- */

#about-it-projects-content-list {

  display: grid;
  justify-items: center;

  row-gap: 1em;
  column-gap: 1em;

}
