/* --------------------------------------------------------------- */
/* > detail-fullsize-container-top-it-project-card.css
/*
/* : style detail fullsize view for top it project card
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Detail Fullsize Container | Top IT Project Card
/* ------------------------------------------------------- */

.detail-fullsize-container-top-it-project-card {

  width: 100%;

  position: absolute;
  top: 0em;
  left:0;
  right:0;

  z-index: 9;

  display: grid;

  font-size: 18px;

  background-color: rgb(208, 208, 208);

  /* ⚠️ in Entwicklung */
  /* display: none; */

}


/* ------------------------------------------------------- */
/* Main | Detail Fullsize Container
/* ------------------------------------------------------- */

.detail-fullsize-container-top-it-project-card > main {

  width: 100%;

}

/* ------------------------------------------------------- */
/* Content Container Detail Fullsize | Main
/* ------------------------------------------------------- */

.content-container-detail-fullsize {

  width: 100%;

  padding: .8em;
  display: grid;

  row-gap: 1.3em;

  /* background-color: magenta; */

}
