/* --------------------------------------------------------------- */
/* > resp-more-it.css
/*
/* styles resp more it
/*
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Min Width >= 380px
/* ------------------------------------------------------- */

@media (min-width: 380px) {


  /* ------------------------------------------------------ */
  /* Title Detail | Img 1
  /* ------------------------------------------------------ */

  .title-detail-fullsize > img:nth-of-type(1) {

    display: flex;

  }

  /* ------------------------------------------------------ */
  /* Img View Container | Imgs
  /* ------------------------------------------------------ */

  .img-view-container-detail-fullsize > div  {

    width: 18em;

  }

}

/* ------------------------------------------------------- */
/* Min Width >= 600px
/* ------------------------------------------------------- */

@media (min-width: 600px) {

  /* ------------------------------------------------------ */
  /* Img View Container
  /* ------------------------------------------------------ */

  .img-view-container-detail-fullsize {

    /* desktop */
    grid: auto / 1fr 1fr;

  }

  /* ------------------------------------------------------ */
  /* Img View Container | Imgs
  /* ------------------------------------------------------ */

  .img-view-container-detail-fullsize > div  {

    width: 100%;

  }

}


/* ------------------------------------------------------- */
/* Min Width >= 750px
/* ------------------------------------------------------- */

@media (min-width: 750px) {

  /* ------------------------------------------------------ */
  /* Img View Container
  /* ------------------------------------------------------ */

  .img-view-container-detail-fullsize {

    /* desktop */
    grid: auto / 18em 18em;

  }



}
