/* --------------------------------------------------------------- */
/* > sport-lifestyle-private.css
/*
/* : styles book private
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Sport Lifestyle | Container Private
/* ---------------------------------------------------------------- */

#sport-lifestyle-container-private {

  padding: 1.5em 0;


  background-color: rgb(128, 0, 70);

}
