/* --------------------------------------------------------------- */
/* > header-content-more-it.css
/*
/* : style ...
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Header Content More IT
/* ------------------------------------------------------- */

.header-content-more-it {

  width: 100%;
  padding: 1.5em 0em;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

/* small mobile default unshown img */
.header-content-more-it > img:nth-of-type(1) {

  display: none;
}

/* ------------------------------------------------------- */
/* Title Container | Header Content More IT
/* ------------------------------------------------------- */

.title-container-header-content-more-it {

  display: grid;/

}

/* ------------------------------------------------------- */
/* Title | Title Container
/* ------------------------------------------------------- */

.title-header-content-more-it {

  font-size: 18px;
  font-weight: bold;

}

/* ------------------------------------------------------- */
/* Sub Title Container | Title Container
/* ------------------------------------------------------- */

.sub-title-container-header-content-more-it {

  line-height: 1.5em;
  color:rgb(51, 51, 51);
  font-weight: bold;

}

/* ------------------------------------------------------- */
/* [1/2] | Sub Title Container | Title Container
/* ------------------------------------------------------- */

.timer-info-header-content-more-it {

  font-size: 14.5px;

  padding-top: .5em;

  display: flex;
  flex-wrap: wrap;
  align-content: center;

  column-gap: .4em;

  /* font-style: italic; */

  /* font-weight: bold; */

}

/* ------------------------------------------------------- */
/* Div 2 (layout) | Sub Title Container
/* ------------------------------------------------------- */

.timer-info-header-content-more-it > div:nth-of-type(2) {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap:.3em;
}

/* ------------------------------------------------------- */
/* Timer Sticker More IT | Sub Title Container
/* ------------------------------------------------------- */

.timer-sticker-more-it {

  /* font-size: 12.5px; */

  height: 1.4em;
  padding: 0 .4em;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: .3em;

  font-weight: bold;

  background-color: #f7f7f7;
  color:rgb(112, 112, 112);

}

.timer-sticker-more-it  > div {

  /* layout pos fix */
  padding-top: 1px;

  font-size: 12.5px;

}


/* ------------------------------------------------------- */
/* [2/2] | Sub Title Container | Title Container
/* ------------------------------------------------------- */

.sub-info-header-content-more-it {

  font-size: 14.5px;
  /* font-style: italic; */
  /* font-weight: bold; */

}
