/* --------------------------------------------------------------- */
/* > handling-show-more.css
/*
/* : styles handling of show more
/* --------------------------------------------------------------- */



/* ---------------------------------------------------------------- */
/* Handling Styles
/* ---------------------------------------------------------------- */

/* default unshow checkbox */
#chk-show-more-about-quick-info {

  display: none;

}

/* set background red */
#chk-show-more-about-quick-info:checked ~ div:nth-of-type(1) label[for="chk-show-more-about-quick-info"] {

  background-color: rgb(219, 114, 114);
  background-image: linear-gradient(to right, #db7272, #da9292);

}

/* change img arrow rotation */
#chk-show-more-about-quick-info:checked ~ div:nth-of-type(1) label[for="chk-show-more-about-quick-info"] > img {

  transform: rotate(180deg);

}

/* unshown text more */
#chk-show-more-about-quick-info:checked ~ div:nth-of-type(1) label[for="chk-show-more-about-quick-info"] > div:nth-of-type(1) > span:nth-of-type(2) {

  display: none;

}

/* show text less */
#chk-show-more-about-quick-info:checked ~ div:nth-of-type(1) label[for="chk-show-more-about-quick-info"] > div:nth-of-type(1) > span:nth-of-type(3) {

  display: flex;

}

/* ---------------------------------------------------------------- */
/* Handling Action
/* ---------------------------------------------------------------- */

#chk-show-more-about-quick-info:checked ~ #smooth-open-close-about-details-info-container {

  grid-template-rows: 1fr;

}
