/* --------------------------------------------------------------- */
/* > handling-show-more.css
/*
/* : styles handling of show more
/* --------------------------------------------------------------- */



/* ---------------------------------------------------------------- */
/* Handling Styles
/* ---------------------------------------------------------------- */

/* default unshow checkbox */
#chk-about-quick-info-show-more {

  display: none;

}

/* set background red */
#chk-about-quick-info-show-more:checked ~ div:nth-of-type(1) label[for="chk-about-quick-info-show-more"] {

  background-color: rgb(219, 114, 114);

}

/* change img arrow rotation */
#chk-about-quick-info-show-more:checked ~ div:nth-of-type(1) label[for="chk-about-quick-info-show-more"] > img {

  transform: rotate(180deg);

}

/* unshown text more */
#chk-about-quick-info-show-more:checked ~ div:nth-of-type(1) label[for="chk-about-quick-info-show-more"] > div:nth-of-type(1) > span:nth-of-type(2) {

  display: none;

}

/* show text less */
#chk-about-quick-info-show-more:checked ~ div:nth-of-type(1) label[for="chk-about-quick-info-show-more"] > div:nth-of-type(1) > span:nth-of-type(3) {

  display: flex;

}


/* ---------------------------------------------------------------- */
/* Handling Action
/* ---------------------------------------------------------------- */

#chk-about-quick-info-show-more:checked ~ #smooth-open-close-about-details-info-container {

  grid-template-rows: 1fr;

}
