/* --------------------------------------------------------------- */
/* > quick-info.css
/*
/* : styles about quick info
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Quick Info Container
/* ---------------------------------------------------------------- */

#about-quick-info-container {

  width: 100%;
  padding: 2em 0;

  display: grid;
  justify-items: center;
  align-items: center;

  column-gap: 1em;
  row-gap: 1.5em;

  /* mobile */
  grid-template-areas:
  'quick-info-img-1'
  'quick-info-text'
  ;

  background-color: yellow;
  background-color: rgb(157, 200, 216);

}

/* ---------------------------------------------------------------- */
/* [1/3] | Img About Me
/* ---------------------------------------------------------------- */

#img-about-me {

  grid-area: quick-info-img-1;

  /* mobile */
  width: 90%;
  border-radius: 1em;

}

/* ---------------------------------------------------------------- */
/* [2/3] | Img Quick Info Seperator
/* ---------------------------------------------------------------- */

#img-about-quick-info-seperator {

  grid-area: quick-info-img-2;

  height: 1.3em;

  /* mobile unshown */
  display: none;

}

/* ---------------------------------------------------------------- */
/* [3/3] | About Quick Info Text Container
/* ---------------------------------------------------------------- */

#about-quick-info-text-container {

  grid-area: quick-info-text;

  display: grid;
  justify-items: center;
  row-gap: 1.5em;

  /* mobile */
  text-align: center;

}

/* ---------------------------------------------------------------- */
/* Label | Show More/Less
/* ---------------------------------------------------------------- */

#about-quick-info-text-container > label {

  min-width: 7em;
  max-width: 7em;

}

#about-quick-info-text-container > label > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .3em;
}

/* default unshown "less" */
#about-quick-info-text-container > label > div:nth-of-type(1) > span:nth-of-type(3) {

  display: none;

}
