/* --------------------------------------------------------------- */
/* > content-more-it.css
/*
/* : styles content more it
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Content Container
/* ---------------------------------------------------------------- */

#content-container-more-it {

  width: 100%;
  padding: 2em 0;

  background-color: rgb(184, 184, 184);

}
