/* --------------------------------------------------------------- */
/* > list-container-more-it.css
/*
/* : style
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* List Container | More IT
/* ------------------------------------------------------- */

.list-container-more-it {

  background-color: magenta;

}

/* ------------------------------------------------------- */
/* List Container | More IT
/* ------------------------------------------------------- */

.list-container-more-it .row-container:nth-of-type(1) {

  background-color: red;

}
