/* --------------------------------------------------------------- */
/* > about-me.css
/*
/* : styles about me default layout
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* About Me Container
/* ---------------------------------------------------------------- */

#about-me-container {

  width: 100%;
  height: 100%;

  display: grid;

}
