/* --------------------------------------------------------------- */
/* > resp-about-me.css
/*
/* : styles resp of all layout element from about me
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* >= 360px
/* ---------------------------------------------------------------- */

@media( min-width: 360px ) {

  /* -------------------------------------------------- */
  /* Details Info | Labels | Nav About Details  */
  /* -------------------------------------------------- */
  #nav-about-details > label {

    width: auto;

  }

  /* -------------------------------------------------- */
  /* Story | Audio  */
  /* -------------------------------------------------- */
  #info-container-about-story-behind-sd > audio {

    display: block;

  }

}

/* ---------------------------------------------------------------- */
/* >= 390px
/* ---------------------------------------------------------------- */

@media( min-width: 390px ) {


  /* -------------------------------------------------- */
  /* Hobbys | Header | Audio Container */
  /* -------------------------------------------------- */
  .about-hobbys-item-audio-container > header {

   padding: 0 .8em;

  }

  /* -------------------------------------------------- */
  /* Hobbys | Audio  */
  /* -------------------------------------------------- */
  .about-hobbys-item-audio-container > audio {

    width: 100%;

    /* mobile, show audio */
    display: grid;


  }



}

/* ---------------------------------------------------------------- */
/* >= 400px
/* ---------------------------------------------------------------- */

@media( min-width: 400px ) {

  /* ------------------------------------ */
  /* Quick Info | Img About Me  */
  /* ------------------------------------ */
  #img-about-me {

    width: 14.5em;

  }

}

/* ---------------------------------------------------------------- */
/* >= 700px
/* ---------------------------------------------------------------- */

@media( min-width: 700px ) {

  /* ------------------------------------ */
  /* IT Skills   */
  /* ------------------------------------ */
  .about-it-skills-list {

    width: 35em;
    /* background-color: brown; */

  }

}

/* ---------------------------------------------------------------- */
/* >= 800px
/* ---------------------------------------------------------------- */

@media( min-width: 800px ) {


  /* ------------------------------------ */
  /* Quick Info | Img Seperaotr  */
  /* ------------------------------------ */
  #img-about-quick-info-seperator {

    display: flex;

  }

  /* ------------------------------------ */
  /* Quick Info | Container  */
  /* ------------------------------------ */
  #about-quick-info-container {

    row-gap: 0em;

    grid-template-areas:
    'quick-info-img-1 quick-info-img-2 quick-info-text'
    ;

  }

  /* ------------------------------------ */
  /* Quick Info | Text Container  */
  /* ------------------------------------ */
  #about-quick-info-text-container {

    justify-items: flex-start;
    row-gap: .8em;

    text-align: left;

  }

  /* ------------------------------------ */
  /* Quick Info | Show More  */
  /* ------------------------------------ */
  #about-quick-info-text-container > label:nth-of-type(1) {

    justify-self: flex-end;

  }

  /* ------------------------------------ */
  /* Story | Content List  */
  /* ------------------------------------ */
  #content-list-about-story-behind-sd {

    width: 40em;
  }


}

/* ---------------------------------------------------------------- */
/* >= 900px
/* ---------------------------------------------------------------- */

@media( min-width: 900px ) {

  /* ------------------------------------ */
  /* Hobbys Main   */
  /* ------------------------------------ */

  .about-hobbys-main {

    width: 80%;

    /* desktop */
    grid: 1fr / 1fr 1fr;

    row-gap: 1.3em;
    column-gap: 1.3em;

    /* background-color: red; */

  }



}
