/* --------------------------------------------------------------- */
/* > header-detail-fullsize.css
/*
/* : style header detail fullsize ( project title )
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Header Detail Fullsize
/* ------------------------------------------------------- */

#header-detail-fullsize {

  width: 100%;
  margin-top: 3em;

  display: flex;
  align-items: center;
  column-gap: 1em;

  /* border: 1px solid grey; */
  /* background-color: red; */

}

/* ------------------------------------------------------- */
/* [1/2] | Img Large | Header Detail Fullsize
/* ------------------------------------------------------- */

.img-large-header-detail-fullsize-medium,
.img-large-header-detail-fullsize-big {

  opacity: .3;

  /* mobile default unshown */
  display: none;

}

/* medium */
.img-large-header-detail-fullsize-medium {

  height: 1.8em;

}

/* big */
.img-large-header-detail-fullsize-big {

  height: 2em;

}

/* ------------------------------------------------------- */
/* [2/2] | Title Container | Header Detail Fullsize
/* ------------------------------------------------------- */

#title-container-header-detail-fullsize {

  display: grid;
  row-gap: .4em;

  /* line-height: 2.8em; */

}

/* ------------------------------------------------------- */
/* Header | Title Container
/* ------------------------------------------------------- */

#title-container-header-detail-fullsize > header {

  display: flex;
  align-items: center;
  column-gap: .3em;

}

/* ------------------------------------------------------- */
/* Category Title | Div 1 | Header
/* ------------------------------------------------------- */

#title-container-header-detail-fullsize > header > div:nth-of-type(1) {

  height: 1.5em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .5em;

  border-radius: .8em;

  background-color: rgb(235, 234, 234);

  opacity: .8;


}

#title-container-header-detail-fullsize > header > div:nth-of-type(1) > div {

 font-size: 12.5px;
 font-weight: bold;
 color: rgb(76, 76, 76);

}

/* ------------------------------------------------------- */
/* Time Info | Div 2 | Header
/* ------------------------------------------------------- */

#title-container-header-detail-fullsize > header > div:nth-of-type(2){

  height: 1.5em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .3em;

  border-radius: .8em;

  background-color: rgb(235, 234, 234);

  opacity: .8;

}

/* img */
#title-container-header-detail-fullsize > header > div:nth-of-type(2) > img {

  opacity: .6;

}

/* div */
#title-container-header-detail-fullsize > header > div:nth-of-type(2) > div {

  /* layout pos fix */
  padding-top: 2px;

  font-size: 12.5px;
  font-weight: bold;
  color: rgb(76, 76, 76);

}

/* ------------------------------------------------------- */
/* Main | Title Container
/* ------------------------------------------------------- */

#title-container-header-detail-fullsize > main {

  padding-left: .3em;

}

/* div > main */
#title-container-header-detail-fullsize > main > div {

  font-size: 18px;
  font-weight: bold;
  color:rgb(27, 27, 27);

  color:rgb(43, 43, 43);

}
