/* --------------------------------------------------------------- */
/* > coding-tasks-more-it.css
/*
/* : styles ...
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* ...
/* ---------------------------------------------------------------- */

#coding-task-container-more-it {

  width: 100%;
  padding: 2.5em 0;

  display: none;

  background-color: rgb(115, 119, 114);

}
