/* --------------------------------------------------------------- */
/* > coding-tasks-more-it.css
/*
/* : styles ...
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Coding Task Container More IT
/* ---------------------------------------------------------------- */

#coding-task-container-more-it {

  width: 100%;
  /* padding: 2.5em 0; */

  display: none;

  background-color: rgb(115, 119, 114);

}

/* default unshown | img header content container */

#coding-task-container-more-it > .row-container:nth-of-type(1) .header-content-container > img {

  display: none;

}

/* ---------------------------------------------------------------- */
/* 1 | Row Container (overwerite - blue )
/* ---------------------------------------------------------------- */

#coding-task-container-more-it > .row-container:nth-of-type(1) {

  /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
  background-color: rgb(28, 28, 28);


}

/* ---------------------------------------------------------------- */
/* 2 | Row Container (overwerite - dark )
/* ---------------------------------------------------------------- */

#coding-task-container-more-it > .row-container:nth-of-type(2) {

  /* background-color: rgb(28, 28, 28); */
  background-color: white;

}

/* ---------------------------------------------------------------- */
/* 3 | Row Container -> Nav | Hash Tag Tab Label Container
/* ---------------------------------------------------------------- */

#coding-task-container-more-it > .row-container:nth-of-type(3) .hash-tag-tab-label-container {

  /* background-color: rgb(28, 28, 28); */
  /* background-color: red; */
  padding-bottom: 1em;


}


/* ---------------------------------------------------------------- */
/* Coding Task Content Container | More IT
/* ---------------------------------------------------------------- */

#coding-task-content-container-more-it {

  width: 100%;
  /* padding: 1.5em 0; */

}

/* ---------------------------------------------------------------- */
/* All (odd) | Row Container (overwrite) | Coding Task Content Container
/* ---------------------------------------------------------------- */

/* white */
#coding-task-content-container-more-it > .row-container:nth-child(odd) {

  background-color: rgb(238, 238, 238);

}

/* ---------------------------------------------------------------- */
/* All | Row Container (overwrite) | Coding Task Content Container
/* ---------------------------------------------------------------- */

/* transition */
#coding-task-content-container-more-it > .row-container {

  transition: all .4s;

}

#coding-task-content-container-more-it > .row-container:hover {

  background-color: rgb(248, 237, 216);
  background-color: rgb(232, 232, 232);

}
