/* --------------------------------------------------------------- */
/* > coding-tasks-more-it.css
/*
/* : styles ...
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Coding Task Container More IT
/* ---------------------------------------------------------------- */

#coding-task-container-more-it {

  width: 100%;
  /* padding: 2.5em 0; */

  display: none;

  background-color: rgb(115, 119, 114);

}

/* default unshown | img header content container */

#coding-task-container-more-it > .row-container:nth-of-type(1) .header-content-container > img {

  display: none;

}

/* ---------------------------------------------------------------- */
/* Row Container (overwerite - blue )
/* ---------------------------------------------------------------- */

#coding-task-container-more-it > .row-container:nth-of-type(1) {

  /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
  background-color: rgb(28, 28, 28);


}

/* ---------------------------------------------------------------- */
/* Row Container (overwerite - dark )
/* ---------------------------------------------------------------- */

#coding-task-container-more-it > .row-container:nth-of-type(2) {

  /* background-color: rgb(28, 28, 28); */
  background-color: white;

}

/* ---------------------------------------------------------------- */
/* Coding Task Content Container | More IT
/* ---------------------------------------------------------------- */

#coding-task-content-container-more-it {

  width: 100%;
  /* padding: 1.5em 0; */

}



/* ---------------------------------------------------------------- */
/* Row Container (overwrite) | Coding Task Content Container
/* ---------------------------------------------------------------- */

/* white */
#coding-task-content-container-more-it > .row-container:nth-child(odd) {

  background-color: rgb(238, 238, 238);

}
