/* ----------------------------------------------------------------------- */
/* text-important-body.css
/*
/* > styles custom text important body styles
/* ----------------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Bold, Bold & Crusiv
/* ------------------------------------------------------- */

.txt-b {

  font-weight: bold;

}

.txt-bi {

  font-weight: bold;
  font-style: italic;

}

/* ------------------------------------------------------- */
/* SFD Styles ( with color )
/* ------------------------------------------------------- */

.txt-b-sfd {

  font-weight: bold;
  color:rgb(74, 130, 220);

}
