/* --------------------------------------------------------------- */
/* > it-docs-content-box.css
/*
/* : styles it docs content box
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* It Docs Content Box More IT
/* ---------------------------------------------------------------- */

.it-docs-content-box-more-it {

  display: grid;
  /* row-gap: 1.5em; */

}

/* ---------------------------------------------------------------- */
/* Header | It Docs Content Box More IT
/* ---------------------------------------------------------------- */

.it-docs-content-box-more-it > header {

  height: 2.8em;
  padding: 0 0 0 .6em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: .6em;

  /* background-color: #121212; */
  background-color: rgb(216, 216, 216);
  border: 1px solid rgb(212, 212, 212);

}

/* ---------------------------------------------------------------- */
/* Div 1 ( Title Container ) | Header
/* ---------------------------------------------------------------- */

.it-docs-content-box-more-it > header > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .4em;

  font-weight: bold;

  color:rgb(67, 67, 67);

}

/* Div 1 -> Div */
.it-docs-content-box-more-it > header > div:nth-of-type(1) > div {

  font-size: 14.5px;

}


/* ---------------------------------------------------------------- */
/* Div 2 ( Nr Container ) | Header
/* ---------------------------------------------------------------- */

.it-docs-content-box-more-it > header > div:nth-of-type(2) {

  width: 3em;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  color:rgb(67, 67, 67);

}

/* Div 2 -> Div */
.it-docs-content-box-more-it > header > div:nth-of-type(2) > div {

  font-size: 14.5px;

}

/* ---------------------------------------------------------------- */
/* Main | It Docs Content Box More IT
/* ---------------------------------------------------------------- */

.it-docs-content-box-more-it > main {

  width: 100%;
  padding: 1.5em 0;
  box-sizing: border-box;

  display: grid;
  justify-content: center;
  justify-items: center;


  column-gap: 1em;
  row-gap: 1em;
  grid: auto / 1fr 1fr;

}

/* ---------------------------------------------------------------- */
/* It Doc Card | Main
/* ---------------------------------------------------------------- */

.it-doc-card {

  position: relative;
  width: 100%;
  /* width: 13em; */

  display: grid;

  border-radius: .6em;

  border: 1px solid #eeeeee;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  transition: all .4s;

  opacity: .6;

}

.it-doc-card:hover {

  opacity: 1;

}

/* ---------------------------------------------------------------- */
/* Img | It Doc Card | Main
/* ---------------------------------------------------------------- */

.it-doc-card > img:nth-of-type(1) {

  width: 100%;
  /* height: 10em; */

  border-radius: .6em;

}

/* ---------------------------------------------------------------- */
/* Link | It Doc Card
/* ---------------------------------------------------------------- */

.it-doc-card > a {

  z-index: 12;

  position: absolute;
  bottom: 0;
  right:0;

  height: 2em;
  padding: 0 .6em;

  display: flex;
  align-items: center;
  column-gap: .4em;

  font-weight: bold;
  border-radius: .6em 0 .6em 0;
  background-color: rgb(184, 184, 184);
  color:black;

  text-decoration: none;
  user-select: none;
  transition: all .4s;

}

.it-doc-card > a > div {

  font-size: 14.5px;

}

.it-doc-card > a:visited {

  color:black;

}

.it-doc-card > a:hover {

  background-color: rgb(251, 133, 133);

}

/* ---------------------------------------------------------------- */
/* Img Status | It Doc Card
/* ---------------------------------------------------------------- */

.img-status-it-doc-card {

  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;

  /* opacity: 1; */

  border-radius: 0em 0em 1em 1em;

}
