/* --------------------------------------------------------------- */
/* > it-docs-content-box.css
/*
/* : styles it docs content box
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* It Docs Content Box
/* ---------------------------------------------------------------- */

.it-docs-content-box {

  display: grid;
  /* row-gap: 1.5em; */

}

/* ---------------------------------------------------------------- */
/* Header | It Docs Content Box
/* ---------------------------------------------------------------- */

.header-it-docs-content-box {

  height: 4em;
  padding: 0 0 0 .6em;

  display: flex;
  align-items: center;
  justify-content: space-between;


  /* background-color: #121212; */
  background-color: #ececec;

  background-color: rgb(28, 28, 28);


}

/* ---------------------------------------------------------------- */
/* Div 1 ( Title Container ) | Header
/* ---------------------------------------------------------------- */

.header-it-docs-content-box > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .4em;

  font-weight: bold;

  color:rgb(67, 67, 67);

  color:white;

}

/* Div 1 -> Div */
.header-it-docs-content-box > div:nth-of-type(1) > div {

  font-size: 14.5px;

}


/* ---------------------------------------------------------------- */
/* Div 2 ( Nr Container ) | Header
/* ---------------------------------------------------------------- */

.header-it-docs-content-box > div:nth-of-type(2) {

  width: 3em;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  color:rgb(67, 67, 67);
  color:white;

}

/* Div 2 -> Div */
.header-it-docs-content-box > div:nth-of-type(2) > div {

  font-size: 16px;
  letter-spacing: 2px;

}

/* overwrite row container to header background */
.it-docs-content-box > .row-container:nth-of-type(1) {

  background-color: red;
  background-color: #ececec;
  background-color: rgb(28, 28, 28);

}

/* ---------------------------------------------------------------- */
/* Main | It Docs Content Box More IT
/* ---------------------------------------------------------------- */

.main-it-docs-content-box {

  box-sizing: border-box;

  width: 100%;
  padding: 1.5em 0;

  display: grid;
  justify-content: center;
  justify-items: center;

  column-gap: 1em;
  row-gap: 1em;
  grid: auto / 1fr 1fr;

  background-color: white;

  /* background-color: blue; */

}

/* overwrite row container to main background */
.it-docs-content-box > .row-container:nth-of-type(2) {

  /* background-color: red; */

}
