/* --------------------------------------------------------------- */
/* > handling-sub-nav-it-docs-more-it.css
/*
/* : styles ...
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Handlings Styles
/* ---------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-sub-nav-it-docs"] {

  display: none;

}

/* --------------------------------------------- */
/* Frontend
/* --------------------------------------------- */

/* Frontend | set background red | ⚠️ dont understand why 2 because it should be 1 */
#radio-sub-nav-it-docs-dev-basic:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-dev-basic"],
#radio-sub-nav-it-docs-web-basic:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-web-basic"],
#radio-sub-nav-it-docs-web-dev:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-web-dev"] {

  /* background-color: rgb(251, 133, 133); */
  background-image: linear-gradient(to right, #f5deb3 0%, #e5c78e 100%);
  color:black;

}

/* set color white | white counter box */
#radio-sub-nav-it-docs-dev-basic:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-dev-basic"] .white-counter-box,
#radio-sub-nav-it-docs-web-basic:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-web-basic"] .white-counter-box,
#radio-sub-nav-it-docs-web-dev:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-web-dev"] .white-counter-box {

  border: 1px solid rgb(72, 72, 72);
  color:rgb(39, 39, 39);

}

/* unshown grey img */
#radio-sub-nav-it-docs-dev-basic:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-dev-basic"] .title-info-nav-label-radio-on-white > img:nth-of-type(1),
#radio-sub-nav-it-docs-web-basic:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-web-basic"] .title-info-nav-label-radio-on-white > img:nth-of-type(1),
#radio-sub-nav-it-docs-web-dev:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-web-dev"] .title-info-nav-label-radio-on-white > img:nth-of-type(1) {

  display: none;

}

/* show black img */
#radio-sub-nav-it-docs-dev-basic:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-dev-basic"] .title-info-nav-label-radio-on-white > img:nth-of-type(2),
#radio-sub-nav-it-docs-web-basic:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-web-basic"] .title-info-nav-label-radio-on-white > img:nth-of-type(2),
#radio-sub-nav-it-docs-web-dev:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-web-dev"] .title-info-nav-label-radio-on-white > img:nth-of-type(2) {

  display: flex;

}



/* --------------------------------------------- */
/* Backend
/* --------------------------------------------- */

/* Backend | set background red | ⚠️ dont understand why 2 because it should be 1 */
#radio-sub-nav-it-docs-software-dev:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-software-dev"],
#radio-sub-nav-it-docs-it-architecture:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-it-architecture"],
#radio-sub-nav-it-docs-backend-tools:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-backend-tools"] {

  /* background-color: rgb(251, 133, 133); */
  background-image: linear-gradient(to right, #f5deb3 0%, #e5c78e 100%);
  color:black;

}

/* set color white | white counter box */
#radio-sub-nav-it-docs-software-dev:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-software-dev"] .white-counter-box,
#radio-sub-nav-it-docs-it-architecture:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-it-architecture"] .white-counter-box,
#radio-sub-nav-it-docs-backend-tools:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-backend-tools"] .white-counter-box {

  border: 1px solid rgb(72, 72, 72);
  color:rgb(39, 39, 39);

}

/* unshown grey img */
#radio-sub-nav-it-docs-software-dev:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-software-dev"] .title-info-nav-label-radio-on-white > img:nth-of-type(1),
#radio-sub-nav-it-docs-it-architecture:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-it-architecture"] .title-info-nav-label-radio-on-white > img:nth-of-type(1),
#radio-sub-nav-it-docs-backend-tools:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-backend-tools"] .title-info-nav-label-radio-on-white > img:nth-of-type(1) {

  display: none;

}

/* show black img */
#radio-sub-nav-it-docs-software-dev:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-software-dev"] .title-info-nav-label-radio-on-white > img:nth-of-type(2),
#radio-sub-nav-it-docs-it-architecture:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-it-architecture"] .title-info-nav-label-radio-on-white > img:nth-of-type(2),
#radio-sub-nav-it-docs-backend-tools:checked ~ .row-container:nth-of-type(2) label[for="radio-sub-nav-it-docs-backend-tools"] .title-info-nav-label-radio-on-white > img:nth-of-type(2) {

  display: flex;

}


/* ---------------------------------------------------------------- */
/* Handlings Action (js generated)
/* ---------------------------------------------------------------- */

/* Frontend: dev-basic, web-basic, web-dev */
#radio-sub-nav-it-docs-dev-basic:checked ~ .row-container:nth-of-type(3) #it-docs-content-container,
#radio-sub-nav-it-docs-web-basic:checked ~ .row-container:nth-of-type(3) #it-docs-content-container,
#radio-sub-nav-it-docs-web-dev:checked ~ .row-container:nth-of-type(3) #it-docs-content-container {

  display: grid;

}

/* Backend: software-dev, it-architecture, backend-tools */
#radio-sub-nav-it-docs-software-dev:checked ~ .row-container:nth-of-type(3) #it-docs-content-container,
#radio-sub-nav-it-docs-it-architecture:checked ~ .row-container:nth-of-type(3) #it-docs-content-container,
#radio-sub-nav-it-docs-backend-tools:checked ~ .row-container:nth-of-type(3) #it-docs-content-container {

  display: grid;

}

/* Ai */
#radio-nav-it-docs-ai:checked ~ .row-container:nth-of-type(3) #it-docs-content-container {

  display: grid;
}
