/* --------------------------------------------------------------- */
/* > resp-row-content-containers.css
/*
/* : styles resp row content containers
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* All | Resp | Row Content Containers
/* ---------------------------------------------------------------- */

.resp-row-content-container-small {

  width: 100%;

}


/* ------------------------------------------------------- */
/* Small
/* Min Width >= 1000px
/* ------------------------------------------------------- */

@media (min-width: 1000px) {

  .resp-row-content-container-small {

      width: 45em;
      background-color: orange;
  }

}
