/* --------------------------------------------------------------- */
/* > resp-row-content-containers.css
/*
/* : styles resp row content containers
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* All | Resp | Row Content Containers
/* ---------------------------------------------------------------- */

.resp-row-content-container-small,
.resp-row-content-container-medium {

  width: 100%;

}


/* ------------------------------------------------------- */
/* Small, Medium
/* Min Width >= 1000px
/* ------------------------------------------------------- */

@media (min-width: 1000px) {

  .resp-row-content-container-small {

      width: 45em;
      /* background-color: orange; */
  }

  .resp-row-content-container-medium {

    width: 55em;
  }

}
