/* --------------------------------------------------------------- */
/* > row-container.css
/*
/* : styles row container
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Row Container
/* ---------------------------------------------------------------- */

.row-container {

  width: 100%;

  box-sizing: border-box;
  padding: 0 .8em;

  display: grid;
  justify-items: center;

  background-color: white;

  border-radius: 1.3em;

}
