/* --------------------------------------------------------------- */
/* > language-trainer-private.css
/*
/* : styles book private
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Language Trainer | Container Private
/* ---------------------------------------------------------------- */

#language-trainer-container-private {

  padding: 1.5em 0;


  background-color: rgb(108, 120, 108);

}
