/* --------------------------------------------------------------- */
/* > nav-language-trainer-private.css
/*
/* : styles sub nav private
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Nav Language Trainer | Private
/* ---------------------------------------------------------------- */

#nav-language-trainer-private {

  display: none;

  color:rgb(251, 185, 185);

}
