/* --------------------------------------------------------------- */
/* > handling-sub-nav-it-docs-more-it.css
/*
/* : styles ...
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Handlings Styles
/* ---------------------------------------------------------------- */

/* default unshown */
input[name="name-radio-nav-coding-tasks"] {

  display: none;

}

/* set background red | ⚠️ dont understand why 2 because it should be 1 */
#radio-nav-coding-tasks-leetcode:checked ~ .row-container:nth-of-type(2) label[for="radio-nav-coding-tasks-leetcode"],
#radio-nav-coding-tasks-others:checked ~ .row-container:nth-of-type(2) label[for="radio-nav-coding-tasks-others"] {

  background-image: linear-gradient(to right, #db7272, #da9292);

}

/* change img custom radio */
#radio-nav-coding-tasks-leetcode:checked ~ .row-container:nth-of-type(2) label[for="radio-nav-coding-tasks-leetcode"] > .counter-custom-radio-nav-label-radio .custom-radio-small > img,
#radio-nav-coding-tasks-others:checked ~ .row-container:nth-of-type(2) label[for="radio-nav-coding-tasks-others"] > .counter-custom-radio-nav-label-radio .custom-radio-small > img {

   display: flex;

}
