/* --------------------------------------------------------------- */
/* > install-steps-detail-fullsize.css
/*
/* : define install steps, setup steps, test steps
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Install Steps |
/* ------------------------------------------------------- */

#install-steps-info-detail-fullsize {

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------- */
/* Setup Steps |
/* ------------------------------------------------------- */

#setup-steps-info-detail-fullsize {

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------- */
/* Test Steps |
/* ------------------------------------------------------- */

#test-steps-info-detail-fullsize {

  /* default unshown */
  display: none;

}
