/* --------------------------------------------------------------- */
/* > test-steps-detail-fullsize.css
/*
/* : define test steps
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Test Steps |
/* ------------------------------------------------------- */

#test-steps-info-detail-fullsize {

  /* default unshown */
  display: none;

}

/* ------------------------------------------------------- */
/* Main | Test Steps
/* ------------------------------------------------------- */

#test-steps-info-detail-fullsize > main {

  box-sizing: border-box;
  width: 100%;

  display: grid;
  justify-items: center;

  row-gap: 3em;


}

/* ------------------------------------------------------- */
/* Main | Header | Test Steps
/* ------------------------------------------------------- */

#test-steps-info-detail-fullsize > main > header {

  width: 100%;

  display: flex;
  justify-content: center;

  /* background-color: grey; */

}

#test-steps-info-detail-fullsize > main > header > img {

  height: 3em;
  opacity: .2;

}

/* ------------------------------------------------------- */
/* Main | Footer | Test Steps
/* ------------------------------------------------------- */


#test-steps-info-detail-fullsize > main > footer {

  width: 100%;

  display: flex;
  justify-content: center;

  /* background-color: grey; */

}

#test-steps-info-detail-fullsize > main > footer > img {

  height: 3em;
  opacity: .2;

}
