/* --------------------------------------------------------------- */
/* > mini-games-more-it.css
/*
/* : styles ...
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* ...
/* ---------------------------------------------------------------- */

#mini-games-container-more-it {

  width: 100%;
  padding: 2.5em 0;

  display: none;

  background-color: rgb(165, 42, 144);

}
