/* --------------------------------------------------------------- */
/* > meals-private.css
/*
/* : styles book private
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Meals Container Private
/* ---------------------------------------------------------------- */

#meals-container-private {

  padding: 1.5em 0;
  height: 100%;

  display: none;

  background-color: green;

}
