/* --------------------------------------------------------------- */
/* > nav-meals-private.css
/*
/* : styles sub nav private
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Nav Meals | Private
/* ---------------------------------------------------------------- */

#nav-meals-private {

  display: none;

  color:green;

}
