/* --------------------------------------------------------------- */
/* > img-fullsize-slider.css
/*
/* : styles img gallery fullsize slider
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Img Gallery Fullsize Slider
/* ---------------------------------------------------------------- */

.img-gallery-fullsize-slider {

  box-sizing: border-box;

  width: 100%;
  /* height: 100%; */
  padding: 1em 0;

  display: grid;
  grid: 1fr / 1fr;
  align-items: flex-start;
  /* justify-items: center; */

  row-gap: 1em;

  border: 1px solid black;

  background-color: red;

}

/* ---------------------------------------------------------------- */
/* Main | Img Fullsize Slider
/* ---------------------------------------------------------------- */

.img-gallery-fullsize-slider > main {

  position: relative;

  width: 100%;
  /* height: 20em; */
  /* object-fit: contain; */

  display: grid;
  /* justify-items: center; */

  background-color: blue;

}

.img-big-placeholder {

  background-color: white;
  width: 100%;
  /* trick, with padding-top we can calc correct img pixel sizes without js
    with height it doesnt work */
  /* this pixel sizes are my fixed big img sizes */
  padding-top: calc( 100% * ( 1731px / 3730px)  );

}

/* big img */
.img-gallery-fullsize-slider > main > img {

  position: absolute;

  width: 100%;
  /* height: 100%; */



  border-radius: 0em;

}

/* ---------------------------------------------------------------- */
/* Mini Img Miniatur Link Container
/* ---------------------------------------------------------------- */

.mini-img-miniature-link-container {

  /* mobile */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */

  /* desktop */
  display: grid;
  grid: auto / 1fr 1fr;

  gap: .3em;

  background-color: green;

}

/* img */
.mini-img-miniature-link-container > img {

  /* mobile */
  width: 100%;

  /* desktop */
  /* min-width: 8em;
  height: 7em; */

  border-radius: .4em;

  opacity: .6;

  cursor: pointer;
  transition: all .4s;

}

/* hover */
.mini-img-miniature-link-container > img:hover {

  opacity: 1;

}
