/* --------------------------------------------------------------- */
/* > img-fullsize-slider.css
/*
/* : styles img fullsize slider
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Img Fullsize Slider
/* ---------------------------------------------------------------- */

.img-fullsize-slider {


}
