/* --------------------------------------------------------------- */
/* > resp-img-gallery-fullsize-slider.css
/*
/* styles resp img gallery fullsize slider
/*
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* Min Width >= 380px
/* ------------------------------------------------------- */
@media (min-width: 380px) {


  /* ---------------------------------------------------------------- */
  /* Mini Img Miniatur Link Container
  /* ---------------------------------------------------------------- */

  .mini-img-miniature-link-container {

    grid: auto / 1fr 1fr 1fr;

  }

}

/* ------------------------------------------------------- */
/* Min Width >= 480px
/* ------------------------------------------------------- */
@media (min-width: 480px) {


  /* ---------------------------------------------------------------- */
  /* Mini Img Miniatur Link Container
  /* ---------------------------------------------------------------- */

  .mini-img-miniature-link-container {

    grid: auto / 1fr 1fr 1fr 1fr;

  }

}

/* ------------------------------------------------------- */
/* Min Width >= 600px
/* ------------------------------------------------------- */
@media (min-width: 600px) {


  /* ---------------------------------------------------------------- */
  /* Mini Img Miniatur Link Container
  /* ---------------------------------------------------------------- */

  .mini-img-miniature-link-container {

    grid: auto / 1fr 1fr 1fr 1fr 1fr;

  }

}

/* ------------------------------------------------------- */
/* Min Width >= 800px
/* ------------------------------------------------------- */
@media (min-width: 800px) {


  /* ---------------------------------------------------------------- */
  /* Mini Img Miniatur Link Container
  /* ---------------------------------------------------------------- */

  .mini-img-miniature-link-container {

    width: 90%;
    grid: auto / 1fr 1fr 1fr 1fr 1fr 1fr;

  }

}


/* ------------------------------------------------------- */
/* Min Width >= 1000px
/* ------------------------------------------------------- */
@media (min-width: 1000px) {


  /* ---------------------------------------------------------------- */
  /* Mini Img Miniatur Link Container
  /* ---------------------------------------------------------------- */

  .mini-img-miniature-link-container {

    width: 75%;
    grid: auto / 1fr 1fr 1fr 1fr 1fr 1fr;

  }

}

/* ------------------------------------------------------- */
/* Min Width >= 1200px
/* ------------------------------------------------------- */
@media (min-width: 1200px) {


  /* ---------------------------------------------------------------- */
  /* Mini Img Miniatur Link Container
  /* ---------------------------------------------------------------- */

  .mini-img-miniature-link-container {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    column-gap: .3em;

  }

  /* ---------------------------------------------------------------- */
  /* Mini Img Miniatur | img
  /* ---------------------------------------------------------------- */
  .mini-img-miniature-link-container > img {

    /* desktop */
    width: auto;
    min-width: 8em;
    height: 7em;

  }


}
