/* --------------------------------------------------------------- */
/* > mini-games-more-it.css
/*
/* : styles ...
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Mini Games Container | More IT
/* ---------------------------------------------------------------- */

#mini-games-container-more-it {

  width: 100%;
  padding: 2.5em 0;

  display: none;

  background-color: rgb(165, 42, 144);

}

/* ---------------------------------------------------------------- */
/* Row Container (overwerite)
/* ---------------------------------------------------------------- */

/* white */
#mini-games-container-more-it > .list-rows-content-container > .row-container:nth-child(odd) {

  background-color: rgb(169, 169, 169);

}
