/* --------------------------------------------------------------- */
/* > mini-games-more-it.css
/*
/* : styles mini games content
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Mini Games Content Container
/* ---------------------------------------------------------------- */

#mini-games-content-container {

  width: 100%;

  display: none;

  /* background-color: rgb(165, 42, 144); */

}

/* default unshown | img header content container */
#mini-games-content-container > .row-container:nth-of-type(1) .header-content-container > img {

  display: none;

}

/* ---------------------------------------------------------------- */
/* Row Container (overwerite - white )
/* ---------------------------------------------------------------- */

#mini-games-content-container > .row-container:nth-of-type(1) {

  /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
  background-color: rgb(28, 28, 28);


}

/* ---------------------------------------------------------------- */
/* Row Container (overwerite - white, grey)
/* ---------------------------------------------------------------- */

#mini-games-content-container > .list-rows-content-container > .row-container:nth-child(odd) {

  /* background-color: rgb(220, 220, 220); */
  background-color: rgb(238, 238, 238);

}

/* ---------------------------------------------------------------- */
/* All | Row Container add paddings
/* ---------------------------------------------------------------- */

#mini-games-content-container > .list-rows-content-container > .row-container {

  padding-top: 3em;
  padding-bottom: 3em;

}

/* ---------------------------------------------------------------- */
/* Two Col Layout Mini Games
/* ---------------------------------------------------------------- */

.two-col-layout-mini-games {

  width: 100%;
  display: grid;
  align-items: flex-start;
  justify-content: center;

  justify-items: center;

  row-gap: 2em;

  /* background-color: red; */

}
