/* --------------------------------------------------------------- */
/* > mini-it-projects-more-it.css
/*
/* : styles layout of mini it project content
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Mini IT Projects Content Container
/* ---------------------------------------------------------------- */

#mini-it-projects-content-container {

  width: 100%;
  display: grid;

  display: none;

  background-color: rgb(165, 138, 42);

}

/* default unshown | img header content container */
#mini-it-projects-content-container > .row-container:nth-of-type(1) .header-content-container > img {

  display: none;

}

/* ---------------------------------------------------------------- */
/* Row Container | overwrite to blue
/* ---------------------------------------------------------------- */

#mini-it-projects-content-container > .row-container:nth-of-type(1) {

  /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
  background-color: rgb(28, 28, 28);

}

/* ---------------------------------------------------------------- */
/* Row Container | overwrite light grey by every odd
/* ---------------------------------------------------------------- */

#mini-it-projects-content-container > .list-rows-content-container > .row-container:nth-child(odd) {

  background-color: rgb(238, 238, 238);

}

/* ---------------------------------------------------------------- */
/* Row Container | add paddings
/* ---------------------------------------------------------------- */

#mini-it-projects-content-container > .list-rows-content-container > .row-container {

  padding-top: 3em;
  padding-bottom: 3em;

}
