/* --------------------------------------------------------------- */
/* > nav-action-labels-radio-body.css
/*
/* : styles nav action labels radio body
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* All | Nav Action Labels Radio Body
/* ---------------------------------------------------------------- */

.nav-action-label-radio-body-medium,
.nav-action-label-radio-body-large {

    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    column-gap: .4em;

    font-weight: bold;
    /* border: 1px solid black; */

    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    color: #1e1e1e;

    transition: all .4s;
    cursor: pointer;
    user-select: none;

}

.nav-action-label-radio-body-medium > div:nth-of-type(1) > div,
.nav-action-label-radio-body-large > div:nth-of-type(1) > div {

  font-size: 14.5px;

}

/* hover */
.nav-action-label-radio-body-medium:hover,
.nav-action-label-radio-body-large:hover {

  background-image: linear-gradient(to right, #db7272, #da9292);

}

/* ---------------------------------------------------------------- */
/* Div 1 | Img + Title
/* ---------------------------------------------------------------- */

.nav-action-label-radio-body-medium > div:nth-of-type(1),
.nav-action-label-radio-body-large > div:nth-of-type(1) {

  display: flex;
  align-items: center;
  column-gap: .6em;

}

/* ---------------------------------------------------------------- */
/* Medium
/* ---------------------------------------------------------------- */

.nav-action-label-radio-body-medium {

  height: 2.3em;
  padding: 0 .6em;
  border-radius: .6em;

}

/* ---------------------------------------------------------------- */
/* Large
/* ---------------------------------------------------------------- */

.nav-action-label-radio-body-large {

  height: 2.8em;
  padding: 0 .6em;
  border-radius: .6em;

}
