/* --------------------------------------------------------------- */
/* > nav-coding-tasks-more-it.css
/*
/* : styles ...
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Nav Coding Tasks | More IT
/* ---------------------------------------------------------------- */

#nav-coding-tasks-more-it {

  padding: 1em 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  column-gap: .4em;
  row-gap: .4em;

  /* background-color: green; */

}
