/* --------------------------------------------------------------- */
/* > footer-body.css
/*
/* : style my body footer
/* --------------------------------------------------------------- */


/* ----------------------------------------------------- */
/* Footer Body
/* ----------------------------------------------------- */

#footer-body {

  width: 100%;

  display: grid;
  justify-items: center;

  border-top: 3px solid rgb(36, 36, 36);

  color:white;

  background-color: rgb(28, 28, 28);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

  border-top: 4px solid rgba(0, 242, 254, .3);

}

/* ----------------------------------------------------- */
/* Footer Body Container
/* ----------------------------------------------------- */

#footer-body-container {

  width: 100%;
  height: 3.5em;

  box-sizing: border-box;

  /* more space than in main */
  padding-left: .8em;
  padding-right: .8em;

  display: flex;
  align-items: center;
  justify-content: center;

}

/* ----------------------------------------------------- */
/* Copyright Footer Body
/* ----------------------------------------------------- */

#copyright-footer-body {

  display: flex;
  align-items: center;
  column-gap: .3em;

  font-weight: bold;

}

/* img */
#img-footer-body-copyright {

  height: 1em;
  opacity: .4;

}

/* superfreshdev */
#footer-body-title-superfreshdev {

  color: white;
  opacity: .4;

}

/* slash */
#footer-body-title-slash {

  color:rgba(0, 242, 254, .6);
  opacity: .8;

}

/* year */
#footer-body-title-year {

  color: rgba(0, 242, 254, .6);
  opacity: .8;

}
