/* --------------------------------------------------------------- */
/* > resp-footer-body.css
/*
/* : set responsive styles of footer body
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Min Width >= 350px
/* --------------------------------------------------------------- */

@media (min-width: 350px) {



}

/* --------------------------------------------------------------- */
/* Min Width >= 600px
/* --------------------------------------------------------------- */

@media (min-width: 600px) {

  #footer-body-container  {

    width: 90%;
    padding: 0 0;

  }

}

/* --------------------------------------------------------------- */
/* Min Width >= 1000px
/* --------------------------------------------------------------- */

  @media (min-width: 1000px) {

    #footer-body-container {

      width: 55em;
      /* background-color: yellow; */

    }

  }

/* --------------------------------------------------------------- */
/* Min Width >= 1200px
/* --------------------------------------------------------------- */

  @media (min-width: 1200px) {

    #footer-body-container {

      width: 65em;
      /* background-color: rgb(0, 42, 255); */

    }

  }
