/* --------------------------------------------------------------- */
/* > resp-footer-body.css
/*
/* : set responsive styles of footer body
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Min Width >= 350px
/* --------------------------------------------------------------- */

@media (min-width: 350px) {



}

/* --------------------------------------------------------------- */
/* Min Width >= 600px
/* --------------------------------------------------------------- */

@media (min-width: 600px) {

  #footer-body-container  {

   /* delete padding which only important in mobile */
    padding-left: 0;
   padding-right: 0;

  }

}
