/* --------------------------------------------------------------- */
/* > algos-info-container.css
/*
/* : styles algos info container from coding task
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* Algos Info Container Coding Task
/* ---------------------------------------------------------------- */

#algos-info-container-coding-task {

  /* padding-bottom: .8em; */

  /* background-color: red; */

}

/* ---------------------------------------------------------------- */
/* Algos Info Content Container
/* ---------------------------------------------------------------- */

.algos-info-content-container {

  display: grid;

}

/* ---------------------------------------------------------------- */
/* All | Basic, Math, Advanced (unshown)
/* ---------------------------------------------------------------- */

#basic-algo-info-container,
#math-algo-info-container,
#advanced-algo-info-container {

  display: none;

}


/* ---------------------------------------------------------------- */
/* Header | Algos Info Content Container
/* ---------------------------------------------------------------- */

.algos-info-content-container > header {

  padding: 0 .3em 1em .3em;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: .4em;
  row-gap: .4em;

  font-weight: bold;

  /* background-color: #ececec; */
  /* background-color: red; */

}

/* div 1 > header */
.algos-info-content-container > header > div:nth-of-type(1) > img {

  opacity: .3;
  /* layout pos fix */
  padding-bottom: 1.5px;

}

/* div > header */
.algos-info-content-container > header > div {

  display: flex;
  align-items: center;
  column-gap: .4em;

  color: #808080;

}

/* div> div > header */
.algos-info-content-container > header > div > div {

  font-size: 14.5px;

}

/* ---------------------------------------------------------------- */
/* Main | Algos Info Content Container
/* ---------------------------------------------------------------- */

.algos-info-content-container > main {

  padding: 1em .8em;
  margin-bottom: 1.5em;

  display: grid;
  row-gap: 1em;

  border-radius: .6em;

  background-color: rgb(248, 248, 248);

}

/* ---------------------------------------------------------------- */
/* All Mains | Basic, Math, Advanced (unshown)
/* ---------------------------------------------------------------- */

/* default set */
#basic-algo-info-container > main,
#math-algo-info-container > main,
#advanced-algo-info-container > main {

  display: none;

}

/* ---------------------------------------------------------------- */
/* Algo Info Item
/* ---------------------------------------------------------------- */

/* default set */
.algo-info-item {

  line-height: 1.4em;
  /* background-color: red; */

}

/* ---------------------------------------------------------------- */
/* Category Algo Info Container
/* ---------------------------------------------------------------- */

.category-algo-info-container {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: .3em;
  row-gap: .2em;

  font-weight: bold;

}

.category-algo-info-container > div {

  font-size: 14.5px;

  color:rgb(91, 91, 91);

}

/* ---------------------------------------------------------------- */
/* Info Algo Info Container
/* ---------------------------------------------------------------- */

.info-algo-container {

  font-size: 14.5px;
  color:rgb(159, 159, 159);

}
