/* --------------------------------------------------------------- */
/* > buttons-light-grey.css
/*
/* : style default buttons which light grey style
/*   optimal for .zip, github, ... buttons
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* All | Buttons Light Grey
/* ------------------------------------------------------- */

.button-light-grey-small,
.button-light-grey-medium,
.button-light-grey-big {

  /* delete default html button styles */
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

  /* new button style */
  display: flex;
  align-items: center;
  column-gap: .4em;

  font-weight: bold;

  border-radius: .4em;

  /* border: 1px solid rgb(185, 185, 185); */
  border: 1px solid rgb(195, 195, 195);

  background-color: #e3e3e3;
  color:rgb(91, 91, 91);

  opacity: .8;

  text-decoration: none;
  transition: all .4s;

}

/* only to container */
.button-not-allowed {

  cursor: not-allowed;

}

/* only by button, if we use both than not-allowed will be overwrite */
.button-no-pointer-events {

  pointer-events: none;

}

/* ------------------------------------------------------- */
/* Div |  Buttons Light Grey
/* ------------------------------------------------------- */

.button-light-grey-small > div,
.button-light-grey-medium > div,
.button-light-grey-big > div {

  font-size: 14.5px;

}

/* ------------------------------------------------------- */
/* Img (opacity) | Link Light Grey
/* ------------------------------------------------------- */

.button-light-grey-small > img,
.button-light-grey-medium  > img,
.button-light-grey-big  > img´{

  opacity: .8;

}

/* hover */
.button-light-grey-small:hover,
.button-light-grey-medium:hover,
.button-light-grey-big:hover {

  opacity: 1;
  background-color: rgb(251, 133, 133);

}

/* visited */
.button-light-grey-small:visited,
.button-light-grey-medium:visited,
.button-light-grey-big:visited {

  color:rgb(91, 91, 91);

}

/* ------------------------------------------------------- */
/* Small
/* ------------------------------------------------------- */

.button-light-grey-small {

  height: 1.6em;
  padding: 0 .6em;

}

/* ------------------------------------------------------- */
/* Medium
/* ------------------------------------------------------- */

.button-light-grey-medium {

  height: 1.8em;
  padding: 0 .6em;

}

/* ------------------------------------------------------- */
/* Big
/* ------------------------------------------------------- */

.button-light-grey-big {

  height: 2.5em;
  padding: 0 .6em;

}
