/* --------------------------------------------------------------- */
/* > buttons-light-grey.css
/*
/* : style default buttons which light grey style
/*   optimal for .zip, github, ... buttons
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* All | Buttons Light Grey
/* ------------------------------------------------------- */

.button-light-grey-small,
.button-light-grey-medium,
.button-light-grey-big {

  /* delete default html button styles */
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

  /* new button style */
  display: flex;
  align-items: center;
  column-gap: .4em;

  font-weight: bold;

  border-radius: .4em;

  border: 1px solid rgb(67, 67, 67);
  color:rgb(91, 91, 91);

  text-decoration: none;
  transition: all .4s;

}

/* only to container */
.button-not-allowed {

  cursor: not-allowed;

}

/* only by button, if we use both than not-allowed will be overwrite */
.button-no-pointer-events {

  pointer-events: none;

}

/* ------------------------------------------------------- */
/* Div |  Buttons Light Grey
/* ------------------------------------------------------- */

.button-light-grey-small > div,
.button-light-grey-medium > div,
.button-light-grey-big > div {

  font-size: 14.5px;

}

/* ------------------------------------------------------- */
/* Img (opacity) | Link Light Grey
/* ------------------------------------------------------- */

/* img grey 1 */
.button-light-grey-small > img:nth-of-type(1),
.button-light-grey-medium  > img:nth-of-type(1),
.button-light-grey-big  > img:nth-of-type(1) {

  opacity: .8;

}

/* default unshown img black */
.button-light-grey-small > img:nth-of-type(2),
.button-light-grey-medium  > img:nth-of-type(2),
.button-light-grey-big  > img:nth-of-type(2) {

  display: none;

}

/* hover */
.button-light-grey-small:hover,
.button-light-grey-medium:hover,
.button-light-grey-big:hover {

  border: 1px solid rgb(155, 155, 155);
  background-color: rgb(251, 133, 133);
  /* background-color: wheat; */
  color:rgb(19, 19, 19);

}

/* hover > unshown img grey */
.button-light-grey-small:hover > img:nth-of-type(1),
.button-light-grey-medium:hover > img:nth-of-type(1),
.button-light-grey-big:hover > img:nth-of-type(1) {

  display: none;

}

/* hover > show img black */
.button-light-grey-small:hover > img:nth-of-type(2),
.button-light-grey-medium:hover > img:nth-of-type(2),
.button-light-grey-big:hover > img:nth-of-type(2) {

  display: flex;

}


/* ------------------------------------------------------- */
/* Small
/* ------------------------------------------------------- */

.button-light-grey-small {

  height: 1.8em;
  padding: 0 .6em;

}

/* ------------------------------------------------------- */
/* Medium
/* ------------------------------------------------------- */

.button-light-grey-medium {

  height: 1.8em;
  padding: 0 .6em;

}

/* ------------------------------------------------------- */
/* Big
/* ------------------------------------------------------- */

.button-light-grey-big {

  height: 2.5em;
  padding: 0 .6em;

}
