/* --------------------------------------------------------------- */
/* > about-hobbys.css
/*
/* : styles about hobbys
/* --------------------------------------------------------------- */


/* ---------------------------------------------------------------- */
/* About Hobbys Container
/* ---------------------------------------------------------------- */

#about-hobbys-container {

  padding: 3em .8em;

  background-color: white;
  color:black;

  /* default unshown */
  display: none;

}

/* ---------------------------------------------------------------- */
/* About Hobbys Content List
/* ---------------------------------------------------------------- */

#about-hobbys-content-list {

  display: grid;
  row-gap: 2em;


}

/* ---------------------------------------------------------------- */
/* About Hobbys Content
/* ---------------------------------------------------------------- */

.about-hobbys-content {

  display: grid;
  justify-items: center;
  row-gap: 2em;

}
