/* --------------------------------------------------------------- */
/* > about-hobbys-header.css
/*
/* : styles about hobby header - the hobby items
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* About Hobbys Header
/* ------------------------------------------------------- */

.about-hobbys-header {

  font-size: 20px;
  color:rgb(172, 172, 172);

}
