/* --------------------------------------------------------------- */
/* > about-hobbys-item.css
/*
/* : styles about hobby item
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* About Hobbys Item
/* ------------------------------------------------------- */

.about-hobbys-item {

  height: 5em;

  /* mobile */
  width: 100%;

  /* desktop */
  /* width: 20em; */

  display: flex;
  align-items: center;

  border-radius: .8em;

  background-color: #f3f3f3;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

/* ------------------------------------------------------- */
/* Img | About Hobbys Item
/* ------------------------------------------------------- */

.about-hobbys-item > img:nth-of-type(1) {

  height: 5em;
  width: 5em;

  border-radius: .8em 0 0 .8em;

}

/* ------------------------------------------------------- */
/* Div 1 | About Hobbys Item
/* ------------------------------------------------------- */

.about-hobbys-item > div:nth-of-type(1) {

  /* height: 100%; */
  padding: 0 .8em;

  font-size: 14.5px;

  line-height: 1.4em;
  font-weight: bold;

  color:#5f5f5f;

}

/* ------------------------------------------------------- */
/* About Hobbys Item Inspiration
/* ------------------------------------------------------- */

.about-hobbys-item-inspiration {

  /* mobile */
  width: 100%;

  /* desktop */
  /* width: 20em; */

  display: grid;

  border-radius: .8em;

  background-color: #f3f3f3;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

/* ------------------------------------------------------- */
/* Header | About Hobbys Item Inspiration
/* ------------------------------------------------------- */

.about-hobbys-item-inspiration > header {

  height: 5em;

  display: flex;
  align-items: center;

}

/* img */
.about-hobbys-item-inspiration > header > img {

  height: 5em;
  width: 5em;

  border-radius: .8em 0 0 0em;

}

/* text */
.about-hobbys-item-inspiration > header > div {

  padding: 0 .8em;

  font-size: 14.5px;

  line-height: 1.4em;
  font-weight: bold;

  color:#5f5f5f;

}

/* ------------------------------------------------------- */
/* Main | Text, List |  About Hobbys Item Inspiration
/* ------------------------------------------------------- */

.about-hobbys-item-inspiration-text,
.about-hobbys-item-inspiration-list {

  box-sizing: border-box;

  font-size: 14.5px;
  line-height: 1.7em;

}

/* ------------------------------------------------------- */
/* Text | About Hobbys Item Inspiration
/* ------------------------------------------------------- */

.about-hobbys-item-inspiration-text {

  padding: 1em .8em;
  color:#5f5f5f;

}

/* ------------------------------------------------------- */
/* List | About Hobbys Item Inspiration
/* ------------------------------------------------------- */

.about-hobbys-item-inspiration-list {

  width: 100%;

  /* mobile */
  padding: 2em 0em 2em 0em;

  display: grid;
  justify-items: center;
  row-gap: 2.5em;

  color:#5f5f5f;

}

/* ------------------------------------------------------- */
/* Header | List | About Hobbys Item Inspiration
/* ------------------------------------------------------- */

.about-hobbys-item-inspiration-list > header {

  font-size: 14.5px;

  height: 1.8em;
  padding: 0 .6em;

  font-weight: bold;
  border-radius: .8em;

  background-color: rgb(228, 228, 228);
  color: rgb(123, 123, 123);

}

/* ------------------------------------------------------- */
/* Main | List | About Hobbys Item Inspiration
/* ------------------------------------------------------- */

.about-hobbys-item-inspiration-list > main {

  width: 100%;

  display: grid;
  justify-items: center;

  row-gap: .8em;

  /* background-color: red; */

}

/* ------------------------------------------------------- */
/* About Hobbys Item Audio Container
/* ------------------------------------------------------- */

.about-hobbys-item-audio-container {

  /* mobile */
  width: 100%;

  /* desktop */
  /* width: 22em; */

  display: grid;
  /* justify-items: center; */
  row-gap: .4em;

}

/* header */
.about-hobbys-item-audio-container > header {

  font-size: 14.5px;

  line-height: 1.5em;

  color: #7d7d7d;

}

/* audio */
.about-hobbys-item-audio-container > audio {

  /* small mobile */
  display: none;

}
