/* --------------------------------------------------------------- */
/* > about-hobbys-header.css
/*
/* : styles about hobby header - the hobby items
/* --------------------------------------------------------------- */


/* ------------------------------------------------------- */
/* About Hobbys Header
/* ------------------------------------------------------- */

.about-hobbys-header {

  font-size: 24px;
  color:rgb(158, 158, 158);

}
